<% provide(:title, 'About us') %>
<div id="static_pages_about">
<div class="about_section">
  <div class="container">
    <div class="about first">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>About us</h1>
            <br/>
            <p class="lead">
              TripThru is a new company made up of a team of developers pulled from multiple companies that have
              built products for other on-demand service industries, including many fortune 500 companies.
              Our team members have designed the core algorithms that have delivered productivity improvements of
              between 10 to 40% for core functions of these companies.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Ed Hamilton<span class="role">Founder & CEO</span></h1>
            <br/>
            <p class="lead">
              Ed has 25+ years experience in software development in the area of optimization for high-volume, on-demand
              service industries. He has successfully built optimization solutions used by numerous Fortune 500 companies
              scheduling over a million agents a day. He is an inventor on over 14 patents in the area of optimization,
              forecasting, simulation, scheduling, routing, and long term planning.  Graduate of UCSC.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Mike Conley<span class="role">Business Development</span></h1>
            <br/>
            <p class="lead">
              Mike’s career has mainly been engaged in helping high technology start-up companies establish their
              business in Asia, including Nuance Communications and Bytemobile. This involved building partnerships with
              leading companies and hiring professional sales and support teams throughout the region.   He is fluent in
              Mandarin Chinese (oral & written), proficient  in Japanese (oral & written) and has lived in Hong Kong,
              Taiwan and Japan.  Graduate of Georgetown and National Chengchi University.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Joanna Glennon<span class="role">Marketing</span></h1>
            <br/>
            <p class="lead">
              Joanna has 10 years experience in public and press relations, issues management, and content development. 
              In addition to her work in the US Congress, she worked in private practice to promote the interests of
              diverse industry and public service clients with Congress, and federal regulatory agencies, and other
              relevant interest groups.  Graduate of Georgetown University (Ph.D.)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Sam Hedgpeth<span class="role">Active Advisor and member of Board of Directors</span></h1>
            <br/>
            <p class="lead">
              Sam’s career spans the Internet, software, manufacturing, supply chain, retail and hardware distribution
              industries and has international and complex technology/product transaction experience. He was both a CEO
              and CFO of public companies.  Five startups, four IPOs (of which he did three) and one merger.  Graduate
              of UC Berkeley and UCLA.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>