<% provide(:title, 'About us') %>
<div id="static_pages_about">
<div class="about_section">
  <div class="container">
    <div class="about first">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>About us</h1>
            <br/>
            <p class="lead">
              TripThru is a new company made up of a team of developers pulled from multiple companies that have
              built products for other on-demand service industries, including many fortune 500 companies.
              Our team members have designed the core algorithms that have delivered productivity improvements of
              between 10 to 40% for core functions of these companies.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Edward Hamilton</h1>
            <br/>
            <p class="lead">
              Edward has over 25 years experience in software development and 15 years in the area of optimization
              for high-volume, on-demand service industries.  He has successfully built optimization solutions used
              by numerous Fortune 500 companies scheduling over a million agents a day.
              He is an inventor on over 14 patents in the area of optimization, forecasting, simulation, scheduling, routing, and long term planning.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Mark Glennon</h1>
            <br/>
            <p class="lead">
              Mark has 30 years of deep and diverse experience with startups, technology, and high growth companies.
              From 2001 to 2010 Mark sourced and managed venture capital investments for Leo Capital Holdings.
              Recent board of directorship service includes GrubHub, Shoutlet and FunMobility.
              On behalf of Hyde Park Angels, an early stage investor group, he serves as an observer on the
              investment committee of Hyde Park Ventures. He is the founder of WirePoints, an online news site,
              and a Mentor at TechStars Chicago.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Ofer Matan</h1>
            <br/>
            <p class="lead">
              Ofer is an entrepreneur and a technologist. Most recently, he was CEO of BoldIQ,
              a provider of optimization and management solutions to the aviation, transportation and energy industries.
              Previously he was a founder, CTO and VP Marketing of Blue Pumpkin Software, the market leader of workforce
              optimization systems, with over 1,000 customers worldwide and $40M in annual sales. In 2002,
              Blue Pumpkin was 5th on the Inc 500 list of fastest growing private companies. The company was sold in 2005
              for $75M and now is part of Verint Systems (VRNT).  Before that Dr. Matan conducted research in the area
              of optical character recognition and computer learning systems at Bell Labs and at Stanford University.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>James Katic</h1>
            <br/>
            <p class="lead">
              James is a software architect with over 18 years of software development experience
              encompassing design, planning, implementation, testing and maintenance phases.
              Specialties include back-end services and architecture as well as browser and desktop interfaces.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h1>Joanna Glennon</h1>
            <br/>
            <p class="lead">
              Joanna’s background is in regulatory and legislative affairs.  She has worked in both government and
              the private sector, and holds a Ph.D. in History from Georgetown University.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>