<% provide(:title, 'Faq') %>

<div id="static_pages_faq">
<div class="faq">
    <div class="container">
        <div class="question first">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What is TripThru?</h1>
                <br/>
                <p class="lead">
                  TripThru is a cloud-based, neutral gateway that lets multiple taxi and limousine networks connect
                  via a single integration.  TripThru provides seamless, app-to-app inter-operability,
                  but never marries you to your last integration partner because your options are as big as
                  the alliance itself, and your affiliate network can be reconfigured without any additional work or
                  cost.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Why is this better than bi-lateral integrations?</h1>
                <br/>
                <p class="lead">
                  Bi-lateral integrations simply can't keep up with the new on-demand transportation market.
                  Not only are they too costly, but the pace of integrations is too slow to exploit new opportunities
                  in the fast-evolving international market.
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="question">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <h1>Why is neutrality so important?</h1>
              <br/>
              <p class="lead">
                Neutrality is the only way to guarantee quality and independence.
                TripThru doesn't have any passenger-facing product. We don't sell any app or dispatch system.
                TripThru is a pure back-end technology with no brand identity in the consumer market.
              </p>
            </div>
          </div>
        </div>
      </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What else does it do?</h1>
                <br/>
                <p class="lead">
                  TripThru also offers data analytics, forecasting, and state-of-the-art optimization.
                  Everything you need to be competitive in a tough market.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Do I have to route to all other partners in the network?</h1>
                <br/>
                <p class="lead">
                  No.  You can be allied to as many partners to the network as you choose,
                  and you can add and change the configuration of your allied network at the touch of a button
                  (and upon mutual agreement with the other partner).
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="question">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <h1>What do I have to buy?</h1>
              <br/>
              <p class="lead">
                Nothing.  Integration with the gateway is free. It doesn't cost anything to become part of a flexible,
                customizable, super alliance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>