<% provide(:title, 'Faq') %>

<div id="static_pages_faq">
<div class="faq">
    <div class="container">
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>How does it work?</h1>
                <p class="lead">
                  With just one integration to TripThru via your web API,
                  your fleet’s app can route calls to fleets in other cities
                  that are also compatible with the TripThru Gateway.
                  Your fleet’s app can then be used in all cities where other
                  fleets are connected to TripThru.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>How does that help my business?</h1>
                <p class="lead">
                  When you can direct your customers to licensed fleets in other cities,
                  they don’t need rogue apps to help them find rides.
                  That’s good for your customers, and for your business,
                  because once customers start using other apps to find rides,
                  they often don’t ever return to their local app.
                  Customers prefer having one app that covers all their taxi needs,
                  so if they have to choose one, it is usually the one that has the widest coverage.
                  It also grows your business by directing calls to your fleet when passengers travel
                  to your city and use another app that is connected to the TripThru Gateway.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Do I have to open up my dispatch system to TripThru?</h1>
                <p class="lead">
                  No.  We don’t get involved with your dispatch system.
                  You set the conditions for when you want to route jobs through the TripThru gateway.
                  We just accept and route the jobs you send to us according to the parameters you set.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Do I need to change my dispatch system?</h1>
                <p class="lead">
                  No.  The Gateway can be accessed via any dispatch system, usually with just a few consultations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Do I have to integrate exclusively with TripThru?</h1>
                <p class="lead">
                  No.
                  TripThru’s goal is to save your company time and money by providing global
                  access through only one integration, but TripThru will work for you no matter
                  how many other networks you integrate with.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Will I have to change my existing app?</h1>
                <p class="lead">
                  No.
                  TripThru just adds a roaming feature to your app, when you choose to activate it.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Why won’t my customers just go straight to TripThru when they are out of town?</h1>
                <p class="lead">
                  Because TripThru is not an app! It is purely a back-end integration feature for service providers.
                  Customers will never see or hear of TripThru, so they can never become TripThru customers!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Who controls the routing?</h1>
                <p class="lead">
                  You decide the parameters for routing out-of-town or overflow calls.
                  You can determine when to reroute the jobs and to whom, based on what is best for your customers.
                  The TripThru platform guides the job based on the parameters you set.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Does TripThru require any hardware?</h1>
                <p class="lead">
                  No.  None.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What else can TripThru do for my business?</h1>
                <p class="lead">
                  In the future we will be able to offer routing optimization, cruise optimization, rostering,
                  and (in some areas) price optimization.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Where is this all leading?</h1>
                <p class="lead">
                  We think it is leading to a healthy marketplace of licensed for-hire car services
                  that can give their customers the ease-of-use, and universal access they want,
                  without having to give up the safety, cost-effectiveness,
                  and accountability that only licensed providers can offer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Who Are We?</h1>
                <p class="lead">
                  TripThru is a new company made up of a team of developers pulled from multiple
                  companies that have built products for other on-demand service industries,
                  including many fortune 500 companies.
                  Our team members have designed the core algorithms that have delivered productivity
                  improvements of between 10 to 40% for core functions of these companies.
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>