<% provide(:title, 'Faq') %>

<div id="static_pages_faq">
<div class="faq">
    <div class="container">
        <div class="question first">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What is TripThru?</h1>
                <br/>
                <p class="lead">
                  TripThru is a neutral gateway that gives you seamless connectivity to multiple dispatch networks, eliminating the need for additional integrations if you want to expand or change your affiliate or lead-referral network.  One integration makes your API compatible with every other API in the gateway.
                </p>
                <p class="lead">
                  TripThru multiplies the effect of a single integration, saving your business time and money, and giving you the flexibility to expand and reconfigure your affiliate network, lead-referral partners and app networks without additional integrations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>Who can use TripThru?</h1>
                <br/>
                <p class="lead">
                  The gateway is for taxi and limousine fleets, and dispatch networks that want to give their customers greater freedom and flexibility in the marketplace.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What else does it do?</h1>
                <br/>
                <p class="lead">
                  TripThru puts data analytics at your fingertips so that you can improve customer service, reduce idle time, and deploy resources more effectively.  Data analytics helps you to increase customer satisfaction and grow your bottom line.
                </p>
                <p class="lead">
                  Automated optimization is also available, customized to the key metrics for your business.  TripThru offers advanced routing optimization, location optimization, scheduling, and price optimization.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <h1>What does it cost?</h1>
                <br/>
                <p class="lead">
                  Integration is free and there is no subscription fee.  We have an open API and no up-front costs.  We want you to use TripThru because it works for your business, not because you took out a subscription for it.
                </p>
                <p class="lead">
                  TripThru is a true back-end integration.  We do not get between you and your customers.
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>