<div id="api">
  <div id='body' class="swagger-ui-wrap">
    <p>You can dispatch pickup requests to our simulated partners via the POST /dispatch service.</p>
    <p>Dispatching to an area not covered by any of our partners will result in a reject request. Alternatively, you can get a list of quotes via</p>
    <p>GET /quote, and then dispatch to the partner of your choice.  After dispatching, you can get the status of your trip via GET /tripstatus.</p>
    <p>To serve a trip you can accept a GET /quote request and then accept the following POST /trip. You are expected to send out PUT /tripstatus</p>
    <p>requests and a POST /payment request after the trip is completed.</p>
    <br/>
    <p>1. Click on the path to get the API details</p>
    <p>2. Enter in the API parameters and press Try it out!</p>
    <p>3. The test client will return the Json request</p>
    <br/>
    <p>Connection status: <span id="socket-status">Connecting...</span></p>
  </div>
  <div class="col-md-8" id="swagger-panel">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <span class="panel-title">Outgoing requests</span>
      </div>
      <div class="panel-body">
        <div id="message-bar" class="swagger-ui-wrap">
          &nbsp;
        </div>
        <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" id="incoming-panel">
      <div class="panel-heading text-center" id="incoming-panel-header">
        <span class="panel-title">Incoming requests</span><span id="incoming-socket-status"></span>
      </div>
      <div class="panel-body" id="incoming-panel-list">
        <ul class="endpoints" id="network_endpoint_list" style="">
          <li class="endpoint">
            <ul class="operations">
              <li class="post operation" id="incoming-set-network">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-set-network-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-set-network-content">post</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-set-network-content">/network</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-set-network-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-set-network-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="get operation" id="incoming-get-network">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-get-network-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-network-content">get</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-network-content">/network/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-get-network-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-get-network-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="post operation" id="incoming-dispatch-trip">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-dispatch-trip-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-dispatch-trip-content">post</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-dispatch-trip-content">/trip/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-dispatch-trip-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-dispatch-trip-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="put operation" id="incoming-update-trip-status">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-update-trip-status-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-update-trip-status-content">put</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-update-trip-status-content">/tripstatus/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-update-trip-status-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-update-trip-status-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="get operation" id="incoming-get-trip-status">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-get-trip-status-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-trip-status-content">get</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-trip-status-content">/tripstatus/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-get-trip-status-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-get-trip-status-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="get operation" id="incoming-get-quote">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-get-quote-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-quote-content">get</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-quote-content">/quote</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-get-quote-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-get-quote-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="get operation" id="incoming-get-drivers">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-get-drivers-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-drivers-content">get</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-get-drivers-content">/drivers</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-get-drivers-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-get-drivers-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="post operation" id="incoming-request-payment">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-request-payment-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-request-payment-content">post</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-request-payment-content">/payment/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-request-payment-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-request-payment-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
              <li class="put operation" id="incoming-accept-payment">
                <div class="heading incoming-request-heading" data-toggle="collapse" data-target="#incoming-accept-payment-content">
                  <h3>
                    <span class="http_method">
                    <a href="#" data-toggle="collapse" data-target="#incoming-accept-payment-content">put</a>
                    </span>
                    <span class="path">
                    <a href="#" data-toggle="collapse" data-target="#incoming-accept-payment-content">/payment/{id}</a>
                    </span>
                  </h3>
                  <ul class="options">
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#incoming-accept-payment-content"></a>
                    </li>
                  </ul>
                  <span class="badge incoming-request-counter">0</span>
                </div>
                <div class="content collapse" id="incoming-accept-payment-content">
                  <div class="request json_block">
                    <div class="request_header json_block_header">
                      <h4>Request Body</h4>
                      <a href="#" class="accept disabled">Accept</a>
                      <a href="#" class="reject disabled">Reject</a>
                    </div>
                    <div class="block request_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                  <div class="response json_block">
                    <div class="response_header json_block_header">
                      <h4>Response Body</h4>
                    </div>
                    <div class="block response_body json_block_body json"><pre class="json">No active request</pre></div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade map-dialog" id="map-dialog" tabindex="-1" role="dialog" aria-labelledby="map-dialog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
</div>