<div id="swagger">
<div id='body' class="swagger-ui-wrap">
    <p>Use the GET /partners service to get a list of simulated partners and their coverage areas.</p>
    <p>Once you know the areas covered by our partners, you can dispatch pickup requests to them via the POST /dispatch service.</p>
    <p>Dispatching to an area not covered by any of our partners will result in a reject. Alternatively, you can get a list of quotes via</p>
    <p>GET /quotes, and then dispatch to the partner of your choice.  After dispatching, you can get the status of your trip via GET /tripstatus.</p>
    <p>To get a list of all active trips use GET /trips.</p>
    <br/>
    <p><b>1. Enter your api_key</b></p>
    <form id='api_selector'>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text" /></div>
    </form>
    <p>2. Click on the path to get the API details</p>
    <p>3. Enter in the API parameters and press TryIt</p>
    <p>4. The test client will return the Json response</p>
    <p>* We will soon be providing API wrappers in most major languages *</p>
  </div>
  <div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
</div>
</div>