<div id="dashboard">
  <div class="container">
    <div id="rate"></div>
    <div id="trips-main-panel" class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
          <div class="col-md-2 col-md-push-10 col-sm-12 col-xs-12">
            <div id="ratings-panel-container">
              <div class="panel panel-default">
                <div class="panel-heading text-center ">
                  <h3 class="panel-title">Ratings</h3>
                </div>
                <div class="panel-body" id="ratings-panel">
                  <div id="ratings-container"></div>
                </div>
              </div>
            </div>
            <div id="statistics-panel-container">
                <div class="panel panel-default">
                  <div class="panel-heading text-center ">
                    <h3 class="panel-title">Statistics</h3>
                  </div>
                  <div class="panel-body" id="statistics-panel">
                    <div id="statistics-gauges-container"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-10 col-md-pull-2 col-sm-12 hidden-xs">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading text-center ">
                    <h3 class="panel-title">Active trips</h3>
                  </div>
                  <div class="panel-body" id="trips-list-panel">
                    <div id="trip-list">
                      <div id='active-trips-chart'></div>
                      <select id='trip-status-selector' class="selectpicker">
                        <option value="All" selected="selected">All</option>
                        <option value="new">New</option>
                        <option value="queued">Queued</option>
                        <option value="dispatched">Dispatched</option>
                        <option value="enroute">Enroute</option>
                        <option value="pickedup">Picked up</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="rejected">Rejected</option>
                        <option value="complete">Complete</option>
                      </select>

                      <div id="trips-wrapper">
                        <div class="panel panel-default" id="trips">
                          <div class="panel-body" id="trips-panel">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading text-center ">
                    <h3 class="panel-title">Trip information</h3>
                  </div>
                  <div class="panel-body" id="tracking-panel">
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div id="tracking-trip-info">
                            <h1>Select a trip<span> <%= image_tag('loading.gif', height: 16, width: 16, :id => 'loadingImage')  %></span></h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div id="tracking-map-container">
                            <div id="map-canvas" class="tracking-map"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row" id="bottom-row">
          <div class="col-md-12 col-sm-12 hidden-xs" id="activity-column">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <h3 class="panel-title">Activity log</h3>
              </div>
              <div class="panel-body" id="activity-log-panel">
                <div id="activity-log">

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>