<div id="money">
  <div class="container">
      <div id="partner-select-container" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-default filter-button-group ">

          <h3>
            <div class="panel-body"> Network</div>
          </h3>
          <div class="panel-footer panel-footer-trips">
            <select id="partners-select" multiple="multiple" >

            </select>
          </div>
        </div>
      </div>

      <div id="farmed-in-container" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="panel panel-default">
            <h3>
                <div id="farmedInTitle" class="panel-body">
                  Farmed in <span class="badge pull-right" id="farmed-in-total"></span>
                </div>
            </h3>
            <div id="farmedInDiv" class="panel-footer panel-footer-trips">

            </div>
          </div>
      </div>
      <div id="farmed-out-container" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="panel panel-default">
            <h3>
                <div id="farmedOutTitle" class="panel-body">
                  Farmed out <span class="badge pull-right" id="farmed-out-total" ></span>
                </div>
            </h3>
            <div id="farmedOutDiv" class="panel-footer panel-footer-trips">

            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="balance-container">
          <div class="panel panel-default">
            <h3>
              <div id="balanceTitle" class="panel-body">
                <div class="pull-left">Total</div> <span class="badge pull-right" id="balance-due" ></span>
              </div>
            </h3>
            <div id="balanceDiv" class="panel-footer">

            </div>

          </div>
          <%= image_tag('loading.gif',:class => 'imageGif', :id => 'imageLoad')  %>
      </div>
  </div>
</div>