<div id="partners">
  <div class="page-header">
    <h3>Networks</h3>
  </div>
  <div class="row">
    <div id="statistics-panel-container">
      <div class="panel panel-default">
        <div class="panel-heading text-center ">
          <h3 class="panel-title">Statistics</h3>
        </div>
        <div class="panel-body" id="statistics-panel">
          <div id="statistics-gauges-container"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="col-md-10">
          <div id="partner-coverage-map" class="tracking-map"></div>
        </div>
        <div class="col-md-2 pull-right">
          <div class="panel panel-default filter-button-group">
            <div class="panel-body" id="partner-select-container">
                <select id="partner-select" multiple='multiple'>

                </select>
            </div>
          </div>
        </div>
    </div>
</div>