<div id="partners">
  <div class="page-header">
    <h3>Partners</h3>
  </div>
  <div class="container">
    <div class="col-md-10">
      <div id="partner-coverage-map" class="tracking-map"></div>
    </div>
    <div class="col-md-2 pull-right">
      <div class="panel panel-default filter-button-group">
        <div class="panel-body" id="partner-select-container">
            <select id="partner-select" multiple='multiple'>

            </select>
        </div>
      </div>
    </div>
  </div>
</div>

