<div id="report">
  <br />
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4 col-md-6 col-md-offset-4"><h2>Summary report <span id="spanReport" class="badge" ></span></h2></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading" >
              <h6 class="panel-title" id="titleComplete">

              </h6>
            </div>
              <div class="panel-body panel-body-trips" >
                <div id="listTripsComplete">
                    Empty.
                </div>
              </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="panel panel-default" >
              <div class="panel-heading" >
                <h4 class="panel-title" id="titleQueued">

                </h4>
              </div>
              <div class="panel-body panel-body-trips">
                <div id="listTripsQueued">
                  Empty.
                </div>
              </div>
         </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="panel panel-default" >
          <div class="panel-heading" >
            <h4 class="panel-title" id="titleRejected">

            </h4>
          </div>
          <div class="panel-body panel-body-trips">
            <div id="listTripsRejected">
              Empty.
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="panel panel-default" >
      <div class="panel-heading" >
        <h4 class="panel-title" id="titleCancelled">

        </h4>
      </div>
      <div class="panel-body panel-body-trips">
        <div id="listTripsCancelled">
          Empty.
        </div>
      </div>
  </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default" >
      <div class="panel-heading" >
        <h4 class="panel-title" id="titleError">

        </h4>
      </div>
      <div class="panel-body panel-body-trips">
        <div id="listTripsError">
          Empty.
        </div>
      </div>
  </div>
    </div>
  </div>
</div>