class money
    constructor: (@gateway, @selectorId) ->
        document.getElementById("imageLoad").style.visibility = "visible"
        @gateway.getPartners(@partnersList)
        @farmedA = 'out'
        $('#farmed-in-container').addClass('hidden')
        $('#farmedout-button').addClass('active')

        $('#farmedin-button').click =>
            $('#farmedout-button').removeClass('active')
            $('#farmedin-button').addClass('active')
            $('#farmed-in-container').removeClass('hidden')
            $('#farmed-out-container').addClass('hidden')
            @farmedA = 'in'
            @selectedFleet = $('#' + @selectorId + ' option:selected').val()
            @updateStats(@selectedFleet, @farmedA)

        $('#farmedout-button').click =>
            $('#farmedin-button').removeClass('active')
            $('#farmedout-button').addClass('active')
            $('#farmed-out-container').removeClass('hidden')
            $('#farmed-in-container').addClass('hidden')
            @farmedA = 'out'
            @selectedFleet = $('#' + @selectorId + ' option:selected').val()
            @updateStats(@selectedFleet, @farmedA)

    partnersList: (fleets) =>
        firstFleet = null
        for fleet in fleets.fleets
            if fleet.fleetName == "TripThru San Francisco" or (fleet.fleetName.toLowerCase() != $('#getUserName').html() and $('#getUserRole').html() == 'partner')
                continue
            if !firstFleet?
                firstFleet = fleet.partnerId
                $('#' + @selectorId).append('<option selected="selected" value="' + fleet.partnerId + '">' + fleet.fleetName + '</option>')
            else
                $('#' + @selectorId).append('<option value="' + fleet.partnerId + '">' + fleet.fleetName + '</option>')
        $('#' + @selectorId).change =>
            @selectedFleet = $('#' + @selectorId + ' option:selected').val()
            @updateStats(@selectedFleet, @farmedA)
        if firstFleet?
            @updateStats(firstFleet, @farmedA)

    updateStats: (iD, farmed) =>
        document.getElementById("imageLoad").style.visibility = "visible"
        day = new Date();
        day.setHours(day.getHours()-24);
        date = +day / 1000;
        $.get '/mongo_db/trips_list?startDate=' + date, (data) =>
            farmedIn = []
            farmedOut = []

            data.forEach (entry) ->
                if entry.OriginatingPartnerId is iD
                    farmedOut.push entry
                else if entry.ServicingPartnerId is iD
                    farmedIn.push entry
            $('#farmed-out-total').html(farmedOut.length)
            $('#farmed-in-total').html(farmedIn.length)

            content = '
                              <ul class="list-group">
                             '
            if farmedIn.length > 0
                farmedIn.forEach (trip) ->
                    content += '
                                      <li class="list-group-item">' + trip._id + '</li>
                                    '
            else
                content +='
                                <li class="list-group-item">Empty</li>
                               '
            content += '
                              </ul>
                            '
            $('#farmedInDiv').html content

            content = '
                              <ul class="list-group">
                             '
            if farmedOut.length >0
                farmedOut.forEach (trip) ->
                    content += '
                                   <li class="list-group-item">' + trip._id + '</li>
                                  '
            else
                content +='
                                <li class="list-group-item">Empty</li>
                               '
            content += '
                               </ul>
                              '
            $('#farmedOutDiv').html content

            if farmed is 'out'

                $('#balance-due').html (farmedOut.length)
                content = '<row><h2>Balance due</h2></row>
                           <row><h2><strong> $' + ((farmedOut.length)/2).toFixed(2) + '</strong></h2></row>
                           <row><button type="button" class="btn btn-info">Make payment</button></row>'
                $('#balanceDiv').html content
            else
                $('#balance-due').html (farmedIn.length)
                content = '<row><h2>Balance due</h2></row>
                           <row><h2><strong> $' + ((farmedIn.length)/2).toFixed(2) + '</strong></h2></row>
                           <row><button type="button" class="btn btn-info">Make payment</button></row>'
                $('#balanceDiv').html content
            document.getElementById("imageLoad").style.visibility = "hidden"

$('.developer.money').ready ->
    clearInterval(window.tripthruinterval)
    moneyV = new money(
        new TripThru($('#access_token').val())
        'partners-select'
    )
