# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/


class TripThru

    constructor: (@baseUrl, @accessToken) ->
        if not @baseUrl? or not @accessToken?
            console.error('Wrong parameters')

    getStats: (_callback) =>
        $.get(@baseUrl + 'stats?format=json&access_token=' + @accessToken, (data) =>
            if data.result == 'OK'
                _callback(data)
            else
                _callback(null)

        ).error( ->
            _callback(null)
        )
        return

    getLog: (tripId, _callback) =>
        id = if tripId? then '&tripId=' + tripId else ''
        $.get(@baseUrl + 'log?format=json&access_token=' + @accessToken + id, (data) =>
            if data.result == 'OK'
                _callback(data)
            else
                _callback(null)

        ).error( ->
            _callback(null)
        )
        return

    getTrips: (status, _callback) =>
        status = if status? then '&status=' + status else ''
        $.get(@baseUrl + 'trips?format=json&access_token=' + @accessToken + status, (data) =>
            if data.result == 'OK'
                _callback(data)
            else
                _callback(null)

        ).error( ->
            _callback(null)
        )
        return

    getTripStatus: (tripId, _callback) =>
        $.get(@baseUrl + 'tripstatus?format=json&access_token=' + @accessToken + '&tripid=' + tripId, (data) =>
            if data.result == 'OK'
                $.get(@baseUrl + 'routetrip?format=json&access_token=' + @accessToken + '&tripid=' + tripId, (trip) =>
                    data.historyEnrouteList = trip.historyEnrouteList
                    data.historyPickUpList = trip.historyPickUpList
                    _callback(data)
                ).error( ->
                    _callback(null)
                )
            else
                _callback(null)

        ).error( ->
            _callback(null)
        )
        return

    getPartners: (_callback) =>
        $.get(@baseUrl + 'partners?format=json&access_token=' + @accessToken, (data) =>
            if data.result == 'OK'
                _callback(data)
            else
                _callback(null)

        ).error( ->
            _callback(null)
        )
        return

tripthruUrl = 'http://107.170.240.134/TripThru.TripThruGateway/'

########## DASHBOARD #########

class ActiveTripsChart

    constructor: (chartContainer) ->
        @chart = new JustGage({
            id: chartContainer
            value: 0
            min: 0
            max: 10
            label: 'trips'
            relativeGaugeSize: true
        })
        @activeTripsCount = []
        @max = 0

    updateStats: (stats) =>
        @update(stats.activeTrips, stats.activeTrips)

    update: (activeTrips, selectedTypeActiveTrips) =>
        if not activeTrips? or not selectedTypeActiveTrips?
            console.error('Wrong parameters')
            return

        @max = if activeTrips > @max then activeTrips else @max
        upperLimit = if @max < 10 then 10 else Math.ceil(@max * 1.4)

        @chart.refresh(selectedTypeActiveTrips, upperLimit)

class Location
    addressById = {}

    constructor: (@lat, @lng, @address, @loadAddress = true) ->
        @id = '<' + @lat + ',' + @lng + '>'
        @gettingAddress = false
        if loadAddress
            if @id of addressById
                @address = addressById[@id]
            else
                @setAddress()

    getAddress: () =>
        if @id of addressById
            addressById[@id]
        else
            @setAddress()
            null

    setAddress: () =>
        if not @gettingAddress
            @gettingAddress = true
            $.ajax
                url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + @lat + "," + @lng + "&sensor=false"
                dataType: 'json'
                success: (data) =>
                    if data.results? and data.results.length > 0
                        if @id not of addressById
                            addressById[@id] = data.results[0].formatted_address
                    else
                        setTimeout(() =>
                            @setAddress()
                        ,1000)
                    @gettingAddress = false
                error: () =>
                    @gettingAddress = false


class Trip

    constructor: (@id, @passengerName, @pickupTime, @pickupLocation, @origin, @servicing, @status, @ETA,
                  @fare, @driverName, @driverLocation, @dropoffLocation, @driverInitialLocation) ->
        @containerId = id.replace(new RegExp('@', 'g'), '-').replace('.', '-')
        @passengerRating = (Math.random() * 2.5) + 2.5
        @driverRating = (Math.random() * 2.5) + 2.5

    update: (@status, @driverName, @driverLocation, @driverInitialLocation, @historyEnrouteList, @historyPickUpList) =>

    getContainerId: () =>
        @containerId
    getId: () =>
        @id
    getPassengerName: () =>
        @passengerName
    getPassengerRating: () =>
        @passengerRating
    getPickupTime: () =>
        @pickupTime
    getPickupLocation: () =>
        @pickupLocation
    getOrigin: () =>
        @origin
    getServicing: () =>
        @servicing
    getStatus: () =>
        @status
    getETA: () =>
        @ETA
    getFare: () =>
        @fare
    getDriverName: () =>
        @driverName
    getDriverLocation: () =>
        @driverLocation
    getDriverRating: () =>
        @driverRating
    getDropoffLocation: () =>
        @dropoffLocation
    getDriverInitialLocation: () =>
        @driverInitialLocation
    getHistoryEnrouteList: () =>
        @historyEnrouteList
    getHistoryPickUpList: () =>
        @historyPickUpList


class TripList

    constructor: (@containerId) ->
        @tripsInListById = {}
        @pendingUpdateTripsIds = []
        @currentStatus = null
        @statusChanged = false

    tripChanged: (trip) =>
        if not trip?
            $('#' + @containerId + '>div.active').removeClass('active')
        else
            if not $('#' + trip.getContainerId()).hasClass('active')
                $('#' + @containerId + '>div.active').removeClass('active')
                $("#" + trip.getContainerId()).addClass("active")

    updateStatus: (status) =>
        if @currentStatus != status
            @statusChanged = true
            if $('#triplist-loading').length <= 0
                $('#' + @containerId).prepend('<span id="triplist-loading"><%= image_tag('loading.gif') %></span>')
        @currentStatus = status

    updateTrips: (tripsById) =>
        if @statusChanged
            @statusChanged = false
            $('#' + @containerId).html('')
            for id, trip of tripsById
                @addTrip(trip)
        else
            for id, trip of tripsById
                if id not of @tripsInListById
                    @addTrip(trip)
            for id, trip of @tripsInListById
                if id not of tripsById
                    @removeTrip(trip)
                else
                    @updateTrip(trip)

    updateActiveTrip: (trip) =>

    addTrip: (trip) =>
        if !trip.getPickupLocation().getAddress()?
            @pendingUpdateTripsIds.push trip.getId()

        @tripsInListById[trip.getId()] = trip
        $('#' + @containerId).prepend @getTripTag(trip)
        $('#' + trip.getContainerId()).slideDown()

    updateTrip: (trip) =>
        if trip.getId() in @pendingUpdateTripsIds and trip.getPickupLocation().getAddress()?
            $('#' + trip.getContainerId()).find('.triplist-trip-pickup').fadeOut().html(trip.getPickupLocation().getAddress()).fadeIn()
            @pendingUpdateTripsIds.splice($.inArray(trip.getId(), @pendingUpdateTripsIds), 1);

    removeTrip: (trip) =>
        delete @tripsInListById[trip.getId()]
        $('#' + trip.getContainerId()).slideUp()


    getTripTag: (trip) =>
        tripPickupLocation = trip.getPickupLocation().getAddress()
        pickupLocation = if tripPickupLocation then tripPickupLocation else 'loading...'
        '
            <div class="well trip" id="' + trip.getContainerId() + '" style="display:none;">
                <h1>' + trip.getId() + '</h1>
                <p><span>Passenger:</span> <i>' + trip.getPassengerName() + '</i></p>
                <p><span>Time:</span> <i>' + trip.getPickupTime().split('.')[0] + '</i></p>
                <p><span>Pickup:</span> <i class="triplist-trip-pickup">' + pickupLocation + '</i></p>
            </div>
        '

class TripTracker

    constructor: (@tripInfoContainerId, @mapContainer) ->
        @passengerMarker = null
        @destinationMarker = null
        @driverMarker = null
        @initialMarker = null
        @map = null
        @mapOptions = null
        @directionsDisplay = null
        @directionsDisplay2 = null
        @directionsDisplay3 = null
        @directionsDisplay4 = null
        @turn = true
        @driverPreviousLocation = null
        @setTripInfoBool = false
        @tripId = null

        @passengerRatingChartId = 'passenger-rating'
        @driverRatingChartId = 'driver-rating'

    tripChanged: (trip) =>
        @tripId = null
        @driverPreviousLocation = null
        @updateTripInfo(trip)

    updateActiveTrip: (trip) =>
        @updateTripInfo(trip)
        @updateMap(trip)
        if trip?
            @tripId = trip.getId()

    updateTripInfo: (trip) =>
        if trip?
            tripPickupLocation = trip.getPickupLocation().getAddress()
            tripDropoffLocation = trip.getDropoffLocation().getAddress()
            tripDriverName = trip.getDriverName()
            tripDriverLocation = if trip.getDriverLocation()? then trip.getDriverLocation().getAddress() else null
            if !tripDriverLocation? and @driverPreviousLocation?
                tripDriverLocation = @driverPreviousLocation.getAddress()

            pickupLocation = if tripPickupLocation? then tripPickupLocation else 'loading...'
            dropoffLocation = if tripDropoffLocation? then tripDropoffLocation else 'loading...'
            driverLocation = if tripDriverLocation? then ' @ ' + tripDriverLocation else ''
            driver = if tripDriverName? then tripDriverName + driverLocation else ''

            $('#' + @tripInfoContainerId).html(
                '<div>
                    <h1>' + trip.getId() + '<span> - ' + trip.getStatus() + '</span></h1>
                    <div><span>Passenger: </span><p>' + trip.getPassengerName() + '  </p>
                       <div class="rating-container">
                            <div class="flexible-stars" data-isLocked="yes"
                                    data-init="0" id="' + @passengerRatingChartId + '"></div>
                       </div>
                    </div>
                    <div><span>Time: </span><p>' + trip.getPickupTime().split('.')[0] + '</p></div>
                    <div><span>Pickup: </span><p>' + pickupLocation + '</p></div>
                    <div><span>Dropoff: </span><p>' + dropoffLocation + '</p></div>
                    <div>
                      <span>Farmed-In: </span><p>' + trip.getOrigin() + ' - </p>
                      <span>Farmed-Out: </span><p>' + trip.getServicing() + '</p>
                    </div>
                    <div><span>Driver: </span><p>' + driver + '  </p>
                        <div class="rating-container">
                          <div class="flexible-stars" data-isLocked="yes"
                                     data-init="0" id="' + @driverRatingChartId + '"></div>
                        </div>
                    </div>
                 </div>
                '
            )

            $('#' + @passengerRatingChartId).html('')
            $('#' + @passengerRatingChartId).flexibleStars({
                init: trip.getPassengerRating()
            })

            if trip.getDriverName()?
                $('#' + @driverRatingChartId).html('')
                $('#' + @driverRatingChartId).flexibleStars({
                    init: trip.getDriverRating()
                })
        else
            $('#' + @tripInfoContainerId).html('<h1>Select a trip</h1>')

    updateMap: (trip) =>
        return  if @setTripInfoBool is true or !trip? or !trip.driverLocation?
        @setTripInfoBool = true
        if not trip? or @tripId isnt trip.getId()
            @passengerMarker.setMap null  if @passengerMarker?
            @driverMarker.setMap null  if @driverMarker?
            @destinationMarker.setMap null  if @destinationMarker?
            @initialMarker.setMap null  if @initialMarker?
            @driverPreviousLocation = null
            @tripId = (if trip? then trip.getId() else "")
            if @directionsDisplay?
                @directionsDisplay.setMap null
                @directionsDisplay = null
            if @directionsDisplay2?
                @directionsDisplay2.setMap null
                @directionsDisplay2 = null
            if @directionsDisplay3?
                @directionsDisplay3.setMap null
                @directionsDisplay3 = null
            if @directionsDisplay4?
                @directionsDisplay4.setMap null
                @directionsDisplay4 = null
        unless trip?
            @setTripInfoBool = false
            return
        if not @driverPreviousLocation? or trip.driverLocation.lat isnt @driverPreviousLocation.lat or trip.driverLocation.lng isnt @driverPreviousLocation.lng
            @driverPreviousLocation = trip.driverLocation
            pickupLocation = trip.pickupLocation
            driverLocation = trip.driverLocation
            dropoffLocation = trip.dropoffLocation
            driverInitialLocation = trip.driverInitialLocation
            if pickupLocation or driverLocation
                passengerLocation = null
                driverCurrentLocation = null
                destinationLocation = null
                initialLocation = null
                if dropoffLocation
                    destinationLocation = new google.maps.LatLng(dropoffLocation.lat, dropoffLocation.lng)
                    if @destinationMarker?
                        @destinationMarker.setMap @map
                        @destinationMarker.setPosition destinationLocation
                if pickupLocation
                    passengerLocation = new google.maps.LatLng(pickupLocation.lat, pickupLocation.lng)
                    if @passengerMarker?
                        @passengerMarker.setMap @map
                        @passengerMarker.setPosition passengerLocation
                if driverLocation
                    driverCurrentLocation = new google.maps.LatLng(driverLocation.lat, driverLocation.lng)
                    if @driverMarker?
                        @driverMarker.setMap @map
                        @driverMarker.setPosition driverCurrentLocation
                if driverInitialLocation
                    initialLocation = new google.maps.LatLng(driverInitialLocation.lat, driverInitialLocation.lng)
                    if @initialMarker?
                        @initialMarker.setMap @map
                        @initialMarker.setPosition driverInitialLocation
                unless @map?
                    @mapOptions =
                        center: (if driverCurrentLocation? then driverCurrentLocation else passengerLocation)
                        zoom: 15
                        mapTypeControl: false
                        mapTypeId: google.maps.MapTypeId.ROADMAP

                    @map = new google.maps.Map(document.getElementById("map-canvas"), @mapOptions)
                if passengerLocation? and not @passengerMarker?
                    @passengerMarker = new google.maps.Marker(
                        position: passengerLocation
                        map: @map
                        icon: "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=home|FFFF00"
                        title: "Pickup"
                    )
                if initialLocation? and not @initialMarker?
                    @initialMarker = new google.maps.Marker(
                        position: driverInitialLocation
                        map: @map
                        icon: "http://www.mricons.com/store/png/113267_25418_16_flag_icon.png"
                        title: "Initial"
                    )
                if driverLocation? and not @driverMarker?
                    @driverMarker = new google.maps.Marker(
                        position: driverCurrentLocation
                        map: @map
                        icon: "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=taxi|FFFF00"
                        title: "Driver"
                    )
                if destinationLocation? and not @destinationMarker?
                    @destinationMarker = new google.maps.Marker(
                        position: dropoffLocation
                        map: @map
                        icon: "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=cafe|FFFF00"
                        title: "Destination"
                    )
                if driverLocation? and pickupLocation? and dropoffLocation?
                    routes = []
                    switch trip.status
                        when "Enroute"
                            routes = [
                                origin: initialLocation
                                destination: driverCurrentLocation
                            ]
                        when "PickedUp"
                            routes = [
                                origin: initialLocation
                                destination: passengerLocation
                            ,
                                origin: passengerLocation
                                destination: driverCurrentLocation
                            ]
                        when "Complete"
                            routes = [
                                origin: initialLocation
                                destination: passengerLocation
                            ,
                                origin: passengerLocation
                                destination: destinationLocation
                            ]
                    rendererOptions =
                        preserveViewport: true
                        suppressMarkers: true
                        polylineOptions:
                            strokeColor: "#8B0000"
                            strokeOpacity: 1
                            strokeWeight: 5
                    rendererOptions2 =
                        preserveViewport: true
                        suppressMarkers: true
                        polylineOptions:
                            strokeColor: "#008000"
                            strokeOpacity: 1
                            strokeWeight: 5
                    directionsService = new google.maps.DirectionsService()
                    directionsService2 = new google.maps.DirectionsService()
                    boleanFirst = true
                    routes.forEach (route) =>
                        request =
                            origin: route.origin
                            destination: route.destination
                            travelMode: google.maps.TravelMode.DRIVING
                        if boleanFirst
                            if @turn
                                @directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)
                                @directionsDisplay.setMap @map
                            else
                                @directionsDisplay3 = new google.maps.DirectionsRenderer(rendererOptions)
                                @directionsDisplay3.setMap @map
                        else
                            if @turn
                                @directionsDisplay2 = new google.maps.DirectionsRenderer(rendererOptions2)
                                @directionsDisplay2.setMap @map
                            else
                                @directionsDisplay4 = new google.maps.DirectionsRenderer(rendererOptions2)
                                @directionsDisplay4.setMap @map
                        if boleanFirst
                            directionsService.route request, (result, status) =>
                                if @turn
                                    @directionsDisplay.setDirections result  if status is google.maps.DirectionsStatus.OK and @directionsDisplay?
                                    if @directionsDisplay3?
                                        @directionsDisplay3.setMap null
                                        @directionsDisplay3 = null
                                else
                                    @directionsDisplay3.setDirections result  if status is google.maps.DirectionsStatus.OK and @directionsDisplay3?
                                    if @directionsDisplay?
                                        @directionsDisplay.setMap null
                                        @directionsDisplay = null
                            boleanFirst = false
                        else
                            directionsService2.route request, (result, status) =>
                                if @turn
                                    @directionsDisplay2.setDirections result  if status is google.maps.DirectionsStatus.OK and @directionsDisplay2?
                                    if @directionsDisplay4?
                                        @directionsDisplay4.setMap null
                                        @directionsDisplay4 = null
                                    @turn = false
                                else
                                    @directionsDisplay4.setDirections result  if status is google.maps.DirectionsStatus.OK and @directionsDisplay4?
                                    if @directionsDisplay2?
                                        @directionsDisplay2.setMap null
                                        @directionsDisplay2 = null
                                    @turn = true
                @map.setCenter (if driverCurrentLocation? then driverCurrentLocation else passengerLocation)
        @setTripInfoBool = false

class StatisticsDashboard

    constructor: (@statisticsContainerId, @ratingsContainerId) ->
        @timePieChartId = 'time-pie-chart'
        @tripsPieChartId = 'trips-pie-chart'
        @tripsPieChartTitleId = @tripsPieChartId + '-title'
        @mileagePieChartId = 'mileage-pie-chart'
        @servicePieChartId = 'service-pie-chart'
        @driversRatingChartId = 'drivers-rating-chart'
        @passengersRatingChartId = 'passengers-rating-chart'
        @lastValues =
            passengerRating: -1
            driverRating: -1
            timeWithPassenger: -1
            mileageWithPassenger: -1
            timeEnroute: -1
            mileageEnroute: -1
            timeIdle: -1
            totalTrips: -1
            cancelled: -1
            completed: -1
            rejected: -1
            lateness: -1
            withinServiceGoal: -1

        $('#' + @statisticsContainerId).html('
            <div  class="dashboard-statistics-pie-chart" >
                <div class="title" id="' + @tripsPieChartTitleId + '">0 Trips</div>
                <div class="pie-chart" id="' + @tripsPieChartId + '"></div>
            </div>
            <div  class="dashboard-statistics-pie-chart" >
                <div class="title">Time</div>
                <div class="pie-chart" id="' + @timePieChartId + '"></div>
            </div>
            <div  class="dashboard-statistics-pie-chart" >
                <div class="title">Mileage</div>
                <div class="pie-chart" id="' + @mileagePieChartId + '"></div>
            </div>
            <div  class="dashboard-statistics-pie-chart" >
                <div class="title">Service</div>
                <div class="pie-chart" id="' + @servicePieChartId + '"></div>
            </div>
        ')

        $('#' + @ratingsContainerId).html('
            <div id="dashboard-ratings-container">
                <div  class="dashboard-statistics-rating" >
                    <div class="title">Drivers</div>
                    <div class="flexible-stars" data-isLocked="yes"
                     data-init="0"  id="' + @driversRatingChartId + '"></div>
                </div>
                <div  class="dashboard-statistics-rating" >
                    <div class="title">Passengers</div>
                    <div class="flexible-stars" data-isLocked="yes"
                        data-init="0"  id="' + @passengersRatingChartId + '"></div>
                </div>
            </div>
        ')

        @update(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

    updateStats: (stats) =>
        @update(80, 90, 55, 32, 70, 80, 15, 80, 10, 80, 10, 15, 95)

    update: (passengerRating, driverRating, timeWithPassenger, mileageWithPassenger, timeEnroute, mileageEnroute,
             timeIdle, totalTrips, cancelled, completed, rejected, lateness, withinServiceGoal) =>

        if @lastValues.timeEnroute != timeEnroute or
                @lastValues.timeWithPassenger != timeWithPassenger or
                @lastValues.timeIdle != timeIdle

            @lastValues.timeEnroute = timeEnroute
            @lastValues.timeWithPassenger = timeWithPassenger
            @lastValues.timeIdle = timeIdle
            Morris.Donut({
                element: @timePieChartId
                data: [
                    {label: "Enroute", value: timeEnroute}
                    {label: "Occupied", value: timeWithPassenger}
                    {label: "Idle", value: timeIdle}
                ]
                colors: [
                    '#2922DD'
                    '#0BA462'
                    '#DD1D18'
                ]
                formatter: (x) -> x + "%"
            })

        if @lastValues.completed != completed or
                @lastValues.cancelled != cancelled or
                @lastValues.rejected != rejected

            @lastValues.completed = completed
            @lastValues.cancelled = cancelled
            @lastValues.rejected = rejected
            Morris.Donut({
                element: @tripsPieChartId,
                data: [
                    {label: "Completed", value: completed}
                    {label: "Rejected", value: rejected}
                    {label: "Cancelled", value: cancelled}
                ]
                colors: [
                    '#0BA462'
                    '#DADD0F'
                    '#DD1D18'
                ]
                formatter: (x) -> x + "%"
            })

        if @lastValues.mileageEnroute != mileageEnroute or
                @lastValues.mileageWithPassenger != mileageWithPassenger

            @lastValues.mileageEnroute = mileageEnroute
            @lastValues.mileageWithPassenger = mileageWithPassenger
            Morris.Donut({
                element: @mileagePieChartId,
                data: [
                    {label: "Enroute", value: mileageEnroute}
                    {label: "Occupied", value: mileageWithPassenger}
                ]
                colors: [
                    '#3C6ADD'
                    '#0BA462'
                ]
                formatter: (x) -> x + "%"
            })

        if @lastValues.totalTrips != totalTrips
            @lastValues.totalTrips = totalTrips
            $('#' + @tripsPieChartTitleId).fadeOut().html(totalTrips + ' trips').fadeIn()


        passengerRatingStars = passengerRating/100*5
        if passengerRatingStars != @lastValues.passengerRating
            $('#' + @passengersRatingChartId).html('')
            $('#' + @passengersRatingChartId).flexibleStars({
                init: passengerRatingStars
            })

        driverRatingStars = driverRating/100*5
        if driverRatingStars != @lastValues.driverRating
            $('#' + @driversRatingChartId).html('')
            $('#' + @driversRatingChartId).flexibleStars({
                init: driverRatingStars
            })


        if @lastValues.withinServiceGoal != withinServiceGoal or
                @lastValues.lateness != lateness

            @lastValues.withinServiceGoal = withinServiceGoal
            @lastValues.lateness = lateness
            Morris.Donut({
                element: @servicePieChartId,
                data: [
                    {label: "Level", value: withinServiceGoal}
                    {label: "Lateness", value: lateness}
                ]
                colors: [
                    '#0BA462'
                    '#DD1D18'
                ]
                formatter: (x) -> x + "%"
            })

class ActivityLog

    constructor: (@containerId) ->
        @tripId = ''
        @latestAddedLogDate = null

    tripChanged: (trip) =>
        $('#' + @containerId).html('<%= image_tag('loading.gif') %>')

    updateLog: (logList, currentTripId) =>
        if logList? and logList.length > 0
            logList = logList.reverse()
            newLatest = logList[0].time
            logs = []
            if !@latestAddedLogDate? or @tcurrentTripIdripId != currentTripId
                logs = logList
                $('#' + @containerId).html('')
            else
                for log in logList
                    if Date.parse(log.time) > Date.parse(@latestAddedLogDate)
                        logs.push log
                    else
                        break

            if logs.length > 0
                i = 0
                for log in logs.reverse()
                    [id, logString] = @getLogTag(i, log)
                    $('#' + @containerId).prepend(logString)
                    $('#' + id).slideDown();
                    i++
                Prism.highlightAll();@latestAddedLogDate = logList[logList.length-1].time

            @tripId = currentTripId
            @latestAddedLogDate = newLatest

    getLogTag: (id, log) =>
        id =  id + 'parent-accordion'
        logString = '
                        <div style="display: none" class="accordion-group" id="' + id + '">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#' + id + '-accordion">
                                    ' + log.time.split('.')[0] + ' | ' + log.messages[0].text +  '
                                </a>
                            </div>
                            <div id="' + id + '-accordion" class="accordion-body collapse">
                                <div class="accordion-inner">
                        '

        if log.request?
            logString += '
                                        <div class="accordion-group json-inner-log">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#' + id + '-accordion-request">
                                                    Request
                                                </a>
                                            </div>
                                            <div id="' + id + '-accordion-request" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <pre><code class="language-javascript">' + FormatJSON(JSON.parse(log.request)) + '</code></pre>
                                                </div>
                                            </div>
                                        </div>

                    '

        i = 1
        while(i < log.messages.length - 1)
            message = log.messages[i]
            padding = if message.indent is 0 then '' else 'padding-left: ' + message.indent + 'px'

            logString += '<div style="' + padding + '">'

            if message.json?
                hasResponse = ((i + 1) < (log.messages.length - 1)) and
                        log.messages[i + 1].text.indexOf('Response') != -1 and
                        log.messages[i + 1].json

                logString += '
                                            <div class="accordion-group json-inner-log">
                                                <div class="accordion-heading">
                                                    <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#' + id + '-accordion-' + i + '">
                                                        ' + message.text + '
                                                    </a>
                                                </div>
                                                <div id="' + id + '-accordion-' + i + '" class="accordion-body collapse">
                                                    <div class="accordion-inner">
                                                        <pre><code class="language-javascript">'

                logString +=                'Request:\n' + FormatJSON(JSON.parse(message.json))

                if hasResponse
                    logString +=            '\n\nResponse:\n' + FormatJSON(JSON.parse(log.messages[i + 1].json))
                    i++

                logString += '          </code></pre>
                                                    </div>
                                                </div>
                                            </div>'
            else
                logString +='<div class="accordion-group simple-inner-log">
                                                <div class="accordion-heading">
                                                    <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#' + id + '-accordion-' + i + '">
                                                        ' + message.text + '
                                                    </a>
                                                </div>
                                             </div>
                                                '

            logString += ' </div>'
            i++

        if log.response?
            logString += '
                                        <div class="accordion-group json-inner-log">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#' + id + '-accordion-response">
                                                    Response
                                                </a>
                                            </div>
                                            <div id="' + id + '-accordion-response" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <pre><code class="language-javascript">' + FormatJSON(JSON.parse(log.response)) + '</code></pre>
                                                </div>
                                            </div>
                                        </div>

                    '
        logString +=
            '           </div>
                                </div>
                            </div>
                          '

        return [id, logString]


class DashboardManager

    constructor: (@gateway, @statusSelectorContainerId, @listeners) ->
        @tripsById = {}
        @activeTrip = null
        @selectedStatus = 'All'
        @updatingStats = false
        @updatingTrips = false
        @updatingActiveTrip = false
        @updatingLogs = false

        $('#' + @statusSelectorContainerId).change =>
            @selectedStatus = $('#' + @statusSelectorContainerId + ' option:selected').val()
            @updateStatus()
            @update()

    update: =>
        if not  @updatingStats
            @updatingStats = true
            @gateway.getStats(@updateStats)

        if not @updatingTrips
            @updatingTrips = true
            status = if @selectedStatus != 'All' then @selectedStatus else null
            @gateway.getTrips(status, @updateTrips)

        if not @updatingActiveTrip
            @updatingActiveTrip = true
            if @activeTrip?
                @gateway.getTripStatus(@activeTrip.getId(), @updateActiveTrip)
            else
                @updateActiveTrip(null)

        if not @updatingLogs
            @updatingLogs = true
            tripId = if @activeTrip? then @activeTrip.getId() else null
            @gateway.getLog(tripId, @updateLogs)

    updateStats: (data) =>
        if data?
            for listener in @listeners
                if typeof listener.updateStats is 'function'
                    try
                        listener.updateStats(data)
                    catch error
                        console.error listener + ' updateStats failed: ' + error
        @updatingStats = false

    updateTrips: (data) =>
        if data?
            tripsIds = []
            for newTrip in data.trips
                tripsIds.push newTrip.id
                if newTrip.id not of @tripsById
                    @processTrip(newTrip)

            for id, trip of @tripsById
                if id not in tripsIds
                    delete @tripsById[id]

            for listener in @listeners
                if typeof listener.updateTrips is 'function'
                    try
                        listener.updateTrips(@tripsById)
                    catch error
                        console.error listener + ' updateTrips failed: ' + error
        @updatingTrips = false

    processTrip: (newTrip) =>
        driverLocation =
            if newTrip.driverLocation? then new Location(newTrip.driverLocation.lat, newTrip.driverLocation.lng, null) else null
        driverInitialLocation =
            if newTrip.driverInitialLocation? then new Location(newTrip.driverInitialLocation.lat, newTrip.driverInitalLocation.lng, null) else null
        trip = new Trip(
                newTrip.id
                newTrip.passengerName
                newTrip.pickupTime
                new Location(newTrip.pickupLocation.lat, newTrip.pickupLocation.lng, null)
                newTrip.originatingPartnerName
                newTrip.servicingPartnerName
                newTrip.status
                newTrip.eta
                newTrip.price
                newTrip.driverName
                driverLocation
                new Location(newTrip.dropoffLocation.lat, newTrip.dropoffLocation.lng, null)
                driverInitialLocation
        )
        @tripsById[trip.getId()] = trip
        $(document).off('click', '#' + trip.getContainerId()).on 'click', '#' + trip.getContainerId(),  =>
            @toggleActiveTrip(newTrip.id)


    toggleActiveTrip: (tripId) =>
        trip = @tripsById[tripId]
        if not @activeTrip? or !trip? or @activeTrip.id != trip.id
            @activeTrip = trip
        else
            @activeTrip = null

        for listener in @listeners
            if typeof listener.tripChanged is 'function'
                try
                    listener.tripChanged(@activeTrip)
                catch error
                    console.error listener + ' tripChanged failed: ' + error

        @update()


    updateActiveTrip: (data) =>
        if data?
            if !@activeTrip? or (data.driverLocation? and !@activeTrip.getDriverLocation()?) or
                    (data.driverLocation? and
                            @activeTrip.getDriverLocation()? and
                            data.driverLocation.lat != @activeTrip.getDriverLocation().lat and
                            data.driverLocation.lng != @activeTrip.getDriverLocation().lng)

                driverLocation = new Location(data.driverLocation.lat, data.driverLocation.lng, null)
            else
                driverLocation = @activeTrip.getDriverLocation()

            if !@activeTrip? or
                    (data.historyEnrouteList and data.historyEnrouteList[0] and !@activeTrip.getDriverInitialLocation()?)

                driverInitialLocation = new Location(data.historyEnrouteList[0].lat, data.historyEnrouteList[0].lng, null)
            else
                driverInitialLocation = @activeTrip.getDriverInitialLocation()

            @activeTrip.update(
                    if data.status? then data.status else @activeTrip.getStatus()
                    data.driverName
                    driverLocation
                    driverInitialLocation
                    data.historyEnrouteList
                    data.historyPickUpList
            )
        for listener in @listeners
            if typeof listener.updateActiveTrip is 'function'
                try
                    listener.updateActiveTrip(@activeTrip)
                catch error
                    console.error listener.toString() + ' updateLogs failed: ' + error

        @updatingActiveTrip = false

    updateLogs: (data) =>
        if data?
            tripId = if @activeTrip? then @activeTrip.getId() else null
            for listener in @listeners
                if typeof listener.updateLog is 'function'
                    try
                        listener.updateLog(data.logList, tripId)
                    catch error
                        console.error listener + ' updateLogs failed: ' + error
        @updatingLogs = false

    updateStatus: () =>
        status = if @selectedStatus != 'All' then @selectedStatus else null
        for listener in @listeners
            if typeof listener.updateStatus is 'function'
                try
                    listener.updateStatus(status)
                catch error
                    console.error listener + ' updateStatus failed: ' + error

`
$(document).ready(function(){
    var url = window.location
    $('.list-group-item').filter( function(){
        return this.href == url;
    }).addClass('active');
    });
`

$('.developer.dashboard').ready ->

    dashboardManager = new DashboardManager(
            new TripThru(tripthruUrl, $('#access_token').val())
            'trip-status-selector'
            [
                new ActiveTripsChart('active-trips-chart')
                new TripList('trips-panel')
                new StatisticsDashboard('statistics-gauges-container', 'ratings-container')
                new TripTracker('tracking-trip-info', 'tracking-map-container')
                new ActivityLog('activity-log')
            ]
    )

    update = ->
        dashboardManager.update()

    update()
    setInterval ->
        update()
    , 10000

    return

########## API #########

$('.developer.api').ready ->
    window.swaggerUi = new SwaggerUi({
        discoveryUrl: tripthruUrl + 'resources'
        apiKey: ""
        dom_id: "swagger-ui-container"
        supportHeaderParams: false
        supportedSubmitMethods: ['get', 'post', 'put']
        onComplete: (swaggerApi, swaggerUi) ->
            if (console)
                console.log("Loaded SwaggerUI")
                console.log(swaggerApi)
                console.log(swaggerUi)
                $('pre code').each((i, e) ->  hljs.highlightBlock(e) )
        onFailure: (data) ->
                if (console)
                    console.log("Unable to Load SwaggerUI")
                    console.log(data)
        docExpansion: "none"
    })
    window.swaggerUi.load()


########## STATISTICS #########

class GatewayMockStatistics

    constructor: () ->

    getStats: (startDate, endDate, _callback) =>

        values =
            passengerRating: -1
            driverRating: -1
            timeWithPassenger: -1
            mileageWithPassenger: -1
            timeEnroute: -1
            mileageEnroute: -1
            timeIdle: -1
            totalTrips: -1
            cancelled: -1
            completed: -1
            rejected: -1
            lateness: -1
            withinServiceGoal: -1

    treatAsUTC: (date) =>
        result = new Date(date)
        result.setMinutes(result.getMinutes() - result.getTimezoneOffset())
        result

    daysBetween: (startDate, endDate) =>
        millisecondsPerDay = 24 * 60 * 60 * 1000
        return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay

class TimeSeries

    constructor: (@gateway, @historicChartContainerId, @forecastChartContainerId) ->
        @startDate = new Date()
        @endDate = new Date()

        @tripsCompletedSelected =   true
        @tripsCancelledSelected =   true
        @tripsRejectedSelected =    true
        @tripsErrorSelected =       true
        @timeEnrouteSelected =      false
        @timeOccupiedSelected =     false
        @timeIdleSelected =         false
        @mileageEnrouteSelected =   false
        @mileageOccupiedSelected =  false
        @serviceGoalSelected =      false
        @serviceLatenessSelected =  false
        @ratingDriversSelected =    false
        @ratingPassengersSelected = false

        @tripsCompleted = { name: 'Completed trips', id: 'Completed trips', data: []}
        @tripsCancelled = { name: 'Cancelled trips', id: 'Cancelled trips', data: []}
        @tripsRejected =  { name: 'Rejected trips', id: 'Rejected trips', data: []}
        @tripsError =     { name: 'Error trips', id: 'Error trips', data: []}
        @timeEnroute =      { name: 'Time enroute', id: 'Time enroute', data: []}
        @timeOccupied =     { name: 'Time occupied', id: 'Time occupied', data: []}
        @timeIdle =         { name: 'Time idle', id: 'Time idle', data: []}
        @mileageEnroute =   { name: 'Mileage enroute', id: 'Mileage enroute', data: []}
        @mileageOccupied =  { name: 'Mileage occupied', id: 'Mileage occupied', data: []}
        @serviceGoal =      { name: 'Service level', id: 'Service level', data: []}
        @serviceLateness =  { name: 'Service lateness', id: 'Service lateness', data: []}
        @ratingDrivers =    { name: 'Drivers rating', id: 'Drivers rating', data: []}
        @ratingPassengers = { name: 'Passengers rating', id: 'Passengers rating', data: []}

        @tripsCompletedF = { name: 'Completed trips', id: 'Completed trips', data: []}
        @tripsCancelledF = { name: 'Cancelled trips', id: 'Cancelled trips', data: []}
        @tripsRejectedF =  { name: 'Rejected trips', id: 'Rejected trips', data: []}
        @tripsErrorF =     { name: 'Error trips', id: 'Error trips', data: []}
        @timeEnrouteF =      { name: 'Time enroute', id: 'Time enroute', data: []}
        @timeOccupiedF =     { name: 'Time occupied', id: 'Time occupied', data: []}
        @timeIdleF =         { name: 'Time idle', id: 'Time idle', data: []}
        @mileageEnrouteF =   { name: 'Mileage enroute', id: 'Mileage enroute', data: []}
        @mileageOccupiedF =  { name: 'Mileage occupied', id: 'Mileage occupied', data: []}
        @serviceGoalF =      { name: 'Service level', id: 'Service level', data: []}
        @serviceLatenessF =  { name: 'Service lateness', id: 'Service lateness', data: []}
        @ratingDriversF =    { name: 'Drivers rating', id: 'Drivers rating', data: []}
        @ratingPassengersF = { name: 'Passengers rating', id: 'Passengers rating', data: []}

        dates = [
            Date.UTC(2014, 5, 25, 0, 0, 0)
            Date.UTC(2014, 5, 25, 1, 0, 0)
            Date.UTC(2014, 5, 25, 2, 0, 0)
            Date.UTC(2014, 5, 25, 3, 0, 0)
            Date.UTC(2014, 5, 25, 4, 0, 0)
            Date.UTC(2014, 5, 25, 5, 0, 0)
            Date.UTC(2014, 5, 25, 6, 0, 0)
            Date.UTC(2014, 5, 25, 7, 0, 0)
            Date.UTC(2014, 5, 25, 8, 0, 0)
            Date.UTC(2014, 5, 25, 9, 0, 0)
            Date.UTC(2014, 5, 25, 10, 0, 0)
            Date.UTC(2014, 5, 25, 11, 0, 0)
            Date.UTC(2014, 5, 25, 12, 0, 0)
            Date.UTC(2014, 5, 25, 13, 0, 0)
            Date.UTC(2014, 5, 25, 14, 0, 0)
            Date.UTC(2014, 5, 25, 15, 0, 0)
            Date.UTC(2014, 5, 25, 16, 0, 0)
            Date.UTC(2014, 5, 25, 17, 0, 0)
            Date.UTC(2014, 5, 25, 18, 0, 0)
            Date.UTC(2014, 5, 25, 19, 0, 0)
            Date.UTC(2014, 5, 25, 20, 0, 0)
            Date.UTC(2014, 5, 25, 21, 0, 0)
            Date.UTC(2014, 5, 25, 22, 0, 0)
            Date.UTC(2014, 5, 25, 23, 0, 0)
        ]

        @generateRandomData(dates)

        @historicChart = new Highcharts.Chart
            chart:
                renderTo: @historicChartContainerId
                type: 'spline'
            title:
                text: ''
            xAxis:
                type: 'datetime',
                dateTimeLabelFormats:
                    month: '%e. %b',
                    year: '%b'
                title:
                    text: ''
            yAxis:
                title:
                    text: ''
                max: 100
            tooltip:
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            series: [
                @tripsCompleted,
                @tripsRejected,
                @tripsCancelled,
                @tripsError
            ]

        @forecastChart = new Highcharts.Chart
            chart:
                renderTo: @forecastChartContainerId
                type: 'spline'
            title:
                text: ''
            xAxis:
                type: 'datetime',
                dateTimeLabelFormats:
                    month: '%e. %b',
                    year: '%b'
                title:
                    text: ''
            yAxis:
                title:
                    text: ''
                max: 100
            tooltip:
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            series: [
                @tripsCompleted,
                @tripsRejected,
                @tripsCancelled,
                @tripsError
            ]

        $('#trips-completed-filter-button').click =>
            $('#trips-completed-filter-button').toggleClass('active')
            @tripsCompletedSelected= not @tripsCompletedSelected
            @update([{
                name: 'Completed trips'
                historicData: @tripsCompleted
                forecastData: @tripsCompletedF
                load: @tripsCompletedSelected
            }])

        $('#trips-rejected-filter-button').click =>
            $('#trips-rejected-filter-button').toggleClass('active')
            @tripsRejectedSelected= not @tripsRejectedSelected
            @update([{
                name: 'Rejected trips'
                historicData: @tripsRejectedF
                forecastData: @tripsRejectedF
                load: @tripsRejectedSelected
            }])

        $('#trips-cancelled-filter-button').click =>
            $('#trips-cancelled-filter-button').toggleClass('active')
            @tripsCancelledSelected= not @tripsCancelledSelected
            @update([{
                name: 'Cancelled trips'
                historicData: @tripsCancelled
                forecastData: @tripsCancelledF
                load: @tripsCancelledSelected
            }])

        $('#trips-error-filter-button').click =>
            $('#trips-error-filter-button').toggleClass('active')
            @tripsErrorSelected= not @tripsErrorSelected
            @update([{
                name: 'Error trips'
                historicData: @tripsError
                forecastData: @tripsErrorF
                load: @tripsErrorSelected
            }])

        $('#time-enroute-filter-button').click =>
            $('#time-enroute-filter-button').toggleClass('active')
            @timeEnrouteSelected = not @timeEnrouteSelected
            @update([{
                name: 'Time enroute'
                historicData: @timeEnroute
                forecastData: @timeEnrouteF
                load: @timeEnrouteSelected
            }])

        $('#time-occupied-filter-button').click =>
            $('#time-occupied-filter-button').toggleClass('active')
            @timeOccupiedSelected = not @timeOccupiedSelected
            @update([{
                name: 'Time occupied'
                historicData: @timeOccupied
                forecastData: @timeOccupiedF
                load: @timeOccupiedSelected
            }])

        $('#time-idle-filter-button').click =>
            $('#time-idle-filter-button').toggleClass('active')
            @timeIdleSelected = not @timeIdleSelected
            @update([{
                name: 'Time idle'
                historicData: @timeIdle
                forecastData: @timeIdleF
                load: @timeIdleSelected
            }])

        $('#mileage-enroute-filter-button').click =>
            $('#mileage-enroute-filter-button').toggleClass('active')
            @mileageEnrouteSelected = not @mileageEnrouteSelected
            @update([{
                name: 'Mileage enroute'
                historicData: @mileageEnroute
                forecastData: @mileageEnrouteF
                load: @mileageEnrouteSelected
            }])

        $('#mileage-occupied-filter-button').click =>
            $('#mileage-occupied-filter-button').toggleClass('active')
            @mileageOccupiedSelected = not @mileageOccupiedSelected
            @update([{
                name: 'Mileage occupied'
                historicData: @mileageOccupied
                forecastData: @mileageOccupiedF
                load: @mileageOccupiedSelected
            }])

        $('#service-goal-filter-button').click =>
            $('#service-goal-filter-button').toggleClass('active')
            @serviceGoalSelected = not @serviceGoalSelected
            @update([{
                name: 'Service level'
                historicData: @serviceGoal
                forecastData: @serviceGoalF
                load: @serviceGoalSelected
            }])

        $('#service-lateness-filter-button').click =>
            $('#service-lateness-filter-button').toggleClass('active')
            @serviceLatenessSelected = not @serviceLatenessSelected
            @update([{
                name: 'Service lateness'
                historicData: @serviceLateness
                forecastData: @serviceLatenessF
                load: @serviceLatenessSelected
            }])

        $('#ratings-drivers-filter-button').click =>
            $('#ratings-drivers-filter-button').toggleClass('active')
            @ratingDriversSelected = not @ratingDriversSelected
            @update([{
                name: 'Rating drivers'
                historicData: @ratingDrivers
                forecastData: @ratingDriversF
                load: @ratingDriversSelected
            }])

        $('#ratings-passengers-filter-button').click =>
            $('#ratings-passengers-filter-button').toggleClass('active')
            @ratingPassengersSelected = not @ratingPassengersSelected
            @update([{
                name: 'Rating passengers'
                historicData: @ratingPassengers
                forecastData: @ratingPassengersF
                load: @ratingPassengersSelected
            }])

        $('#partners-select').change =>
            @generateRandomData(dates)
            @clearCharts()
            @update([
                {
                    name: 'Completed trips'
                    historicData: @tripsCompleted
                    forecastData: @tripsCompletedF
                    load: @tripsCompletedSelected
                },
                {
                    name: 'Rejected trips'
                    historicData: @tripsRejectedF
                    forecastData: @tripsRejectedF
                    load: @tripsRejectedSelected
                },
                {
                    name: 'Cancelled trips'
                    historicData: @tripsCancelled
                    forecastData: @tripsCancelledF
                    load: @tripsCancelledSelected
                },
                {
                    name: 'Error trips'
                    historicData: @tripsError
                    forecastData: @tripsErrorF
                    load: @tripsErrorSelected
                },
                {
                    name: 'Time enroute'
                    historicData: @timeEnroute
                    forecastData: @timeEnrouteF
                    load: @timeEnrouteSelected
                },
                {
                    name: 'Time occupied'
                    historicData: @timeOccupied
                    forecastData: @timeOccupiedF
                    load: @timeOccupiedSelected
                },
                {
                    name: 'Time idle'
                    historicData: @timeIdle
                    forecastData: @timeIdleF
                    load: @timeIdleSelected
                },
                {
                    name: 'Mileage enroute'
                    historicData: @mileageEnroute
                    forecastData: @mileageEnrouteF
                    load: @mileageEnrouteSelected
                },
                {
                    name: 'Mileage occupied'
                    historicData: @mileageOccupied
                    forecastData: @mileageOccupiedF
                    load: @mileageOccupiedSelected
                },
                {
                    name: 'Service level'
                    historicData: @serviceGoal
                    forecastData: @serviceGoalF
                    load: @serviceGoalSelected
                },
                {
                    name: 'Service lateness'
                    historicData: @serviceLateness
                    forecastData: @serviceLatenessF
                    load: @serviceLatenessSelected
                },
                {
                    name: 'Rating drivers'
                    historicData: @ratingDrivers
                    forecastData: @ratingDriversF
                    load: @ratingDriversSelected
                },
                {
                    name: 'Rating passengers'
                    historicData: @ratingPassengers
                    forecastData: @ratingPassengersF
                    load: @ratingPassengersSelected
                }


            ])


        $('#trips-completed-filter-button').toggleClass('active')
        $('#trips-rejected-filter-button').toggleClass('active')
        $('#trips-cancelled-filter-button').toggleClass('active')
        $('#trips-error-filter-button').toggleClass('active')

    update: (series) =>
        for serie in series
            if serie.load
                @historicChart.addSeries(serie.historicData, false, false)
                @forecastChart.addSeries(serie.forecastData, false, false)
            else
                hserie = @historicChart.get(serie.historicData.name)
                if hserie?
                    hserie.remove(false)
                fserie = @forecastChart.get(serie.forecastData.name)
                if fserie?
                    fserie.remove(false)
        @refreshCharts()

    clearCharts: () =>
        @historicChart = new Highcharts.Chart
            chart:
                renderTo: @historicChartContainerId
                type: 'spline'
            title:
                text: ''
            xAxis:
                type: 'datetime',
                dateTimeLabelFormats:
                    month: '%e. %b',
                    year: '%b'
                title:
                    text: ''
            yAxis:
                title:
                    text: ''
                max: 100
            tooltip:
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            series: [

            ]

        @forecastChart = new Highcharts.Chart
            chart:
                renderTo: @forecastChartContainerId
                type: 'spline'
            title:
                text: ''
            xAxis:
                type: 'datetime',
                dateTimeLabelFormats:
                    month: '%e. %b',
                    year: '%b'
                title:
                    text: ''
            yAxis:
                title:
                    text: ''
                max: 100
            tooltip:
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            series: [

            ]

    refreshCharts: () =>
        @historicChart.redraw()
        @forecastChart.redraw()


    generateRandomData: (dates) =>
        @tripsCompleted.data = []
        @tripsCancelled.data = []
        @tripsRejected.data = [] 
        @tripsError.data = []    
        @timeEnroute.data = []     
        @timeOccupied.data = []    
        @timeIdle.data = []        
        @mileageEnroute.data = []  
        @mileageOccupied.data = [] 
        @serviceGoal.data = []     
        @serviceLateness.data = [] 
        @ratingDrivers.data = []   
        @ratingPassengers.data = []

        @tripsCompletedF.data = []
        @tripsCancelledF.data = []
        @tripsRejectedF.data = [] 
        @tripsErrorF.data = []    
        @timeEnrouteF.data = []     
        @timeOccupiedF.data = []    
        @timeIdleF.data = []        
        @mileageEnrouteF.data = []  
        @mileageOccupiedF.data = [] 
        @serviceGoalF.data = []     
        @serviceLatenessF.data = [] 
        @ratingDriversF.data = []   
        @ratingPassengersF.data = []
        
        for date in dates
            @tripsCompleted.data.push @r(date)
            @tripsCancelled.data.push @r(date)
            @tripsRejected.data.push  @r(date)
            @tripsError.data.push     @r(date)
            @timeEnroute.data.push      @r(date)
            @timeOccupied.data.push     @r(date)
            @timeIdle.data.push         @r(date)
            @mileageEnroute.data.push   @r(date)
            @mileageOccupied.data.push  @r(date)
            @serviceGoal.data.push      @r(date)
            @serviceLateness.data.push  @r(date)
            @ratingDrivers.data.push    @r(date)
            @ratingPassengers.data.push @r(date)
    
            @tripsCompletedF.data.push @r(date)
            @tripsCancelledF.data.push @r(date)
            @tripsRejectedF.data.push  @r(date)
            @tripsErrorF.data.push     @r(date)
            @timeEnrouteF.data.push      @r(date)
            @timeOccupiedF.data.push     @r(date)
            @timeIdleF.data.push         @r(date)
            @mileageEnrouteF.data.push   @r(date)
            @mileageOccupiedF.data.push  @r(date)
            @serviceGoalF.data.push      @r(date)
            @serviceLatenessF.data.push  @r(date)
            @ratingDriversF.data.push    @r(date)
            @ratingPassengersF.data.push @r(date)

    r: (date) =>
        [date, (Math.random() * 30) + 70]


$('.developer.statistics').ready ->
    timeSeries = new TimeSeries(new GatewayMockStatistics(), 'historic-chart', 'forecast-chart')
    $('#datepicker').datepicker(
        format: "yyyy/mm/dd"
        startDate: "2012-01-01"
        endDate: "2015-01-01"
        todayBtn: "linked"
        autoclose: true
        todayHighlight: true
    );


########## PARTNERS #########

class CoverageMap

    constructor: (@gateway, @containerId, @selectorId) ->
        @fleets = {}
        @mapCanvas = null
        $('#' + @containerId).html('<%= image_tag('loading.gif', height: 128, width: 128) %>')
        google.maps.event.addDomListener window, "load", @gateway.getPartners(@init)

    init: (data) =>
        if data?
            $('#' + @containerId).html('')
            @loadSelectorFleets(data.fleets)
            @loadMap(data.fleets, @containerId)

    loadSelectorFleets: (fleets) =>
        for fleet in fleets
            if fleet.fleetName == "TripThru San Francisco"
                continue
            @fleets[fleet.fleetName] =  fleet
            $('#' + @selectorId).append('<option value="' + fleet.fleetName + '">' + fleet.fleetName + '</option>')
        $('#' + @selectorId).change =>
            selectedStatus = $('#' + @selectorId + ' option:selected').val()
            @mapCanvas.panTo(new google.maps.LatLng(@fleets[selectedStatus].coverage[0].center.lat, @fleets[selectedStatus].coverage[0].center.lng))


    loadMap: (fleets, containerId) =>
        mapOptions =
            zoom: 4
            center: new google.maps.LatLng(37.09024, -95.712891)
            mapTypeId: google.maps.MapTypeId.TERRAIN

        colors = [ "#006600", "#0D6B00", "#1A7000", "#267500", "#337A00", "#408000", "#4C8500", "#598A00", "#668F00", "#739400", "#809900", "#8C9E00", "#99A300", "#A6A800", "#B2AD00", "#BFB200", "#CCB800", "#D9BD00", "#E6C200", "#F2C700", "#FFCC00", "#FCC200", "#FAB800", "#F7AD00", "#F5A300", "#F29900", "#F08F00", "#ED8500", "#EB7A00", "#E87000", "#E66600", "#E35C00", "#E05200", "#DE4700", "#DB3D00", "#D93300", "#D62900", "#D41F00", "#D11400", "#CF0A00", "#CC0000" ]
        driversTotal = [89,5,37,90,35,18,51,47,31,19,74,10,92,65,65,20,32]
        driver = 0
        @mapCanvas = new google.maps.Map(document.getElementById(containerId), mapOptions)

        citymap = {}
        count = 0
        for fleet in fleets
            if fleet.fleetName == "TripThru San Francisco"
                continue
            driver++
            citymap[fleet.fleetName]=
                center: new google.maps.LatLng(fleet.coverage[0].center.lat, fleet.coverage[0].center.lng)
                population: fleet.coverage[0].radius
                drivers: driversTotal[driver]
            if count < driversTotal[driver]
                count = driversTotal[driver]

        steps = (colors.length / count)
        cityCircle = undefined
        for city of citymap
            temporalVar = (steps * citymap[city].drivers)
            colorNumber = Math.floor(temporalVar)
            populationOptions =
                strokeColor: if colorNumber > (colors.length - 1) then colors[colors.length - 1] else colors[colorNumber]
                strokeOpacity: 0.8
                strokeWeight: 2
                fillColor: if colorNumber > (colors.length - 1) then colors[colors.length - 1] else colors[colorNumber]
                fillOpacity: 0.35
                map: @mapCanvas
                center: citymap[city].center
                radius: citymap[city].population * 1000
            marker = new google.maps.Marker({
                position: citymap[city].center
                map: @mapCanvas
                title: city
            })
            cityCircle = new google.maps.Circle(populationOptions)


$('.developer.partners').ready ->

    coverageMap = new CoverageMap(
        new TripThru(tripthruUrl, $('#access_token').val())
        'partner-coverage-map'
        'partner-select'
    )


########## STATISTICS HEAT MAPS #########

class StatisticsHeatMap

    constructor: (@gateway, @containerId, @selectorId) ->
        @gateway.getPartners(@loadSelectorFleets)
        @startDate = new Date()
        @endDate = new Date()
        @tripsByIdHeatMap = []
        @updatingHeatMap = false
        @tripsById = {}
        @fleets = {}
        @selectedFleet = 'All'
        mapOptions =
            zoom: 4
            center: new google.maps.LatLng(37.09024, -95.712891)
            mapTypeId: google.maps.MapTypeId.TERRAIN
            disableDefaultUI: false
            scrollwheel: true
            draggable: true
            navigationControl: true
            mapTypeControl: false
            scaleControl: true
            disableDoubleClickZoom: false
        @map = new google.maps.Map(document.getElementById(containerId), mapOptions)
        @heatmap = new HeatmapOverlay(@map, {
            "radius": 15,
            "visible": true,
            "opacity": 60
        })

        @selectedStat = 'tripsCompleted'
        $('#trips-completed-filter-button').toggleClass('active')
        @stats = 
            'tripsCompleted' : 0
            'tripsCancelled' : 0
            'tripsRejected' : 0
            'tripsError' : 0
            'timeEnroute' : 0
            'timeOccupied' : 0
            'timeIdle' : 0
            'mileageEnroute' : 0
            'mileageOccupied' : 0
            'serviceGoal' : 0
            'serviceLateness' : 0
            'ratingDrivers' : 0
            'ratingPassengers' : 0
        @generateRandomData()

        $('#trips-completed-filter-button').click =>
            if @selectedStat != 'tripsCompleted'
                $('.filter-button').removeClass('active')
                $('#trips-completed-filter-button').addClass('active')
                @selectedStat = 'tripsCompleted'
                @drawHeatMap()

        $('#trips-rejected-filter-button').click =>
            if @selectedStat != 'tripsRejected'
                $('.filter-button').removeClass('active')
                $('#trips-rejected-filter-button').addClass('active')
                @selectedStat = 'tripsRejected'
                @drawHeatMap()

        $('#trips-cancelled-filter-button').click =>
            if @selectedStat != 'tripsCancelled'
                $('.filter-button').removeClass('active')
                $('#trips-cancelled-filter-button').addClass('active')
                @selectedStat = 'tripsCancelled'
                @drawHeatMap()

        $('#trips-error-filter-button').click =>
            if @selectedStat != 'tripsError'
                $('.filter-button').removeClass('active')
                $('#trips-error-filter-button').addClass('active')
                @selectedStat = 'tripsError'
                @drawHeatMap()

        $('#time-enroute-filter-button').click =>
            if @selectedStat != 'timeEnroute'
                $('.filter-button').removeClass('active')
                $('#time-enroute-filter-button').addClass('active')
                @selectedStat = 'timeEnroute'
                @drawHeatMap()

        $('#time-occupied-filter-button').click =>
            if @selectedStat != 'timeOccupied'
                $('.filter-button').removeClass('active')
                $('#time-occupied-filter-button').addClass('active')
                @selectedStat = 'timeOccupied'
                @drawHeatMap()

        $('#time-idle-filter-button').click =>
            if @selectedStat != 'timeIdle'
                $('.filter-button').removeClass('active')
                $('#time-idle-filter-button').addClass('active')
                @selectedStat = 'timeIdle'
                @drawHeatMap()

        $('#mileage-enroute-filter-button').click =>
            if @selectedStat != 'mileageEnroute'
                $('.filter-button').removeClass('active')
                $('#mileage-enroute-filter-button').addClass('active')
                @selectedStat = 'mileageEnroute'
                @drawHeatMap()

        $('#mileage-occupied-filter-button').click =>
            if @selectedStat != 'mileageOccupied'
                $('.filter-button').removeClass('active')
                $('#mileage-occupied-filter-button').addClass('active')
                @selectedStat = 'mileageOccupied'
                @drawHeatMap()

        $('#service-goal-filter-button').click =>
            if @selectedStat != 'serviceGoal'
                $('.filter-button').removeClass('active')
                $('#service-goal-filter-button').addClass('active')
                @selectedStat = 'serviceGoal'
                @drawHeatMap()

        $('#service-lateness-filter-button').click =>
            if @selectedStat != 'serviceLateness'
                $('.filter-button').removeClass('active')
                $('#service-lateness-filter-button').addClass('active')
                @selectedStat = 'serviceLateness'
                @drawHeatMap()

        $('#ratings-drivers-filter-button').click =>
            if @selectedStat != 'ratingDrivers'
                $('.filter-button').removeClass('active')
                $('#ratings-drivers-filter-button').addClass('active')
                @selectedStat = 'ratingDrivers'
                @drawHeatMap()

        $('#ratings-passengers-filter-button').click =>
            if @selectedStat != 'ratingPassengers'
                $('.filter-button').removeClass('active')
                $('#ratings-passengers-filter-button').addClass('active')
                @selectedStat = 'ratingPassengers'
                @drawHeatMap()
        
        google.maps.event.addDomListenerOnce(@map, "tilesloaded", () =>
            google.maps.event.addDomListenerOnce(@map, "tilesloaded", @update()))

    loadSelectorFleets: (fleets) =>
        for fleet in fleets.fleets
            if fleet.fleetName == "TripThru San Francisco"
                continue
            @fleets[fleet.fleetName] =  fleet
            $('#' + @selectorId).append('<option value="' + fleet.fleetName + '">' + fleet.fleetName + '</option>')
        $('#' + @selectorId).change =>
            @selectedFleet = $('#' + @selectorId + ' option:selected').val()
            @generateRandomData()
            @drawHeatMap()

    update: () =>
        if not @updatingHeatMap
            @updatingHeatMap = true
            @gateway.getTrips('',@loadHeatMapTrips)
        
    loadHeatMapTrips: (trips) =>
        tripsIds = []
        for newTrip in trips.trips
            tripsIds.push newTrip.id
            if newTrip.id not of @tripsById
                @processTrip(newTrip)

        for id, trip of @tripsById
            if id not in tripsIds
                delete @tripsById[id]
        @drawHeatMap()
        @updatingHeatMap = false

    drawHeatMap: () =>
        tripsData =
            max: 100
            data: []
        for key of @tripsById
            if @selectedFleet == 'All' or @selectedFleet == @tripsById[key].servicing
                tripsData.data.push {
                    lat: @tripsById[key].pickupLocation.lat,
                    lng: @tripsById[key].pickupLocation.lng,
                    count: @stats[@selectedStat]
                }
                tripsData.data.push {
                    lat: @tripsById[key].dropoffLocation.lat,
                    lng: @tripsById[key].dropoffLocation.lng,
                    count: @stats[@selectedStat]
                }
        if @selectedFleet != 'All'
            @map.panTo(new google.maps.LatLng(@fleets[@selectedFleet].coverage[0].center.lat, @fleets[@selectedFleet].coverage[0].center.lng))
        @heatmap.setDataSet(tripsData)


    processTrip: (newTrip) =>
        driverLocation =
            if newTrip.driverLocation? then new Location(newTrip.driverLocation.lat, newTrip.driverLocation.lng, null) else null
        driverInitialLocation =
            if newTrip.driverInitialLocation? then new Location(newTrip.driverInitialLocation.lat, newTrip.driverInitalLocation.lng, null) else null
        trip = new Trip(
                newTrip.id
                newTrip.passengerName
                newTrip.pickupTime
                new Location(newTrip.pickupLocation.lat, newTrip.pickupLocation.lng, null, false)
                newTrip.originatingPartnerName
                newTrip.servicingPartnerName
                newTrip.status
                newTrip.eta
                newTrip.price
                newTrip.driverName
                driverLocation
                new Location(newTrip.dropoffLocation.lat, newTrip.dropoffLocation.lng, null, false)
                driverInitialLocation
        )
        @tripsById[trip.getId()] = trip

    generateRandomData: () =>
        @stats['tripsCompleted'] = @r()
        @stats['tripsCancelled'] = @r()
        @stats['tripsRejected'] = @r()
        @stats['tripsError'] = @r()
        @stats['timeEnroute'] = @r()
        @stats['timeOccupied'] = @r()
        @stats['timeIdle'] = @r()
        @stats['mileageEnroute'] = @r()
        @stats['mileageOccupied'] = @r()
        @stats['serviceGoal'] = @r()
        @stats['serviceLateness'] = @r()
        @stats['ratingDrivers'] = @r()
        @stats['ratingPassengers'] = @r()

    r: () =>
        (Math.random() * 80) + 20

$('.developer.mapstatistics').ready ->
    statisticsHeatMap = new StatisticsHeatMap(
        new TripThru(tripthruUrl, $('#access_token').val())
        'heat-map'
        'partners-select'
    )
    setInterval =>
        statisticsHeatMap.update()
    , 10000
