Highcharts.setOptions(
  global:
    useUTC: false
)

class UpdateRequest

  constructor: (@chartTypeUpdated =  false
                @dataModeUpdated =   false
                @togglesUpdated  =   false
                @dateUpdated =       false
                @timeModeUpdated =   false
                @fleetUpdated =      false
                @selectedStatsUpdated = false
                @zoomUpdated =       false
                @clearZoomUpdated =  false) ->
    @obsolete = false
    @creationTime = new Date()

  isObsolete: () =>
    @obsolete
  makeObsolete: () =>
    @obsolete = true
  isChartTypeUpdate: () =>
    @chartTypeUpdated
  isDataModeUpdate: () =>
    @dataModeUpdated
  isToggleUpdate: () =>
    @togglesUpdated
  isDateUpdate: () =>
    @dateUpdated
  isTimeModeUpdate: () =>
    @timeModeUpdated
  isFleetUpdate: () =>
    @fleetUpdated
  isSelectedStatsUpdate: () =>
    @selectedStatsUpdated
  isZoomUpdate: () =>
    @zoomUpdated
  isClearZoomUpdate: () =>
    @clearZoomUpdated
  equals: (update) =>
    @isChartTypeUpdate()    == update.isChartTypeUpdate() and
    @isDataModeUpdate()     == update.isDataModeUpdate() and
    @isToggleUpdate()       == update.isToggleUpdate() and
    @isDateUpdate()         == update.isDateUpdate() and
    @isTimeModeUpdate()     == update.isTimeModeUpdate() and
    @isFleetUpdate()        == update.isFleetUpdate() and
    @isSelectedStatsUpdate() == update.isSelectedStatsUpdate() and
    @isZoomUpdate()         == update.isZoomUpdate() and
    @isClearZoomUpdate()    == update.isClearZoomUpdate()


class TimeSeries

  constructor: (@gateway, @historicChartContainerId, @forecastChartContainerId, @mapContainer) ->
    @gateway.getPartners(@loadSelectorFilters)
    @data = null

    @historicChart = null
    @forecastChart = null
    window.map = null
    @heatmap = null
    window.selectedGeographicZone = null
    @selectedGeographicZone = {
        lat: null
        lng: null
        radius: null
    }
    @networks = {}
    @fleets = {}
    @drivers = {}
    @tripsById = {}
    @stats = []

    @pendingUpdateRequests = []
    @selectedStat = 'tripsCompleted'
    @selectedNetwork = 'All'
    @selectedFleet = 'All'
    @selectedDriver = 'All'
    @chartType = 'series'
    @realtimeMode = true
    @percentageMode = true
    @forecastDataMode = false
    @farmedInMode = true
    @farmedOutMode = true
    @localTripsMode = true
    @updatingRealTime = false
    @updatingTimeRange = false
    @firstTimeShowingMap = true
    @pickupTripsLoaded = false
    @dropoffTripsLoaded = false
    @latestCountQuery = ''
    @latestListQuery = ''
    @realtimeModeInterval  = {
        seconds: true
        minutes: false
        hours: false
        days: false
        weeks: false
        months: false
    }

    @startDate = new Date()
    @startDate.setDate(@startDate.getDate()-7)
    @endDate = new Date()
    $('#start-date').datetimepicker(
      showToday: true
      format: "YYYY/MM/DD HH:mm"
    )
    $('#end-date').datetimepicker(
      showToday: true
      format: "YYYY/MM/DD HH:mm"
    )
    $('#start-date').data('DateTimePicker').setDate(@startDate)
    $('#end-date').data('DateTimePicker').setDate(@endDate)

    $('#trips-requested-filter-button').addClass('active')
    $('#trips-completed-filter-button').addClass('active')
    $('#trips-rejected-filter-button').addClass('active')
    $('#trips-cancelled-filter-button').addClass('active')
    $('#trips-error-filter-button').addClass('active')
    $('#farmedin-button').addClass('active')
    $('#farmedout-button').addClass('active')
    $('#local-button').addClass('active')
    $('#seconds-button').addClass('active')
    $('#realtime-button').addClass('active')
    $('#datepicker>input').attr("disabled", true)
    $('#time-range-panel').addClass('hidden')

    allStatuses = ['Complete', 'Rejected', 'Cancelled', 'Error']
    @tripsRequested =   @createSeriesObject('Requested trips',  allStatuses, '#6FC6F5', true, true, true)
    @tripsCompleted =   @createSeriesObject('Completed trips',  ['Complete'],  '#009933', false, true, true)
    @tripsCancelled =   @createSeriesObject('Cancelled trips',  ['Cancelled'],  '#FF9900', true, true, true)
    @tripsRejected =    @createSeriesObject('Rejected trips',   ['Rejected'],  '#BB6FF5', true, true, true)
    @tripsError =       @createSeriesObject('Error trips',      ['Error'],  '#CC0000', true, true, true)
    @serviceLateness =  @createSeriesObject('Lateness',         allStatuses,  '#3482B3', true, false, false)
    @timeEnroute =      @createSeriesObject('Time enroute',     allStatuses,  '#993366', true, true, false)
    @timeOccupied =     @createSeriesObject('Time occupied',    allStatuses,  '#D17445', true, true, false)
    @timeIdle =         @createSeriesObject('Time idle',        allStatuses,  '#993300', true, true, false)
    @mileageEnroute =   @createSeriesObject('Mileage enroute',  allStatuses,  '#339966', true, true, false)
    @mileageOccupied =  @createSeriesObject('Mileage occupied', allStatuses,  '#FF9999', true, true, false)
    @ratingDrivers =    @createSeriesObject('Drivers rating',   allStatuses,  '#3399FF', true, true, false)
    @ratingPassengers = @createSeriesObject('Passengers rating',allStatuses,  '#00CC99', true, true, false)

    @loadCharts()
    $('#forecast-chart-container').hide()
    @setFilterEvents()

    $('#seconds-button').click =>
        if (@realtimeMode and not $('#seconds-button').hasClass('active')) or not @realtimeMode
            $('#realtime-intervals-container').find('.active').removeClass('active')
            for name of @realtimeModeInterval
                @realtimeModeInterval[name] = false
            $('#seconds-button').addClass('active')
            @realtimeModeInterval.seconds = true
            @realtimeMode = true
        else
            $('#realtime-intervals-container').find('.active').removeClass('active')
            @realtimeMode = false
        @toggleRealTime()

    $('#minutes-button').click =>
      if (@realtimeMode and not $('#minutes-button').hasClass('active')) or not @realtimeMode
          $('#realtime-intervals-container').find('.active').removeClass('active')
          for name of @realtimeModeInterval
            @realtimeModeInterval[name] = false
          $('#minutes-button').addClass('active')
          @realtimeModeInterval.minutes = true
          @realtimeMode = true
      else
          $('#realtime-intervals-container').find('.active').removeClass('active')
          @realtimeMode = false
      @toggleRealTime()

    $('#hours-button').click =>
      if (@realtimeMode and not $('#hours-button').hasClass('active')) or not @realtimeMode
          $('#realtime-intervals-container').find('.active').removeClass('active')
          for name of @realtimeModeInterval
            @realtimeModeInterval[name] = false
          $('#hours-button').addClass('active')
          @realtimeModeInterval.hours = true
          @realtimeMode = true
      else
          $('#realtime-intervals-container').find('.active').removeClass('active')
          @realtimeMode = false
      @toggleRealTime()

    $('#days-button').click =>
      if (@realtimeMode and not $('#days-button').hasClass('active')) or not @realtimeMode
          $('#realtime-intervals-container').find('.active').removeClass('active')
          for name of @realtimeModeInterval
            @realtimeModeInterval[name] = false
          $('#days-button').addClass('active')
          @realtimeModeInterval.days = true
          @realtimeMode = true
      else
          $('#realtime-intervals-container').find('.active').removeClass('active')
          @realtimeMode = false
      @toggleRealTime()

    $('#weeks-button').click =>
      if (@realtimeMode and not $('#weeks-button').hasClass('active')) or not @realtimeMode
          $('#realtime-intervals-container').find('.active').removeClass('active')
          for name of @realtimeModeInterval
            @realtimeModeInterval[name] = false
          $('#weeks-button').addClass('active')
          @realtimeModeInterval.weeks = true
          @realtimeMode = true
      else
          $('#realtime-intervals-container').find('.active').removeClass('active')
          @realtimeMode = false
      @toggleRealTime()

    $('#realtime-button').click =>
      if @realtimeMode
        @realtimeMode = false
        $('#realtime-button').val('Time range')
        $('#datepicker>input').attr("disabled", false)
        $('#realtime-intervals-container>input').addClass('disabled')
        $('#realtime-panel').addClass('hidden')
        $('#time-range-panel').removeClass('hidden')
      else
        @realtimeMode = true
        $('#realtime-button').val('Real-time')
        $('#datepicker>input').attr("disabled", true)
        $('#realtime-intervals-container>input').removeClass('disabled')
        $('#realtime-panel').removeClass('hidden')
        $('#time-range-panel').addClass('hidden')
      updateRequest = @createUpdateRequest({timeModeUpdate: true, togglesUpdate: true})
      @update(updateRequest)

    $('#start-date').on 'dp.change', (e) =>
        @startDate = e.date
        updateRequest = @createUpdateRequest({dateUpdate: true})
        @update(updateRequest)

    $('#end-date').on 'dp.change', (e) =>
        @endDate = e.date
        updateRequest = @createUpdateRequest({dateUpdate: true})
        @update(updateRequest)

    $('#networks-select').change =>
      @selectedNetwork = $('#networks-select option:selected').val()
      @selectedFleet = 'All'
      $('#fleets-select').html '<option value="All" selected="selected">All</option>'
      if @selectedNetwork == 'All'
        for id, fleet of @fleets
          $('#fleets-select').append('<option value="' + fleet.fleetName + '">' + fleet.fleetName + '</option>')
      else
        for fleet in @networks[@selectedNetwork].fleets
          $('#fleets-select').append('<option value="' + fleet + '">' + fleet + '</option>')
      updateRequest = @createUpdateRequest({togglesUpdate: true, fleetUpdate: true})
      @update(updateRequest)

    $('#fleets-select').change =>
      @selectedFleet = $('#fleets-select option:selected').val()
      updateRequest = @createUpdateRequest({togglesUpdate: true, fleetUpdate: true})
      @update(updateRequest)

    $('#drivers-select').change =>
      @selectedDriver = $('#drivers-select option:selected').val()
      updateRequest = @createUpdateRequest({togglesUpdate: true, fleetUpdate: true})
      @update(updateRequest)

    $('#chart-type-toggle-container>#toggle-button').click =>
        if @chartType == 'series'
            @chartType = 'map'
            $('#statistics-toggle').hide()
            $('#heatmap-toggle').show()
        else
            @chartType = 'series'
            $('#heatmap-toggle').hide()
            $('#statistics-toggle').show()
        @setFilterEvents()
        events = {chartTypeUpdate: true}
        if @firstTimeShowingMap
          events.clearZoomUpdate = true
          @firstTimeShowingMap = false
        updateRequest = @createUpdateRequest(events)
        @update(updateRequest)

    $('#historic-toggle-container>#toggle-button').click =>
        if @forecastDataMode
            $('#forecast-toggle').hide()
            $('#historic-toggle').show()
        else
            $('#historic-toggle').hide()
            $('#forecast-toggle').show()
        @forecastDataMode = not @forecastDataMode
        updateRequest = @createUpdateRequest({dataModeUpdate: true})
        @update(updateRequest)


    $('#data-mode-toggle-container>#toggle-button').click =>
        if @percentageMode
          $('#percentage-toggle').hide()
          $('#absolute-toggle').show()
        else
          $('#absolute-toggle').hide()
          $('#percentage-toggle').show()
        @percentageMode = not @percentageMode
        updateRequest = @createUpdateRequest({togglesUpdate: true})
        @update(updateRequest)

    $('#farmedin-button').click =>
      if not @farmedInMode or @farmedOutMode or @localTripsMode
        $('#farmedin-button').toggleClass('active')
        @farmedInMode = not @farmedInMode
        updateRequest = @createUpdateRequest({togglesUpdate: true, clearZoomUpdate: true})
        @update(updateRequest)

    $('#farmedout-button').click =>
      if not @farmedOutMode or @farmedInMode or @localTripsMode
        $('#farmedout-button').toggleClass('active')
        @farmedOutMode = not @farmedOutMode
        updateRequest = @createUpdateRequest({togglesUpdate: true, clearZoomUpdate: true})
        @update(updateRequest)

    $('#local-button').click =>
      if not @localTripsMode or @farmedInMode or @farmedOutMode
        $('#local-button').toggleClass('active')
        @localTripsMode = not @localTripsMode
        updateRequest = @createUpdateRequest({togglesUpdate: true, clearZoomUpdate: true})
        @update(updateRequest)

    @update()

  createUpdateRequest: (type) =>
    chartTypeUpdated =  type.chartTypeUpdate? and type.chartTypeUpdate
    dataModeUpdated =   type.dataModeUpdate? and type.dataModeUpdate
    togglesUpdated  =   type.togglesUpdate? and type.togglesUpdate
    dateUpdated =       type.dateUpdate? and type.dateUpdate
    timeModeUpdated =   type.timeModeUpdate? and type.timeModeUpdate
    fleetUpdated =      type.fleetUpdate? and type.fleetUpdate
    selectedStatsUpdated = type.selectedStatsUpdate? and type.selectedStatsUpdate
    zoomUpdated =       type.zoomUpdate? and type.zoomUpdate
    clearZoomUpdated =  type.clearZoomUpdate? and type.clearZoomUpdate

    @pendingUpdateRequests = @getPendingRequestsNotObsolete()
    newUpdate = new UpdateRequest(chartTypeUpdated, dataModeUpdated, togglesUpdated, dateUpdated, timeModeUpdated, fleetUpdated, selectedStatsUpdated, zoomUpdated, clearZoomUpdated)
    for update in @pendingUpdateRequests
      if update.equals(newUpdate)
        update.makeObsolete()
    @pendingUpdateRequests.push newUpdate
    return newUpdate

  getPendingRequestsNotObsolete: () =>
    $.grep(@pendingUpdateRequests, (updateRequest) => !updateRequest.isObsolete())

  createSeriesObject: (name, tripStatuses, color, isPickupStat, isBasedOnLocationConcentration, show) =>
    stat = {
      name: name
      id: name
      tripStatuses: tripStatuses
      color: color
      data: []
      isPickupStat: isPickupStat
      isBasedOnLocationConcentration: isBasedOnLocationConcentration
      show: show
    }
    @stats.push stat
    return stat

  toggleRealTime: () =>
      if @realtimeMode
        @loadCharts()
      updateRequest = @createUpdateRequest({togglesUpdate: true})
      @update(updateRequest)

  setFilterEvents: () =>
      if @chartType == 'series'
          $('.filter-button').removeClass('active')
          $('#trips-requested-filter-button').toggleClass('active')
          $('#trips-completed-filter-button').toggleClass('active')
          $('#trips-rejected-filter-button').toggleClass('active')
          $('#trips-cancelled-filter-button').toggleClass('active')
          $('#trips-error-filter-button').toggleClass('active')

          $('#trips-requested-filter-button').off('click').on 'click', =>
            $('#trips-requested-filter-button').toggleClass('active')
            @tripsRequested.show= not @tripsRequested.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)
          
          $('#trips-completed-filter-button').off('click').on 'click', =>
            $('#trips-completed-filter-button').toggleClass('active')
            @tripsCompleted.show= not @tripsCompleted.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#trips-rejected-filter-button').off('click').on 'click', =>
            $('#trips-rejected-filter-button').toggleClass('active')
            @tripsRejected.show= not @tripsRejected.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#trips-cancelled-filter-button').off('click').on 'click', =>
            $('#trips-cancelled-filter-button').toggleClass('active')
            @tripsCancelled.show= not @tripsCancelled.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#trips-error-filter-button').off('click').on 'click', =>
            $('#trips-error-filter-button').toggleClass('active')
            @tripsError.show= not @tripsError.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#time-enroute-filter-button').off('click').on 'click', =>
            $('#time-enroute-filter-button').toggleClass('active')
            @timeEnroute.show = not @timeEnroute.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#time-occupied-filter-button').off('click').on 'click', =>
            $('#time-occupied-filter-button').toggleClass('active')
            @timeOccupied.show = not @timeOccupied.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#time-idle-filter-button').off('click').on 'click', =>
            $('#time-idle-filter-button').toggleClass('active')
            @timeIdle.show = not @timeIdle.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#mileage-enroute-filter-button').off('click').on 'click', =>
            $('#mileage-enroute-filter-button').toggleClass('active')
            @mileageEnroute.show = not @mileageEnroute.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#mileage-occupied-filter-button').off('click').on 'click', =>
            $('#mileage-occupied-filter-button').toggleClass('active')
            @mileageOccupied.show = not @mileageOccupied.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#service-lateness-filter-button').off('click').on 'click', =>
            $('#service-lateness-filter-button').toggleClass('active')
            @serviceLateness.show = not @serviceLateness.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#ratings-drivers-filter-button').off('click').on 'click', =>
            $('#ratings-drivers-filter-button').toggleClass('active')
            @ratingDrivers.show = not @ratingDrivers.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)

          $('#ratings-passengers-filter-button').off('click').on 'click', =>
            $('#ratings-passengers-filter-button').toggleClass('active')
            @ratingPassengers.show = not @ratingPassengers.show
            updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
            @update(updateRequest)
      else
          @selectedStat = @tripsCompleted
          $('.filter-button').removeClass('active')
          $('#trips-completed-filter-button').addClass('active')

          $('#trips-requested-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @tripsRequested.name
              $('.filter-button').removeClass('active')
              $('#trips-requested-filter-button').addClass('active')
              @selectedStat = @tripsRequested
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#trips-completed-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @tripsCompleted.name
              $('.filter-button').removeClass('active')
              $('#trips-completed-filter-button').addClass('active')
              @selectedStat = @tripsCompleted
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#trips-rejected-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @tripsRejected.name
              $('.filter-button').removeClass('active')
              $('#trips-rejected-filter-button').addClass('active')
              @selectedStat = @tripsRejected
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#trips-cancelled-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @tripsCancelled.name
              $('.filter-button').removeClass('active')
              $('#trips-cancelled-filter-button').addClass('active')
              @selectedStat = @tripsCancelled
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#trips-error-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @tripsError.name
              $('.filter-button').removeClass('active')
              $('#trips-error-filter-button').addClass('active')
              @selectedStat = @tripsError
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#time-enroute-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @timeEnroute.name
              $('.filter-button').removeClass('active')
              $('#time-enroute-filter-button').addClass('active')
              @selectedStat = @timeEnroute
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#time-occupied-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @timeOccupied.name
              $('.filter-button').removeClass('active')
              $('#time-occupied-filter-button').addClass('active')
              @selectedStat = @timeOccupied
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#time-idle-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @timeIdle.name
              $('.filter-button').removeClass('active')
              $('#time-idle-filter-button').addClass('active')
              @selectedStat = @timeIdle
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#mileage-enroute-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @mileageEnroute.name
              $('.filter-button').removeClass('active')
              $('#mileage-enroute-filter-button').addClass('active')
              @selectedStat = @mileageEnroute
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#mileage-occupied-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @mileageOccupied.name
                $('.filter-button').removeClass('active')
                $('#mileage-occupied-filter-button').addClass('active')
                @selectedStat = @mileageOccupied
                updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
                @update(updateRequest)

          $('#service-lateness-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @serviceLateness.name
              $('.filter-button').removeClass('active')
              $('#service-lateness-filter-button').addClass('active')
              @selectedStat = @serviceLateness
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#ratings-drivers-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @ratingDrivers.name
              $('.filter-button').removeClass('active')
              $('#ratings-drivers-filter-button').addClass('active')
              @selectedStat = @ratingDrivers
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

          $('#ratings-passengers-filter-button').off('click').on 'click', =>
            if @selectedStat.name != @ratingPassengers.name
              $('.filter-button').removeClass('active')
              $('#ratings-passengers-filter-button').addClass('active')
              @selectedStat = @ratingPassengers
              updateRequest = @createUpdateRequest({togglesUpdate: true, selectedStatsUpdate: true})
              @update(updateRequest)

  update: (updateRequest) =>
      if !updateRequest?
        activeRequests = @getPendingRequestsNotObsolete()
        if activeRequests? and activeRequests.length > 0
          updateRequest = @createUpdateRequest({})
        else
          return
      if updateRequest.isObsolete()
        return
      if updateRequest.isChartTypeUpdate() and @chartType == 'series'
        $('#map-container').hide()
        $('#time-series-container').show()
        @loadCharts()
      else if updateRequest.isChartTypeUpdate() and @chartType == 'map'
        $('#time-series-container').hide()
        $('#map-container').show()
        if !window.map?
          @loadMap()
          google.maps.event.addDomListenerOnce(window.map, "tilesloaded", () =>
              google.maps.event.addDomListenerOnce(window.map, "tilesloaded", @update(updateRequest)))
          return
        else
          google.maps.event.trigger(window.map,'resize')

      if updateRequest.isDataModeUpdate()
        if @forecastDataMode
          $('#chart-title>h2').html 'Forecast'
          if @chartType == 'series'
            $('#historic-chart-container').hide()
            $('#forecast-chart-container').show()
            @loadCharts()
        else
          $('#chart-title>h2').html 'Historic'
          if @chartType == 'series'
            $('#forecast-chart-container').hide()
            $('#historic-chart-container').show()
            @loadCharts()

      if @realtimeMode
        @showLoadingIndicator()
        if @chartType == 'series'
          @updateSeriesRealTime(updateRequest)
        else
          @updateHeatMapRealTime(updateRequest)
      else if not @realtimeMode and (updateRequest.isDateUpdate() or updateRequest.isToggleUpdate() or updateRequest.isChartTypeUpdate() or updateRequest.isDataModeUpdate())
        @showLoadingIndicator()
        if @chartType == 'series'
          @updateSeriesTimeRange(updateRequest)
        else
          @updateHeatMapTimeRange(updateRequest)
      else
        updateRequest.makeObsolete()
      
  updateSeriesRealTime: (updateRequest) =>
    [query, dates, intervals] = @getTripsCountRealTimeQuery()
    if query != @latestCountQuery
      $.get '/mongo_db/trips_count?' + query + '&by_status=true', (countByStatus) =>
        $.get '/mongo_db/trips_count?' + query + '&by_status=false&by_creation_time=true', (totalCount) =>
          @latestCountQuery = query
          @setStats @mongoDbTripCountToStats(countByStatus, totalCount, dates, intervals), updateRequest
    else
      @setStats @stats, updateRequest

  getTripsCountRealTimeQuery: () =>
      startDate = new Date()
      intervalCount = 0
      bucketSize = 1
      intervalName = ''
      if @realtimeModeInterval.seconds
        startDate.setMinutes(startDate.getMinutes()-10)
        intervalCount = 41
        bucketSize = 15
        intervalName = 'second'
      else if @realtimeModeInterval.minutes
        startDate.setHours(startDate.getHours()-10)
        intervalCount = 41
        bucketSize = 15
        intervalName = 'minute'
      else if @realtimeModeInterval.hours
        startDate.setDate(startDate.getDate()-2)
        intervalCount = 49
        intervalName = 'hour'
      else if @realtimeModeInterval.days
        startDate.setMonth(startDate.getMonth()-1)
        intervalCount = 33
        intervalName = 'day'
      else if @realtimeModeInterval.weeks
        startDate.setMonth(startDate.getMonth()-3)
        intervalCount = 14
        intervalName = 'week'
      date = +(new Date(startDate)) / 1000;

      [dates, intervalIds] = @getDatesByInterval(startDate, intervalName, intervalCount, bucketSize)

      query = 'startDate=' + date + '&interval=' + intervalName + '&bucketSize=' + bucketSize + @getCommonQuery()

      return [query, dates, intervalIds]

  updateSeriesTimeRange: (updateRequest) =>
    [query, dates, intervals] = @getTripsCountTimeRangeQuery(new Date(@startDate), new Date(@endDate))
    if query != @latestCountQuery
      $.get '/mongo_db/trips_count?' + query + '&by_status=true', (countByStatus) =>
        $.get '/mongo_db/trips_count?' + query + '&by_status=false&by_creation_time=true', (totalCount) =>
          @latestCountQuery = query
          @setStats @mongoDbTripCountToStats(countByStatus, totalCount, dates, intervals), updateRequest
    else
      @setStats @stats, updateRequest

  getTripsCountTimeRangeQuery: (startDate, endDate) =>
    startMoment = moment(startDate)
    endMoment = moment(endDate)
    days = endMoment.diff(startMoment, 'days')
    intervalCount = 0
    bucketSize = 1
    intervalName = ''

    if days < 1
      hours = endMoment.diff(startMoment, 'hours')
      if hours < 1
        minutes = endMoment.diff(startMoment, 'minutes')
        if minutes <= 15
          bucketSize = 15
          intervalCount = minutes * 60 / bucketSize
          intervalName = 'second'
        else
          intervalCount = minutes
          intervalName = 'minute'
      else if hours < 12
        bucketSize = 5
        intervalCount = hours * 60 / bucketSize
        intervalName = 'minute'
      else
        intervalCount = hours
        intervalName = 'hour'
    else if days >= 1 and days < 3
      intervalCount = days * 24
      intervalName = 'hour'
    else if days >= 3 and days < 7
      bucketSize = 8
      intervalCount = days * 24 / bucketSize
      intervalName = 'hour'
    else if days < 61
      intervalCount = days
      intervalName = 'day'
    else
      intervalCount = (days / 7).toFixed(0)
      intervalName = 'week'

    [dates, intervalIds] = @getDatesByInterval(new Date(startDate), intervalName, intervalCount, bucketSize)

    startDate.setDate(startDate.getDate() - 1)
    endDate.setDate(endDate.getDate() + 1)
    query = 'startDate=' + (+startDate/1000) + '&endDate=' + (+endDate/1000) + '&interval=' + intervalName + '&bucketSize=' + bucketSize + @getCommonQuery()

    return [query, dates, intervalIds]

  getDatesByInterval: (startDate, intervalName, intervalCount, bucketSize) =>
      dates = []
      intervalIds = []
      for i in [0..intervalCount]
          interval = 0
          switch intervalName
              when 'second'
                  interval = startDate.getUTCHours()*3600 + startDate.getUTCMinutes()*60 + startDate.getUTCSeconds()
                  dates.push startDate.getTime()
                  intervalIds.push (interval/bucketSize).toFixed(0)
                  startDate.setSeconds(startDate.getSeconds() + bucketSize)
              when 'minute'
                  interval = startDate.getUTCHours()*60 + startDate.getUTCMinutes()
                  dates.push startDate.getTime()
                  intervalIds.push (interval/bucketSize).toFixed(0)
                  startDate.setMinutes(startDate.getMinutes() + bucketSize)
              when 'hour'
                  interval = startDate.getDayOfYear() * 24 + startDate.getUTCHours()
                  dates.push startDate.getTime()
                  intervalIds.push (interval/bucketSize).toFixed(0)
                  startDate.setHours(startDate.getHours() + bucketSize)
              when 'day'
                  interval = startDate.getDayOfYear()
                  dates.push startDate.getTime()
                  intervalIds.push (interval/bucketSize).toFixed(0)
                  startDate.setDate(startDate.getDate() + bucketSize)
              when 'week'
                  interval = startDate.getWeek()
                  dates.push startDate.getTime()
                  intervalIds.push (interval/bucketSize).toFixed(0)
                  startDate.setDate(startDate.getDate() + 7)
      return [dates, intervalIds]

  mongoDbTripCountToStats: (countByStatus, totalCount, dates, intervals) =>

    for stat in @stats
      stat.data = []

    @YAxisMax = 0
    i = 0
    for interval in intervals
        date = dates[i]
        id = interval
        countComplete = 0
        countCancelled = 0
        countRejected = 0
        countError = 0
        latenessAverage = 0

        latenessAverages = countByStatus.filter((v) ->
                    (v._id.Status == 'Complete' or
                    v._id.Status == 'Cancelled' or
                    v._id.Status == 'Rejected' or
                    v._id.Status == 'Error') and
                    v._id.Interval == parseInt(id))
        latenessAverage = 0
        for val in latenessAverages
          latenessAverage += val.lateness
        if latenessAverages.length > 0
          latenessAverage /= latenessAverages.length
          latenessAverage /= 60000

        count = countByStatus.filter((v) -> v._id.Status == 'Complete' and v._id.Interval == parseInt(id))
        countComplete = if count.length == 0 then 0 else count[0].count
        count = countByStatus.filter((v) -> v._id.Status == 'Cancelled' and v._id.Interval == parseInt(id))
        countCancelled = if count.length == 0 then 0 else count[0].count
        count = countByStatus.filter((v) -> v._id.Status == 'Rejected' and v._id.Interval == parseInt(id))
        countRejected = if count.length == 0 then 0 else count[0].count
        count = countByStatus.filter((v) -> v._id.Status == 'Error' and v._id.Interval == parseInt(id))
        countError = if count.length == 0 then 0 else count[0].count
        count = totalCount.filter((v) -> v._id.Interval == parseInt(id))
        countRequested = if count.length == 0 then 0 else count[0].count
        total = countComplete + countCancelled + countRejected + countError

        if @percentageMode
            countRequested = if countRequested > 0 then 100 else 0
            countComplete = if countComplete > 0 then countComplete * 100 / total else 0
            countCancelled = if countCancelled > 0 then countCancelled * 100 / total else 0
            countRejected = if countRejected > 0 then countRejected * 100 / total else 0
            countError = if countError > 0 then countError * 100 / total else 0


        @tripsRequested.data.push [date, countRequested]
        @tripsCompleted.data.push [date, countComplete]
        @tripsRejected.data.push [date, countRejected]
        @tripsCancelled.data.push [date, countCancelled]
        @tripsError.data.push [date, countError]
        @serviceLateness.data.push [date, latenessAverage]

        i++
    @stats

  setStats: (stats, updateRequest) =>
    if @chartType == 'series'
      if updateRequest.isObsolete()
        return
      yAxisMax = 0
      for stat in stats
          serie = {
            name: stat.name
            id: stat.id
            color: stat.color
            data: stat.data
            marker: {
              enabled: true,
              radius: 3
              symbol: 'circle'
            }
          }
          if stat.show
            for val in stat.data
              if val[1] > yAxisMax
                yAxisMax = val[1]
          if @forecastDataMode
              existingSerie = @forecastChart.get(stat.name)
              if stat.show
                if existingSerie?
                  existingSerie.update({pointStart: stat.data[0], data: stat.data})
                else
                  @forecastChart.addSeries(serie, false, false)
              else
                existingSerie.remove(false)
          else
              existingSerie = @historicChart.get(stat.name)
              if stat.show
                if existingSerie?
                  existingSerie.update({pointStart: stat.data[0], data: stat.data})
                else
                  @historicChart.addSeries(serie, false, false)
              else if existingSerie?
                existingSerie.remove(false)
      if not @percentageMode
          if @forecastDataMode
              @forecastChart.yAxis[0].setExtremes(0, yAxisMax)
          else
              @historicChart.yAxis[0].setExtremes(0, yAxisMax)
      else
          if @forecastDataMode
              @forecastChart.yAxis[0].setExtremes(0, 100)
          else
              @historicChart.yAxis[0].setExtremes(0, 100)
      @refreshCharts()
      @hideLoadingIndicator()
      updateRequest.makeObsolete()

  getTripsListRealTimeQuery: () =>
    startDate = new Date()
    if @realtimeModeInterval.seconds
      startDate.setMinutes(startDate.getMinutes()-10)
    else if @realtimeModeInterval.minutes
      startDate.setHours(startDate.getHours()-10)
    else if @realtimeModeInterval.hours
      startDate.setDate(startDate.getDate()-2)
    else if @realtimeModeInterval.days
      startDate.setMonth(startDate.getMonth()-1)
    else if @realtimeModeInterval.weeks
      startDate.setMonth(startDate.getMonth()-3)
    date = +(new Date(startDate)) / 1000

    group_by = if @selectedStat.isPickupStat then 'pickup' else 'dropoff'

    return 'startDate=' + date + '&group_by=' + group_by + @getCommonQuery()

  getTripsListTimeRangeQuery: (startDate, endDate) =>
    group_by = if @selectedStat.isPickupStat then 'pickup' else 'dropoff'
    return 'startDate=' + (+startDate/1000) + '&endDate=' + (+endDate/1000) + '&group_by=' + group_by + @getCommonQuery()

  getCommonQuery: () =>
    selectedGeographicZone = ''
    if window.selectedGeographicZone?
      lat = window.selectedGeographicZone.getCenter().lat()
      lng = window.selectedGeographicZone.getCenter().lng()
      radius = window.selectedGeographicZone.getRadius() / 1609.344
      selectedGeographicZone = '&centerLat=' + lat + '&centerLng=' + lng + '&centerRadius=' + radius

    networkId = ''
    id = if @selectedNetwork != 'All' then @networks[@selectedNetwork].id else 'all'
    if @farmedInMode
      networkId += '&servicingNetworkId=' + id
    if @farmedOutMode
      networkId += '&originatingNetworkId=' + id
    if @localTripsMode
      networkId += '&localNetworkId=' + id

    return selectedGeographicZone + networkId

  updateHeatMapRealTime: (updateRequest) =>
    @loadHeatMapTrips(updateRequest, @getTripsListRealTimeQuery())

  updateHeatMapTimeRange: (updateRequest) =>
    @loadHeatMapTrips(updateRequest, @getTripsListTimeRangeQuery(new Date(@startDate), new Date(@endDate)))

  loadHeatMapTrips: (updateRequest, query) =>
    isPickupStat = @selectedStat.isPickupStat
    if query == @latestListQuery or
        updateRequest.isSelectedStatsUpdate() and
        ((isPickupStat and @pickupTripsLoaded) or (not isPickupStat and @dropoffTripsLoaded))
      @drawHeatMap(updateRequest)
      updateRequest.makeObsolete()
      @hideLoadingIndicator()
    else
      if not updateRequest.isSelectedStatsUpdate()
        @pickupTripsLoaded = false
        @dropoffTripsLoaded = false
      $.get '/mongo_db/trips_list?' + query , (trips) =>
        tripsIds = []
        for newTrip in trips
          newTripId = '<' + isPickupStat + ',' + newTrip._id.status + ',' + newTrip._id.location.Lat + ',' + newTrip._id.location.Lng + '>'
          tripsIds.push newTripId
          if newTripId not of @tripsById or
              (isPickupStat and !@tripsById[newTripId].pickupLocation?) or
              (not isPickupStat and !@tripsById[newTripId].dropoffLocation)

            @tripsById[newTripId] = {
                                      location: newTrip._id.location
                                      status: newTrip._id.status
                                      count: newTrip.count
                                      lateness: newTrip.lateness
                                      isPickupLocation: isPickupStat
                                    }
        for id, trip of @tripsById
          if id not in tripsIds and isPickupStat == trip.isPickupLocation
            delete @tripsById[id]
        if isPickupStat
          @pickupTripsLoaded = true
        else
          @dropoffTripsLoaded = true
        @latestListQuery = query
        if not updateRequest.isObsolete()
          @drawHeatMap(updateRequest)
          @hideLoadingIndicator()
          updateRequest.makeObsolete()

  drawHeatMap: (updateRequest) =>
      taxiData = []
      trips = []
      intensity = 0

      #if @selectedStat.isBasedOnLocationConcentration

      for id, trip of @tripsById
        if trip.status in @selectedStat.tripStatuses and trip.isPickupLocation == @selectedStat.isPickupStat
          location = new google.maps.LatLng(trip.location.Lat,trip.location.Lng)
          if !window.selectedGeographicZone? or (window.selectedGeographicZone.isHere(location))
            trips.push {
              lat: trip.location.Lat
              lng: trip.location.Lng
            }
            taxiData.push {
              location: location,
              weight: trip.count*20
            }
            intensity++
      #else

      @setMapZoom(trips, updateRequest)
      @heatmap.setMap null
      gradient = [ "rgba(0, 255, 255, 0)", "rgba(13, 0, 229, 1)", "rgba(0, 74, 225, 1)", "rgba(0, 159, 221, 1)", "rgba(0, 217, 193, 1)", "rgba(0, 213, 106, 1)", "rgba(0, 210, 22, 1)", "rgba(58, 206, 0, 1)", "rgba(135, 202, 0, 1)", "rgba(198, 186, 0, 1)", "rgba(194, 106, 0, 1)", "rgba(191, 30, 0, 1)" ]
      @heatmap = new google.maps.visualization.HeatmapLayer({
          data: taxiData,
          radius: 20,
          maxIntensity: intensity,
          gradient: gradient,
      })
      @heatmap.setMap window.map

  setMapZoom: (trips, updateRequest) =>
    if window.map? and (updateRequest.isFleetUpdate() or updateRequest.isClearZoomUpdate())
      if trips.length > 0
        geoCenter = @getCentrePointFromListOfCoordinates(trips)
        bounds = new google.maps.LatLngBounds()
        bounds.extend(new google.maps.LatLng(geoCenter.maxlat, geoCenter.maxlng))
        bounds.extend(new google.maps.LatLng(geoCenter.minlat, geoCenter.minlng))
        window.map.fitBounds(bounds)
      else if @selectedFleet != 'All'
        partnerPosition = new google.maps.LatLng(@fleets[@selectedFleet].coverage[0].center.lat, @fleets[@selectedFleet].coverage[0].center.lng)
        if window.selectedGeographicZone? and !window.selectedGeographicZone.isHere(partnerPosition)
          window.selectedGeographicZone.setMap null
          window.selectedGeographicZone = null
        window.map.panTo partnerPosition
        window.map.setZoom 8
      else
        window.map.panTo new google.maps.LatLng(37.09024, -95.712891)
        window.map.setZoom 4

  loadMap: () =>
      mapOptions =
          zoom: 4
          center: new google.maps.LatLng(37.09024, -95.712891)
          mapTypeId: google.maps.MapTypeId.TERRAIN
          disableDefaultUI: false
          scrollwheel: true
          draggable: true
          navigationControl: true
          mapTypeControl: false
          scaleControl: true
          disableDoubleClickZoom: false
      window.map = new google.maps.Map(document.getElementById(@mapContainer), mapOptions)
      @heatmap = new google.maps.visualization.HeatmapLayer()
      drawingManager = new google.maps.drawing.DrawingManager(
          drawingMode: null
          drawingControl: true
          drawingControlOptions:
              position: google.maps.ControlPosition.TOP_CENTER
              drawingModes: [google.maps.drawing.OverlayType.CIRCLE ]
          circleOptions:
              fillColor: "#ffff00"
              fillOpacity: .13
              strokeWeight: 2
              clickable: false
              zIndex: 1
              editable: true
      )
      homeControlDiv = document.createElement("div")
      homeControl = new @HomeControl(homeControlDiv, window.map)
      homeControlDiv.index = 1
      window.map.controls[google.maps.ControlPosition.TOP_RIGHT].push homeControlDiv

      drawingManager.setMap window.map
      google.maps.event.addListener drawingManager, "circlecomplete", (circle) ->
         circle.isHere = (latLng) ->
            @getBounds().contains(latLng) and google.maps.geometry.spherical.computeDistanceBetween(@getCenter(), latLng) <= @getRadius()
         if window.selectedGeographicZone isnt null
            window.selectedGeographicZone.setMap null
         window.selectedGeographicZone = circle
         window.map.fitBounds circle.getBounds()
         updateRequest = window.timeSeries.createUpdateRequest({togglesUpdate: true, zoomUpdate: true})
         window.timeSeries.update(updateRequest)

  loadSelectorFilters: (fleets) =>
      for fleet in fleets.fleets
          if fleet.partnerName == "TDispatch" or (fleet.partnerId.toLowerCase() != $('#getUserId').html() and $('#getUserRole').html() == 'partner')
              continue
          if fleet.partnerName of @networks
              @networks[fleet.partnerName].fleets.push fleet.fleetName
          else
              @networks[fleet.partnerName] =  {id: fleet.partnerId, fleets: [fleet.fleetName]}
          @fleets[fleet.fleetName] = fleet
          if $('#getUserRole').html() is 'partner'
            $('#networks-select').append('<option value="' + fleet.partnerName + '" selected="selected" >' + fleet.partnerName + '</option>')
            @selectedNetwork = fleet.partnerName
          else
            $('#networks-select').append('<option value="' + fleet.partnerName + '">' + fleet.partnerName + '</option>')
          $('#fleets-select').append('<option value="' + fleet.fleetName + '">' + fleet.fleetName + '</option>')

  HomeControl: (controlDiv, map) =>
        controlDiv.style.padding = "5px"

        controlUI = document.createElement("div")
        controlUI.style.backgroundColor = "white"
        controlUI.style.borderStyle = "solid"
        controlUI.style.borderWidth = "2px"
        controlUI.style.cursor = "pointer"
        controlUI.style.textAlign = "center"
        controlUI.title = "Clear filter"
        controlDiv.appendChild controlUI

        controlText = document.createElement("div")
        controlText.style.fontFamily = "Arial,sans-serif"
        controlText.style.fontSize = "12px"
        controlText.style.paddingLeft = "4px"
        controlText.style.paddingRight = "4px"
        controlText.innerHTML = "<b>Reset</b>"
        controlUI.appendChild controlText

        google.maps.event.addDomListener controlUI, "click", =>
          if window.selectedGeographicZone isnt null
              window.selectedGeographicZone.setMap null
              window.selectedGeographicZone = null
          updateRequest = @createUpdateRequest({togglesUpdate: true, clearZoomUpdate: true, zoomUpdate: true})
          @update(updateRequest)

  loadCharts: () =>
    if @forecastDataMode
        @forecastChart = new Highcharts.Chart
          chart:
              renderTo: @forecastChartContainerId
              type: 'spline'
          title:
              text: ''
          xAxis:
              type: 'datetime',
              dateTimeLabelFormats:
                  month: '%e. %b',
                  year: '%b'
              title:
                  text: ''
          yAxis:
              title:
                  text: ''
              max: 100
          tooltip:
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
          series: [

          ]
    else
        @historicChart = new Highcharts.Chart
          chart:
            renderTo: @historicChartContainerId
            type: 'spline'
          title:
            text: ''
          xAxis:
            type: 'datetime',
            dateTimeLabelFormats:
              month: '%e. %b',
              year: '%b'
            title:
              text: ''
          yAxis:
            title:
              text: ''
            max: 100
          tooltip:
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
          series: [

          ]

  refreshCharts: () =>
    if @historicChart?
        @historicChart.redraw()
    if @forecastChart?
        @forecastChart.redraw()

  showLoadingIndicator: () =>
    $('.loading-indicator>img').show()

  hideLoadingIndicator: () =>
    $('.loading-indicator>img').hide()

  getCentrePointFromListOfCoordinates: (list) =>
    minlat = null
    minlng = null
    maxlat = null
    maxlng = null
    for point in list
        minlat = if !minlat? or point.lat < minlat then point.lat else minlat
        maxlat = if !maxlat? or point.lat > maxlat then point.lat else maxlat
        minlng = if !minlng? or point.lng < minlng then point.lng else minlng
        maxlng = if !maxlng? or point.lng > maxlng then point.lng else maxlng

    lat = maxlat - ((maxlat - minlat)/2)
    lng = maxlng - ((maxlng - minlng)/2)
    {lat: lat, lng: lng, maxlat: maxlat, maxlng: maxlng, minlat: minlat, minlng: minlng}

$('.developer.statistics').ready ->
  window.timeSeries = new TimeSeries(new TripThru($('#access_token').val()), 'historic-chart', 'forecast-chart', 'heat-map')

  clearInterval(window.tripthruinterval)
  window.tripthruinterval = setInterval =>
    timeSeries.update()
  , 15000
