$('.developer.report').ready ->
    reset()
    gateway = new TripThru($('#access_token').val())
    query = {}
    lastHour = new Date();
    lastHour.setMinutes(lastHour.getMinutes()-60);
    query.startDate = lastHour
    if $('#getUserRole').html() isnt 'admin' and $('#getUserRole').html() isnt 'demo'
      query.servicingNetworkId = $('#getUserId').html()
      query.originatingNetworkId = $('#getUserId').html()
    gateway.getTrips query, (data) =>
        completedTrips = []
        rejectedTrips = []
        cancelledTrips = []
        errorTrips = []
        data.forEach (entry) ->
            switch entry.status
                when 'completed'
                    completedTrips.push entry
                when 'rejected'
                    rejectedTrips.push entry
                when 'cancelled'
                    cancelledTrips.push entry
                when 'error'
                    errorTrips.push entry

        tripsCount = completedTrips.length
        tripsCount += rejectedTrips.length
        tripsCount += cancelledTrips.length
        tripsCount += errorTrips.length
        $('#spanReport').html(tripsCount)

        $('#listTripsComplete').html('<%= image_tag('loadingSmall.gif') %>')

        titleComplete = '<span class="label label-success pull-center"> Completes  </span><span class="badge pull-right" >' + completedTrips.length + '</span>'
        $('#titleComplete').html titleComplete
        stringReport = '
                <div class="panel-group" id="accordion">
                    '
        completedTrips.forEach (trip) ->
            res = trip.trip_id.replace("@", "-")
            res = res.replace("@", "-")
            res = res.replace(".", "-")
            stringReport+='
                            <div class="panel panel-success">
                             <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                               <div class="panel-heading">
                                <h4 class="panel-title">
                                     ' + trip.trip_id + '
                                 </h4>
                                </div>
                              </a>
                                 <div id="'+ res + '" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <span class="text-muted">Last Update:</span> ' + trip.last_update + '<br />
                                    <span class="text-muted">Servicing Network:</span> ' + trip.servicing_network_client_id+ '<br />
                                    <span class="text-muted">Customer Name:</span> ' + trip.customer_name + '
                                  </div>
                              </div>
                            </div>
                            '
        stringReport+='
                    </div>'
        $('#listTripsComplete').html stringReport


        titleRejected = '<span class="label label-primary"> Rejected  </span><span class="badge pull-right" >' + rejectedTrips.length + '</span>'

        $('#titleRejected').html titleRejected

        if rejectedTrips.length > 0
            $('#listTripsRejected').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                            <div class="panel-group" id="accordion">
                                '
            rejectedTrips.forEach (trip) ->
                res = trip.trip_id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.trip_id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.last_update + '<br />
                                        <span class="text-muted">Customer Name:</span> ' + trip.customer_name + '
                                     </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                                        </div>'
            $('#listTripsRejected').html stringReport


        titleCancelled = '<span class="label label-warning"> Cancelled  </span><span class="badge pull-right" >' + cancelledTrips.length + '</span>'

        $('#titleCancelled').html titleCancelled

        if cancelledTrips.length > 0
            $('#listTripsCancelled').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                            <div class="panel-group" id="accordion">
                                '
            cancelledTrips.forEach (trip) ->
                res = trip.trip_id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.trip_id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.last_update + '<br />
                                        <span class="text-muted">Customer Name:</span> ' + trip.customer_name + '
                                    </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                            </div>'
            $('#listTripsCancelled').html stringReport


        titleError = '<span class="label label-danger"> Error  </span><span class="badge pull-right" >' + errorTrips.length + '</span>'

        $('#titleError').html titleError

        if errorTrips.length > 0
            $('#listTripsError').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                                        <br />
                                        <div class="panel-group" id="accordion">
                                            '
            errorTrips.forEach (trip) ->
                res = trip.trip_id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.trip_id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.last_update + '<br />
                                        <span class="text-muted">Customer Name:</span> ' + trip.customer_name + '
                                    </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                                        </div>'
            $('#listTripsError').html stringReport