class Money
    constructor: (@gateway, @selectorId) ->
        document.getElementById("imageLoad").style.visibility = "visible"
        @gateway.getPartners(@partnersList)
        @origin = 'out'
        $('#farmed-in-container').addClass('hidden')
        $('#local-container').addClass('hidden')
        $('#farmedout-button').addClass('active')

        $('#farmedin-button').click =>
          $('#farmedout-button').removeClass('active')
          $('#local-button').removeClass('active')
          $('#farmedin-button').addClass('active')
          $('#farmed-in-container').removeClass('hidden')
          $('#farmed-out-container').addClass('hidden')
          $('#local-container').addClass('hidden')
          @origin = 'in'
          @selectedPartner = $('#' + @selectorId + ' option:selected').val()
          @updateStats()

        $('#farmedout-button').click =>
          $('#farmedin-button').removeClass('active')
          $('#local-button').removeClass('active')
          $('#farmedout-button').addClass('active')
          $('#farmed-out-container').removeClass('hidden')
          $('#farmed-in-container').addClass('hidden')
          $('#local-container').addClass('hidden')

          @origin = 'out'
          @selectedPartner = $('#' + @selectorId + ' option:selected').val()
          @updateStats()

        $('#local-button').click =>
          $('#farmedin-button').removeClass('active')
          $('#farmedout-button').removeClass('active')
          $('#local-button').addClass('active')
          $('#farmed-out-container').addClass('hidden')
          $('#farmed-in-container').addClass('hidden')
          $('#local-container').removeClass('hidden')
          @origin = 'local'
          @selectedPartner = $('#' + @selectorId + ' option:selected').val()
          @updateStats()

    partnersList: (fleets) =>
      firstPartner = null
      partners = {}
      for fleet in fleets.fleets
        if fleet.partner.name == "TDispatch" or (fleet.partner.id.toLowerCase() != $('#getUserId').html() and $('#getUserRole').html() == 'partner')
          continue
        if not (fleet.partner.name of partners)
          partners[fleet.partner.name] =  {id: fleet.partner.id, name: fleet.partner.name, fleets: [fleet]}
          if !firstPartner?
            firstPartner = fleet.partner.id
            $('#' + @selectorId).append('<option selected="selected" value="' + fleet.partner.id + '">' + fleet.partner.name + '</option>')
          else
            $('#' + @selectorId).append('<option value="' + fleet.partner.id + '">' + fleet.partner.name + '</option>')
        else
          partners[fleet.partner.name].fleets.push fleet

      $('#' + @selectorId).change =>
        @selectedPartner = $('#' + @selectorId + ' option:selected').val()
        @updateStats()

      if firstPartner?
          @selectedPartner = firstPartner
      else
        document.getElementById("imageLoad").style.visibility = "hidden"
      @updateStats()

    updateStats: () =>
        if !@selectedPartner?
          $('#balanceDiv').html "No fleets found"
          return
        document.getElementById("imageLoad").style.visibility = "visible"
        day = new Date();
        day.setHours(day.getHours()-24);
        date = +day / 1000;
        network = ''
        if @origin == 'out'
          network = '&servicingNetworkId=' + @selectedPartner
        else if @origin == 'in'
          network = '&originatingNetworkId=' + @selectedPartner
        else
          network = '&localNetworkId=' + @selectedPartner
        $.get '/mongo_db/trips_list?startDate=' + date + network, (trips) =>
            content = '<ul class="list-group">'
            trips.forEach (trip) =>
              content += '<li class="list-group-item">' + trip.id + '</li>'
            content += '</ul>'

            if @origin is 'out'
              $('#farmed-out-total').html(trips.length)
              $('#farmedOutDiv').html content
            else if @origin is 'in'
              $('#farmed-in-total').html(trips.length)
              $('#farmedInDiv').html content
            else
              $('#local-total').html(trips.length)
              $('#localDiv').html content

            $('#balance-due').html (trips.length)
            content = '<row><h2>Balance due</h2></row>
                                       <row><h2><strong> $' + ((trips.length)/2).toFixed(2) + '</strong></h2></row>
                                       <row><button type="button" class="btn btn-info">Make payment</button></row>'
            $('#balanceDiv').html content
            document.getElementById("imageLoad").style.visibility = "hidden"

$('.developer.money').ready ->
    clearInterval(window.tripthruinterval)
    moneyV = new Money(
        new TripThru($('#access_token').val())
        'partners-select'
    )
