$('.developer.report').ready ->
    clearInterval(window.tripthruinterval)
    lastHour = new Date();
    lastHour.setMinutes(lastHour.getMinutes()-60);
    date = +lastHour / 1000;
    partnerId = ''
    if $('#getUserRole').html() isnt 'admin' and $('#getUserRole').html() isnt 'demo'
        partnerId = '&servicingNetworkId=' + $('#getUserId').html() + '&originatingNetworkId=' + $('#getUserId').html()
    $.get '/mongo_db/trips_list?startDate=' + date + partnerId, (data) =>
        completeTrips = []
        rejectedTrips = []
        cancelledTrips = []
        errorTrips = []
        data.forEach (entry) ->
            switch entry.status
                when 'complete'
                    completeTrips.push entry
                when 'rejected'
                    rejectedTrips.push entry
                when 'cancelled'
                    cancelledTrips.push entry
                when 'error'
                    errorTrips.push entry
                else
                    console.log 'Default'

        tripsCount = completeTrips.length
        tripsCount += rejectedTrips.length
        tripsCount += cancelledTrips.length
        tripsCount += errorTrips.length
        $('#spanReport').html(tripsCount)

        $('#listTripsComplete').html('<%= image_tag('loadingSmall.gif') %>')

        titleComplete = '<span class="label label-success pull-center"> Completes  </span><span class="badge pull-right" >' + completeTrips.length + '</span>'
        $('#titleComplete').html titleComplete
        stringReport = '
                <div class="panel-group" id="accordion">
                    '
        completeTrips.forEach (trip) ->
            res = trip.id.replace("@", "-")
            res = res.replace("@", "-")
            res = res.replace(".", "-")
            stringReport+='
                            <div class="panel panel-success">
                             <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                               <div class="panel-heading">
                                <h4 class="panel-title">
                                     ' + trip.id + '
                                 </h4>
                                </div>
                              </a>
                                 <div id="'+ res + '" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <span class="text-muted">Last Update:</span> ' + trip.lastUpdate + '<br />
                                    <span class="text-muted">Servicing Partner:</span> ' + trip.servicingPartnerId + '<br />
                                    <span class="text-muted">Passenger Name:</span> ' + trip.passenger.name + '
                                  </div>
                              </div>
                            </div>
                            '
        stringReport+='
                    </div>'
        $('#listTripsComplete').html stringReport


        titleRejected = '<span class="label label-primary"> Rejected  </span><span class="badge pull-right" >' + rejectedTrips.length + '</span>'

        $('#titleRejected').html titleRejected

        if rejectedTrips.length > 0
            $('#listTripsRejected').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                            <div class="panel-group" id="accordion">
                                '
            rejectedTrips.forEach (trip) ->
                res = trip.id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.lastUpdate + '<br />
                                        <span class="text-muted">Passenger Name:</span> ' + trip.passenger.name + '
                                     </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                                        </div>'
            $('#listTripsRejected').html stringReport


        titleCancelled = '<span class="label label-warning"> Cancelled  </span><span class="badge pull-right" >' + cancelledTrips.length + '</span>'

        $('#titleCancelled').html titleCancelled

        if cancelledTrips.length > 0
            $('#listTripsCancelled').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                            <div class="panel-group" id="accordion">
                                '
            cancelledTrips.forEach (trip) ->
                res = trip.id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.lastUpdate + '<br />
                                        <span class="text-muted">Passenger Name:</span> ' + trip.passenger.name + '
                                    </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                            </div>'
            $('#listTripsCancelled').html stringReport


        titleError = '<span class="label label-danger"> Error  </span><span class="badge pull-right" >' + errorTrips.length + '</span>'

        $('#titleError').html titleError

        if errorTrips.length > 0
            $('#listTripsError').html('<%= image_tag('loadingSmall.gif') %>')

            stringReport = '
                                        <br />
                                        <div class="panel-group" id="accordion">
                                            '
            errorTrips.forEach (trip) ->
                res = trip.id.replace("@", "-")
                res = res.replace("@", "-")
                res = res.replace(".", "-")
                stringReport+='
                                <div class="panel panel-default">
                                 <a href="#' + res + '" data-toggle="collapse" class="collapsed" >
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                            ' + trip.id + '
                                    </h4>
                                    </div>
                                        </a>
                                      <div id="'+ res + '" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <span class="text-muted">Last Update:</span> ' + trip.lastUpdate + '<br />
                                        <span class="text-muted">Passenger Name:</span> ' + trip.passenger.name + '
                                    </div>
                                  </div>
                                </div>
                                '

            stringReport+='
                                        </div>'
            $('#listTripsError').html stringReport