// Place all the styles related to the developer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#developer {

  body {
    font-family: 'Open Sans', sans-serif;
    background: #f8f8f8;
    color: #525252;
    font-size: 15px;
    font-weight: 300;
    padding-top: 50px;
    overflow: hidden;
  }
  #header {
    background: #545455;
    border: 0;
    padding-bottom: 5px;
    //border-bottom: 1px solid gray;
  }
  .list-group{
    margin-top: 10px;

    .active {
      background-color: rgb(60, 106, 221);

      &:hover{
        border: 0;
        left: 0px;
      }
    }
  }
  .list-group-item {
    background: #545455;
    border: 0;

    .image-wrapper{
      height: 32px;
    }

    img {
      width: 32px;
      border: 0;
      margin: 0;
      padding: 0 0 0px;
    }

    &:hover {
      background-color: rgb(60, 106, 221);
      border-top: 1px solid gray;
      left: 1px;
    }
  }
  #icon-user {
    color: #fff;
  }
  .navbar-user{
    padding-right: 20px;
  }
  #wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
  }
  #main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px;
    width: 95%;
  }
  #main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 5px;
  }
  #sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 0;
    background: #545455;
  }
  #sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }
  #sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }


  img {
    border: none;
  }

  h1 {
    font-weight: 300;
    color: #525252;
    margin: 0 0 20px 0;
  }

  h2 {
    font-weight: 100;
    color: #525252;
    margin: 0 0 20px 0;
  }

  .logo {
    color:#fff;
    font-family: 'Arimo';
    letter-spacing: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    padding-left: 5px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #545455;
  }
  .dropdown-menu > li > a {
    color: #000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .page-header{
    padding: 0;
    margin-top: 26px;
    text-align: center;
  }


  @media (min-width: 992px) {
    #main-wrapper {
      float:right;
    }
  }
  @media (max-width: 992px) {
    body {
      padding-top: 0px;
    }
    #main-wrapper {
      padding-top: 0px;
      width: 100%;
    }
    #sidebar-wrapper {
      position: static;
      height: auto;
      max-height: 95px;
      border-right:0;
    }
    #developer-menu{
      padding-top: 0px;
      margin: 0 auto;
      text-align: center;

      li{
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
        margin-left: -5px;
      }

    }
    #header{
      height: 0px;
      padding-bottom: 0;
    }

    .list-group-item {
      .image-wrapper{
        height: 24px;
      }

      img {
        width: 24px;
      }
    }

    .logo {
      color:#fff;
      font-family: 'Arimo';
      letter-spacing: 0;
      font-weight: bold;
      font-style: italic;
      font-size: 27px;
      padding-left: 5px;
      padding-bottom: 0;
    }

    #icon-user{
      padding-bottom: 0;
    }
  }


  #dashboard{
    height: 100%;
    width: 100%;

    .container{
      padding: 0;
      width: 100%;
    }

    .col-md-4{
      width: 30%;
      padding-left: 10px;
    }

    .col-md-8{
      width: 70%;
      padding-left: 0px;
      padding-right: 10px;
    }

    .col-md-12{
      padding-right: 10px;
      padding-left: 10px;
      text-align:center;
    }

    .panel-heading{
      height: 20px;

      .panel-title{
        line-height: 0;
      }
    }

    #statistics-gauges-container{
      display:inline-block;
      .dashboard-statistics-gauge {
        width: 90px;
        height: 60px;
        float: left;
        margin-bottom: 5px;
      }
    }

    #trips-list-panel{
      margin-top: -40px;

      #trip-list{
        height: 540px;
        overflow: hidden;

        #active-trips-chart{
          height: 30%;
        }

        #trips-wrapper{
          height: 70%;
          margin-top: 10px;

          #trips{
            height: 90.5%;
            overflow-y:scroll;

            .trip {
              padding: 5px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 5px;

              h1 {
                font-weight: bold;
                font-size: 13px;
                margin: 0;
              }

              p {
                font-size: 10px;
                padding: 0;
                margin: 0;

                span {
                  font-weight: bold;
                }
              }

              &:hover {
                background-color: rgb(30, 140, 24);
                color: #fff;

                h1{
                  color: #fff;
                }
              }
            }

            .active {
              background-color: rgb(30, 140, 24);
              color: #fff;

              h1{
                color: #fff;
              }
            }
          }
        }

        #trip-status-selector{
          width: 100%;
        }
      }

    }

    #tracking-panel{
      height: 530px;
      overflow-y: scroll;

      .panel {
        margin-bottom: 10px;
      }

      #tracking-map-container {
        height: 300px;
      }

      #tracking-trip-info{
        height: 130px;

        h1{
          font-size: 24px;
          padding: 0;
          margin-bottom: 5px;

          span {
            font-size: 18px;
            color: #a1a1a1;
          }
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 12px;

          span {
            font-weight: bold;
          }
        }
      }
    }

    #activity-log-panel{
      min-height: 300px;

      #activity-log{
        .panel-heading a:after {
          font-family: 'Glyphicons Halflings';
          content: "\e114";
          float: right;
          color: grey;
        }
        .panel-heading a.collapsed:after {
          content: "\e080";
        }
      }

      .accordion-group {
        margin-bottom: 10px
      }

      .accordion-heading{
        background-color: #4687c6;
        border: 1px solid rgba(128, 128, 128, 0.28);
        text-align: left ;

        a {
          padding-left: 10px;
          color: #fff;
        }
      }

      .accordion-body{
        border: 1px solid rgba(128, 128, 128, 0.28);
        text-align: left;
        padding: 10px;
      }
    }


    @media (max-width: 992px){
      .col-md-4{
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
      }
      .col-md-8{
        margin-top: 10px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
      .col-md-12{
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
      }

      #tracking-panel{

        #tracking-trip-info{

          h1{
            font-size: 16px;
            padding: 0;
            margin-bottom: 5px;

            span {
              font-size: 14px;
              padding: 0;
              color: #a1a1a1;
            }
          }

          p {
            padding: 0;
            margin: 0;
            font-size: 9px;

            span {
              font-weight: bold;
            }
          }
        }
      }

      #activity-log-panel{

        .accordion-heading{
          a {
            font-size: 10px;
            padding-left: 10px;
            color: #fff;
          }
        }

        .accordion-body{
          border: 1px solid rgba(128, 128, 128, 0.28);
          text-align: left;
          padding: 10px;

          font-size: 10px;
        }
      }

    }

    .panel{
      width: 100%;
      height: 100%;
    }
  }
  #users{
    .jumbotron {
      background-color: #dddddd;
    }
  }
}