// Place all the styles related to the developer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#developer {

  @import 'prism';
  @import 'settings';

  body {
    font-family: 'Open Sans', sans-serif;
    background: #f8f8f8;
    color: #525252;
    font-size: 15px;
    font-weight: 300;
    padding-top: 50px;
    overflow: hidden;
  }
  #header {
    background: #545455;
    border: 0;
    padding-bottom: 5px;
    //border-bottom: 1px solid gray;
  }
  .list-group {
    margin-top: 10px;

    .active {
      background-color: rgb(60, 106, 221);

      &:hover {
        border: 0;
        left: 0px;
      }
    }
  }
  .list-group-item {
    background: #545455;
    border: 0;

    .image-wrapper {
      height: 32px;
    }

    img {
      width: 32px;
      border: 0;
      margin: 0;
      padding: 0 0 0px;
    }

    &:hover {
      background-color: rgb(60, 106, 221);
      border-top: 1px solid gray;
      left: 1px;
    }
  }
  #icon-user {
    color: #fff;
  }
  .navbar-user {
    padding-right: 20px;
  }
  #wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
  }
  #main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px;
    width: 95%;
  }
  #main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 5px;
  }
  #sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 0;
    background: #545455;
  }
  #sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }
  #sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  img {
    border: none;
  }

  h1 {
    font-weight: 300;
    color: #525252;
    margin: 0 0 20px 0;
  }

  h2 {
    font-weight: 100;
    color: #525252;
    margin: 0 0 20px 0;
  }

  .logo {
    color: #fff;
    font-family: 'Arimo';
    letter-spacing: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    padding-left: 5px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #545455;
  }
  .dropdown-menu > li > a {
    color: #000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .page-header {
    padding: 0;
    margin-top: 26px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: 992px) {
    #main-wrapper {
      float: right;
    }
  }
  @media (max-width: 992px) {
    body {
      padding-top: 0px;
    }
    #main-wrapper {
      padding-top: 0px;
      width: 100%;
    }
    #sidebar-wrapper {
      position: static;
      height: auto;
      max-height: 95px;
      border-right: 0;
    }
    #developer-menu {
      padding-top: 0px;
      margin: 0 auto;
      text-align: center;

      li {
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        *zoom: 1; /* hasLayout ie7 trigger */
        vertical-align: top;
        margin-left: -5px;
      }

    }
    #header {
      height: 0px;
      padding-bottom: 0;
    }

    .list-group-item {
      .image-wrapper {
        height: 24px;
      }

      img {
        width: 24px;
      }
    }

    .logo {
      color: #fff;
      font-family: 'Arimo';
      letter-spacing: 0;
      font-weight: bold;
      font-style: italic;
      font-size: 27px;
      padding-left: 5px;
      padding-bottom: 0;
    }

    #icon-user {
      padding-bottom: 0;
    }
  }

  @media (max-width: 767px) {

    .list-group-item {
      .image-wrapper {
        height: 12px;
      }

      img {
        width: 12px;
      }
    }
  }

  #dashboard {
    height: 100%;
    width: 100%;

    .container {
      padding: 0;
      margin-top: -20px;
      width: 100%;
    }

    .col-md-2 {
      padding-left: 10px;
      overflow-y: hidden;
    }

    .col-md-3 {
      padding-left: 10px;
    }

    .col-md-7 {
      padding-left: 0px;
      padding-right: 0px;
    }

    .col-md-12 {
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }

    .panel-heading {
      height: 20px;

      .panel-title {
        line-height: 0;
      }
    }

    #trips-main-panel {
      margin: 50px 0 0 0;
      padding: 0;

      .col-md-10 {
        padding: 0 10px 0 0;
      }

      .col-md-2 {
        padding: 0 10px 0 0;
      }

      .col-md-8 {
        padding: 0 10px 0 10px;
      }

      .col-md-4 {
        padding: 0 10px 0 10px;
      }

      #trips-list-panel {
        margin-top: -40px;

        #trip-list {
          height: 640px;
          overflow: hidden;
          text-align: left;

          #active-trips-chart {
            height: 23%;
            margin: 18% 2% 7% 0;
          }

          #trips-wrapper {
            height: 70%;
            margin-top: 10px;

            img {
              width: 64px;
              height: 64px;
              margin-left: 30%;
            }

            #trips {
              height: 93.5%;
              overflow-y: scroll;

              .trip {
                padding: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 5px;

                img {
                  display: inline-block;
                  height: 13px;
                  width: 13px;
                  margin: 0 3px -1px 0;
                  padding: 0;
                }

                h1 {
                  display: inline-block;
                  font-weight: bold;
                  font-size: 13px;
                  margin: 0;
                }

                p {
                  font-size: 10px;
                  padding: 0;
                  margin: 0;

                  span {
                    font-weight: bold;
                  }
                }

                &:hover {
                  background-color: rgb(30, 140, 24);
                  color: #fff;

                  h1, p {
                    color: #fff;
                  }
                }
              }

              .active {
                background-color: rgb(30, 140, 24);
                color: #fff;

                h1, p {
                  color: #fff;
                }
              }
            }
          }

          #trip-status-selector {
            width: 100%;
          }
        }

      }

      #tracking-panel {
        height: 630px;
        overflow-y: hidden;

        .panel {
          margin-bottom: 10px;
        }

        .col-md-12 {
          padding: 0;
          margin: 0;
        }

        #tracking-map-container {
          height: 395px;
          width: 98%;
          margin: 0 auto;

          .map_container {
            height: 100%;
            width: 98%;
            background: #FFF;
            margin-top: 10px;
            float: left;
            border: 1px solid #DEDEDE;
          }

          #map-canvas {
            width: 100%;
            height: 98%;

          }

          img {
            margin: 25% auto;
            width: 128px;
            height: 128px;
          }
        }

        #tracking-trip-info {
          min-height: 135px;
          height: 135px;
          overflow-y: scroll;
          overflow-x: hidden;
          text-align: left;

          img {
            margin: 0 47%;
            width: 64px;
            height: 64px;
          }
          h1 {
            font-size: 18px;
            padding: 0;
            margin: -3px 0 5px 0;
            text-align: center;
          }

          $image-size: 22px;

          #icons {
            height: auto;
            text-align: center;
            .pulse-line{
              display: inline-block;
              border-bottom: 2px solid;
              width: 60px;
              height: 0px;
              padding: 0 0 3px 0;
              margin: 0 0 10px 0;
            }
            .orb {
              border-radius: 50%;
              padding-bottom: 3px;
              height: 8px;
              width: 8px;
              position: absolute;
              animation-fill-mode: forwards;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
            }
            .dark-blue-orb {
              background: #1418e0;
              box-shadow: 0 0 2px #060983;
            }
            .dispatched-orb {
              background: #2DCBD6;
              box-shadow: 0 0 2px #1b7a81;
            }
            .enroute-orb {
              background: #E31010;
              box-shadow: 0 0 2px #730808;
            }
            .pickedup-orb {
              background: #24BD13;
              box-shadow: 0 0 2px #156d0b;
            }
            .complete-orb {
              background: #177b0c;
              box-shadow: 0 0 2px #0d4a07;
            }
            .rejected-orb {
              background: #2DCBD6;
              box-shadow: 0 0 2px #196f75;
            }
            .cancelled-orb {
              background: #E31010;
              box-shadow: 0 0 2px #730808;
            }
            .pulse-quick-right {
              padding-bottom: 2px;
              height: 5px;
              width: 5px;
              animation: move-right 200ms;
              -webkit-animation: move-right 200ms;
              -moz-animation: move-right 200ms;
            }
            .pulse-quick-left {
              padding-bottom: 2px;
              height: 5px;
              width: 5px;
              margin-left: 60px;
              animation: move-left 200ms;
              -webkit-animation: move-left 200ms;
              -moz-animation: move-left 200ms;
            }
            .pulse-right {
              animation: move-right 500ms;
              -webkit-animation: move-right 500ms;
              -moz-animation: move-right 500ms;
            }
            .pulse-left {
              margin-left: 60px;
              animation: move-left 500ms;
              -webkit-animation: move-left 500ms;
              -moz-animation: move-left 500ms;
            }
            .icon {
              margin: 0px 5px 0px 5px;
              img {
                width: $image-size;
                height: $image-size;
                margin: 5px 5px 0 0;
              }
              display: inline-block;
            }
            #tripthru {
              display: inline-block;
              max-height: $image-size;
              max-width: $image-size*4;
              img {
                max-height: $image-size;
                margin:0;
                width: auto;
                height: auto;
              }
            }
          }

          div {
            padding: 0;
            margin: 0;
            font-size: 12px;
            word-break: break-all;

            span {
              font-weight: bold;
            }

            p {
              display: inline-block;
              padding: 0;
              margin: 0;
              font-size: 12px;
              word-break: break-all;
            }

            .rating-container {
              display: inline-block;
              vertical-align: middle;
              .flexible-stars {
                display: inline-block;
                i {
                  display: inline-block
                }
                [class^="sprite-"] {
                  background: url(rating-stars-small.png) no-repeat top left;
                }

                .sprite-gold-star {
                  background-position: 0 0;
                  width: 14.5px;
                  height: 14px;
                }
                .sprite-half-star {
                  background-position: 0 -39px;
                  width: 14.5px;
                  height: 14px;
                }
                .sprite-silver-star {
                  background-position: 0 -78px;
                  width: 14.5px;
                  height: 14px;
                }
              }
            }
          }

        }
      }

      #statistics-panel-container {
        margin-top: -10px;
        #statistics-panel {
          height: 460px;
          #statistics-gauges-container {
            margin-top: -15px;

            .dashboard-statistics-pie-chart {
              .title {
                padding: 0;
                margin: 32px 0 0 0;
                font-size: 12px;
                div {
                  display: inline-block;
                  font-weight: 600;
                }
              }

              height: 130px;
              width: 120px;
              margin: 0 auto;
              padding: 0;

              svg {
                margin: 0 auto;
                padding: 0;
                height: 130px;
                width: 120px;
              }

              .chart {
                height: 130px;
                width: 120px;
              }
            }

            .dashboard-statistics-counter {
              .title {
                padding: 0;
                margin: 40px 0 0 0;
                font-size: 12px;
              }
              display: inline-block;
              margin-top: 35px;
            }

            .counter {
              font-size: 0;
              height: 60px;
              overflow: hidden;
              font-family: Helvetica Neue;
              font-weight: bold;
              text-align: center;
            }
            .counter .digit {
              display: inline-block;
              font-size: 40px;
              text-align: center;
            }
            .counter .sequence {
              width: 0.55em;
              -moz-transform: translate3d(0, -90%, 0);
              -moz-transition: -moz-transform 500ms cubic-bezier(0.86, 0, 0.07, 1) /* easequint*/,
              width 500ms ease-in-out,
              opacity 500ms ease-in-out;
              -webkit-transform: translate3d(0, -90%, 0);
              -webkit-transition: -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1) /* easequint*/,
              width 500ms ease-in-out,
              opacity 500ms ease-in-out;
              -ms-transform: translate3d(0, -90%, 0);
              -ms-transition: -ms-transform 500ms cubic-bezier(0.86, 0, 0.07, 1) /* easequint*/,
              width 500ms ease-in-out,
              opacity 500ms ease-in-out;
            }

            .counter .digit:last-child .sequence{
              -webkit-transition-delay: 100ms;
              -moz-transition-delay: 100ms;
              -ms-transition-delay: 100ms;
            }

            .counter .sequence.is-hidden {
              width: 0.02em;
              opacity: 0;
            }
          }
        }
      }

      #ratings-panel-container {
        #ratings-panel {
          height: 137px;

          #ratings-container {
            margin-top: -10px;
            .dashboard-statistics-rating {
              .title {
                padding: 0;
                margin: 10px 0 0 0;
                font-size: 12px;
              }

              .flexible-stars {

                i {
                  display: inline-block
                }
                [class^="sprite-"] {
                  background: url(rating-stars-big.png) no-repeat top left;
                }

                .sprite-gold-star {
                  background-position: 0 0;
                  width: 29px;
                  height: 28px;
                }
                .sprite-half-star {
                  background-position: 0 -78px;
                  width: 29px;
                  height: 28px;
                }
                .sprite-silver-star {
                  background-position: 0 -156px;
                  width: 29px;
                  height: 28px;
                }
              }
            }
          }
        }
      }
    }

    #activity-log-panel {
      min-height: 300px;

      img {
        margin: 0 auto;
        width: 128px;
        height: 128px;
      }

      #activity-log {
        .panel-heading a:after {
          font-family: 'Glyphicons Halflings';
          content: "\e114";
          float: right;
          color: grey;
        }
        .panel-heading a.collapsed:after {
          content: "\e080";
        }
      }

      .accordion-group {
        margin-bottom: 10px;

        .active-accordion-heading {
          background-color: #2c72ec !important;
          a {
            color: #ffffff !important;
          }
        }

        .accordion-heading {
          background-color: #ececec;
          border: 1px solid #d8d8d8;
          text-align: left;

          a {
            background: transparent url('arrow.png') no-repeat;
            padding-left: 18px;
            color: #000000;
          }
        }

        .accordion-body {
          border: 1px solid rgba(128, 128, 128, 0.28);
          text-align: left;
          padding: 10px;
        }
      }

      .json-inner-log {
        .accordion-heading {
          background-color: #ececec;
          border: 1px solid #d8d8d8;
          text-align: left;

          a {
            background: transparent url('arrow.png') no-repeat;
            padding-left: 18px;
            color: #000000;
          }
        }

        .accordion-body {
          border: 1px solid rgba(128, 128, 128, 0.28);
          text-align: left;
          padding: 10px;
        }
      }

      .simple-inner-log {
        .accordion-heading {
          background-color: #ececec;
          border: 1px solid #d8d8d8;
          text-align: left;
          a {
            background: none;
            padding-left: 18px;
            color: #000000;
            text-decoration: none;
          }
        }
      }

      pre {
        width: 97%;
        font-size: 13px;
        border: 1px solid #DEDEDE;
        background: #fff !important;
      }

      code {
        background: #fff;
      }
    }

    @media (min-width: 1400px) {
      #trips-main-panel {
        margin-top: 40px;
        padding-right: 10px;

        .col-md-4 {
          width: 25%;
        }
        .col-md-8 {
          width: 75%;
        }
        #trips-list-panel {
          height: 900px;
          #trip-list {
            height: 100%;
            #trips-wrapper {
              #trips {
                .trip {
                  h1 {
                    font-size: 14px;
                  }

                  p {
                    font-size: 11px;
                  }
                }
              }
            }
          }

        }

        #tracking-panel {
          height: 860px;
          #tracking-trip-info {
            height: 150px;

            h1 {
              font-size: 20px;
              padding: 0;
              margin: -3px 0 5px 0;
              text-align: center;
            }

            $image-size: 40px;

            #icons {
              .pulse-line{
                margin: 0 2px 18px 2px;
              }
              .icon {
                margin: 0px 10px 0px 10px;
                img {
                  width: $image-size;
                  height: $image-size;
                  margin: 5px 5px 0 0;
                }
              }
              #tripthru {
                max-height: $image-size;
                max-width: $image-size*4;
                img {
                  max-height: $image-size;
                }
              }
            }

            p {
              padding: 0;
              margin: 0;
              font-size: 13px;

              span {
                font-weight: bold;
              }
            }
          }
          #tracking-map-container {
            height: 600px;
          }
        }

        #statistics-panel-container {
          #statistics-panel {
            height: 650px;
            #statistics-gauges-container {
              display: inline-block;
              padding-top: 0;
              margin-top: -25px;
              margin-bottom: 10px;
              width: 200px;

              .dashboard-statistics-pie-chart {
                .title {
                  padding: 0;
                  margin: 20px 0 0 0;
                  font-size: 14px;
                }
                height: 150px;
                width: 140px;
                margin: 40px 0 60px 27px;

                svg {
                  margin: 0 auto;
                  padding: 0;
                  height: 150px;
                  width: 140px;
                }

                .chart {
                  height: 150px;
                  width: 140px;
                }
              }
              .dashboard-statistics-counter {
                margin: 60px 25px 35px 0;
              }
              .counter .digit {
                font-size: 50px;
              }
            }
          }
        }

        #ratings-panel-container {
          #ratings-panel {
            height: 167px;
            margin: 10px 0 0 0;
            #ratings-container {

              #dashboard-ratings-container {
                display: inline-block;
                margin: 0 0 0 0;
                width: 200px;
              }

              .dashboard-statistics-rating {
                .title {
                  padding: 0;
                  margin: 15px 0 0 0;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      #trips-main-panel {
        margin-top: 30px;

        .col-sm-8 {
          padding: 0 0 0 5px;
        }

        .col-sm-4 {
          padding: 0 5px 0 0;
        }

        .col-sm-12 {
          width: 100%;
          height: 180px;
          padding: 0 10px 10px 10px;
          margin: 0;
        }

        #bottom-row {
          margin-top: 490px;
        }

        #trips-list-panel {
          #trip-list {
            #trips-wrapper {
              #trips {
                .trip {
                  h1 {
                    font-size: 12px;
                  }

                  p {
                    font-size: 9px;
                  }
                }
              }
            }
          }

        }

        #tracking-panel {
          #tracking-trip-info {

            h1 {
              font-size: 18px;
              padding: 0;
              margin: -3px 0 5px 0;
              text-align: center;
            }

            $image-size: 22px;

            #icons {
              .pulse-line{
                margin: 0 2px 10px 2px;
              }
              .icon {
                margin: 0px 5px 0px 5px;
                img {
                  width: $image-size;
                  height: $image-size;
                  margin: 5px 5px 0 0;
                }
              }
              #tripthru {
                max-height: $image-size;
                max-width: $image-size*4;
                img {
                  max-height: $image-size;
                }
              }
            }

            p {
              padding: 0;
              margin: 0;
              font-size: 11px;

              span {
                font-weight: bold;
              }
            }
          }
          #tracking-map-container {

          }
        }

        #statistics-panel-container {
          width: 74.5%;
          float: left;
          margin: 0 0 20px 0;
          height: 170px;
          #statistics-panel {
            #statistics-gauges-container {
              display: inline-block;
              padding-top: 0;
              margin-top: -10px;
              margin-bottom: 10px;
              .dashboard-statistics-pie-chart {
                float: left;
                height: 110px;
                width: 110px;
                margin: 0 18px 0 0;

                .title {
                  padding: 0;
                  margin: 10px 0 -5px 0;
                  font-size: 12px;
                }

                svg {
                  margin: 0 0 0 0;
                  padding: 0;
                  height: 110px;
                  width: 110px;
                }

                .chart {
                  height: 110px;
                  width: 110px;
                }
              }

              .dashboard-statistics-counter {
                float: left;
                margin: 40px 40px 0 0;
              }
            }
          }
        }

        #ratings-panel-container {
          width: 24.5%;
          float: right;
          margin: 0 0 20px 0;
          height: 170px;
          #ratings-panel {
            #ratings-container {
              display: inline-block;
              margin-left: 3%;
              #dashboard-ratings-container {
                margin: 0 0 0 0;
                width: 160px;
                float: left;
              }
              .dashboard-statistics-rating {
                .title {
                  padding: 0;
                  margin: 10px 0 0 0;
                  font-size: 12px;
                }
                float: left;
              }
            }
          }
        }
      }
    }

    @media (max-width: 767px) {

      .col-xs-12 {
        padding-right: 0px;
        padding-left: 0px;
        height: 100% !important;
      }

      #trips-main-panel {

        #tracking-panel {
          #tracking-trip-info {

            h1 {
              font-size: 16px;
              padding: 0;
              margin: -3px 0 5px 0;
              text-align: center;
            }

            p {
              padding: 0;
              margin: 0;
              font-size: 9px;

              span {
                font-weight: bold;
              }
            }
          }

          #tracking-map-container {
            height: 350px;
            width: 98%;

            .map_container {
              height: 99%;
              width: 98%;
              background: #FFF;
              margin-top: 10px;
              float: left;
              border: 1px solid #DEDEDE;
            }

            #map-canvas {
              width: 100%;
              height: 98%;
            }
          }

        }

        #statistics-panel-container {;
          width: 100%;
          height: 430px;
          float: none;
          #statistics-panel {
            #statistics-gauges-container {
              display: inline-block;
              padding-top: 0;
              margin-top: 0;
              margin-bottom: 10px;

              .dashboard-statistics-pie-chart {
                float: none;
                margin: -5px 25px 0px 0px;
                height: 130px;
                width: 120px;
                .title {
                  padding: 0;
                  margin: 20px 0 -15px 0;
                  font-size: 13px;
                }
                svg {
                  margin: 0 auto;
                  padding: 0;
                  height: 130px;
                  width: 120px;
                }

                .chart {
                  height: 130px;
                  width: 120px;
                }
              }
              .dashboard-statistics-counter {
                float: none;
                margin: 10px 30px 0 0;
              }

            }
          }
        }

        #ratings-panel-container {
          width: 100%;
          float: none;
          #ratings-panel {
            #ratings-container {
              .dashboard-statistics-rating {
                .title {
                  padding: 0;
                  margin: 5px 0 0 0;
                  font-size: 12px;
                }

                float: left;
              }
            }
          }
        }
      }

      #activity-log-panel {

        .accordion-heading {
          a {
            font-size: 10px;
            padding-left: 10px;
            color: #fff;
          }
        }

        .accordion-body {
          border: 1px solid rgba(128, 128, 128, 0.28);
          text-align: left;
          padding: 10px;

          font-size: 10px;
        }

        pre {
          font-size: 9px;
        }
      }

    }

    .panel {
      width: 100%;
      height: 100%;
    }
  }

  #swagger {
    .heading {
      h2 {
        font-size: 18px;
      }
      h3 {
        font-size: 16px;
      }
      h4 {
        font-size: 12px;
      }
      height: 35px;
    }

    width: 98%;
    margin: 20px 0 0 auto;
    padding: 0;

  }

  #statistics {
    .container {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .row {
      width: 100%;
    }
    #chart-title{
      padding: 0;
      h2{
        display: inline-block;
        margin: 0 0 15px 50px;
        padding: 0;
      }
      .image-wrapper {
        background-color: #90b1d6;
        height: 26px;
        width: 26px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
        margin: 7px 17px 0 0;
        &:active {
          position: relative;
          top: 1px;
        }
      }
      .loading-indicator {
        height: 26px;
        width: 26px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
        margin: 7px 17px 0 0;
      }
      img {
        width: 22px;
        margin: 2px 0 0 0;
        padding: 0 0 0 0;
      }
    }
    #chart-container {
      width: 100%;
      margin: 40px auto 0;

      .col-md-2 {
        padding: 0 10px 0 0;
        margin: 0;
      }

      .col-md-9 {
        padding: 0;
        margin: 0;
      }

      #time-series-container {
        margin: 0;
        #historic-chart-container {
          #historic-chart {
            height: 380px;
          }
        }
        #forecast-chart-container {
          #forecast-chart {
            height: 380px;
          }
        }
      }

      #map-container {
        height: 380px;
        text-align: center;
        margin: 0 0 0 40px;
        #heat-map {
          display: inline-block;
          height: 100%;
          width: 100%;
        }
      }

      .panel-heading {
        height: 18px;
        padding: 0;

        .panel-title {
          font-size: 13px;
        }
      }



      #filters-container {
        margin: 0 2% 30px 2%;

        .image-wrapper {
          background-color: #aeafab;
          height: 48px;
          width: 48px;
          text-align: center;
          display: inline-block;
          vertical-align: bottom;
          padding-top: 15px;
          &:active {
            position: relative;
            top: 1px;
          }
        }

        img {
          width: 32px;
          margin: 0;
          padding: 0;
        }


        a{
          display: inline-block;
          vertical-align: bottom;
        }

        #historic-toggle-container{
          display: inline-block;
          margin-right: 5px;
          img{
            margin: -7px 0 0 0;
          }

          .image-wrapper {
            background-color: #0f11af;
            color: #ffffff;
          }
        }

        #chart-type-toggle-container {
          display: inline-block;
          margin-right: 5px;

          .image-wrapper {
            background-color: #19af1f !important;
            color: #ffffff;
          }
          #statistics-toggle {
            margin: -7px 0 0 0;
          }

          #heatmap-toggle {
            margin: -7px 0 0 0;
          }
        }

        #data-mode-toggle-container{
          display: inline-block;
          margin-right: 5px;
          img{
            margin: -7px 0 0 0;
          }

          .image-wrapper {
            background-color: #670f96;
            color: #ffffff;
          }
        }

        #farmed-toggle-container{
          display: inline-block;
          margin-right: 5px;
          img{
            margin: -7px 0 0 0;
          }

          .image-wrapper {
            background-color: #960907;
            color: #ffffff;
          }
        }

        .panel {
          display: inline-block;
          margin: 0 0 10px 0;
        }

        .panel-body {
          height: auto;
          margin: 5px 0 0 0;
          padding: 0 10px 0 10px;
        }

        .filter-button {
          background-color: #ededed;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          text-indent: 0;
          border: 1px solid #dcdcdc;
          color: #888888;
          text-decoration: none;
          text-align: center;
          font-size: 12px;
          height: 28px;
          width: 70px;
          margin: 0 2px 5px 5px;

          &:hover {
            background-color: rgb(239, 109, 14);
            color: #ffffff;
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }

        .active {
          background-color: rgb(239, 109, 14);
          color: #ffffff;
        }
      }

      #selectors-container {
        height: 100%;
        float: right;
        margin-top: -43px;
        .panel {
          margin: 0 0 10px 0;
        }
        .panel-body {
          margin: 0 0 0 0;
          height: auto;
        }

        select {
          border: 0;
          font-size: 12px;
          width: 100%;
        }

        #realtime-panel{
          .panel-body{
            padding: 8px 2px 3px 2px;
            margin: 0;
          }
        }

        #time-range-panel{
          .panel-body{
            padding: 8px 8px 0 8px;
            margin: 0;
          }
          .form-control{
            font-size: 12px;
            height: 30px;
          }
          #start-date{
            margin-bottom: 3px;
          }
          #end-date{
            margin-bottom: 7px;
          }
        }

        #realtime-button {
          margin: 0 0 10px 0;
          width: 100%;
          height: 28px;

          background-color: #ededed;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          text-indent: 0;
          border: 1px solid #dcdcdc;
          color: #888888;
          text-decoration: none;
          text-align: center;
          font-size: 12px;

          &:hover {
            background-color: rgb(23, 28, 239);
            color: #ffffff;
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }

        .active {
          background-color: rgb(23, 28, 239) !important;
          color: #ffffff !important;
        }

        #display-modes-container {
          width: 100%;
          input {
            margin: 0 0 5px 0;
            width: 49%;
            height: 28px;

            background-color: #ededed;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            text-indent: 0;
            border: 1px solid #dcdcdc;
            color: #888888;
            text-decoration: none;
            text-align: center;
            font-size: 12px;

            &:hover {
              background-color: rgb(17, 161, 16);
              color: #ffffff;
            }
            &:active {
              position: relative;
              top: 1px;
            }
          }

          .active {
            background-color: rgb(17, 161, 16) !important;
            color: #ffffff !important;
          }

          #percentage-button {
            float: left;
          }

          #absolute-button {
            float: right;
          }
        }

        #farmed-intervals-container {
          text-align: center;
          width: 100%;
          input {
            display: inline-block;
            margin: 0 0 1px 0;
            width: 30%;
            height: 28px;

            background-color: #ededed;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            text-indent: 0;
            border: 1px solid #dcdcdc;
            color: #888888;
            text-decoration: none;
            text-align: center;
            font-size: 12px;

            &:hover {
              background-color: rgb(255, 76, 63) !important;
              color: #ffffff;
            }
            &:active {
              position: relative;
              top: 1px;
            }
          }

          .active {
            background-color: rgb(255, 76, 63) !important;
            color: #ffffff !important;
          }

          .disabled {
            background-color: #ededed !important;
            color: #888888 !important;
            &:hover {
              background-color: #ededed !important;
              color: #888888 !important;
            }
          }

          #percentage-button {
            float: left;
          }

          #absolute-button {
            float: right;
          }
        }

        #realtime-intervals-container {
          text-align: center;
          width: 100%;
          input {
            display: inline-block;
            margin: 0 0 5px 0;
            width: 17%;
            height: 28px;

            background-color: #ededed;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            text-indent: 0;
            border: 1px solid #dcdcdc;
            color: #888888;
            text-decoration: none;
            text-align: center;
            font-size: 12px;

            &:hover {
              background-color: rgb(255, 76, 63) !important;
              color: #ffffff;
            }
            &:active {
              position: relative;
              top: 1px;
            }
          }

          .active {
            background-color: rgb(255, 76, 63) !important;
            color: #ffffff !important;
          }

          .disabled {
            background-color: #ededed !important;
            color: #888888 !important;
            &:hover {
              background-color: #ededed !important;
              color: #888888 !important;
            }
          }

          #percentage-button {
            float: left;
          }

          #absolute-button {
            float: right;
          }
        }

        #datepicker {
          margin: 0 0 10px 0;
          input {
            height: 28px;
          }
          .input-group-addon {
            line-height: 0;
          }
        }

        #network-select-container {
          #networks-select {
            height: 155px;
          }
        }

        #fleet-select-container {
          #fleets-select {
            height: 155px;
          }
        }

        #driver-select-container {
          #drivers-select {
            height: 155px;
          }
        }
      }
    }

    @media(min-width: 1400px){
      #chart-container{
        #time-series-container {
          margin: 0;
          #historic-chart-container {
            #historic-chart {
              height: 700px;
            }
          }
          #forecast-chart-container {
            #forecast-chart {
              height: 700px;
            }
          }
        }

        #map-container {
          height: 700px;
          text-align: center;
          margin: 0 0 0 40px;
          #heat-map {
            display: inline-block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 991px) {
      #chart-title{
        margin: -10px 0 0 0;
        width: 80%;
      }
      #chart-container {
        h2 {
          margin: 0 auto;
        }

        #filters-container {
          margin: 0 0 10px 0;
          float: left;
          .panel {
            width: 100%;
          }

          .panel-body {
            width: 100%;
          }

          .filter-button {
            width: 85px;
            float: left;
            margin-left: 2%;
          }
        }
        .image-wrapper{
          margin-bottom: 10px;
        }

        #selectors-container {
          #datepicker {
            margin: 0 10px 10px 0;
          }
        }
        #map-container {
          height: 500px;
          text-align: center;
          margin: 0 0 0 0;
          #heat-map {
            display: inline-block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 767px) {
      #chart-container {
        h2 {
          margin: 0 auto;
        }
        .image-wrapper{
          margin-bottom: 10px;
        }

        #filters-container {
          margin: 0 0 10px 0;
          float: left;
          .panel {
            width: 100%;
          }

          .panel-body {
            width: 100%;
          }

          .filter-button {
            width: 85px;
            float: left;
            margin-left: 2%;
          }
        }

        #selectors-container {
          float: left;
          #datepicker {
            margin-bottom: 10px;
          }
        }
        #map-container {
          height: 400px;
          text-align: center;
          margin: 0 0 0 0;
          #heat-map {
            display: inline-block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  #partners {

    height: 100%;
    width: 100%;

    .container {
      padding: 0;
      margin: 20px 0 0 0;
      width: 100%;
    }

    .col-md-10 {
      padding: 0 10px 0 0;
    }

    .col-md-2 {
      padding: 0 10px 0 0;
    }

    .col-md-9 {
      padding: 0 10px 0 10px;
    }

    .col-md-12 {
      padding: 0;
      margin: 0;
    }

    .col-md-3 {
      padding: 0 10px 0 10px;
      margin: 0 0 0 0;
    }

    #map-column {
      margin-top: 15px;
    }

    #partner-select-container {
      margin: 0 0 0 0;
      height: 95%;
      width: 100%;

      #partner-select {
        border: none;
        height: 600px;
        width: 100%;
      }
    }

    #partner-info {
      min-height: 165px;
      height: 165px;
      overflow-y: hidden;
      overflow-x: hidden;
      text-align: left;

      h1 {
        font-size: 22px;
        padding: 0;
        margin: -3px 0 5px 0;
        text-align: center;

        span {
          font-size: 18px;
          color: #a1a1a1;
        }
      }
    }

    #partner-coverage-map-container {
      height: 357px;
      width: 98%;

      #partner-coverage-map {
        height: 100%;
        width: 100%;
        text-align: center;
        img {
          display: inline-block;
        }
      }
    }

    .panel {
      margin: 0;
      padding: 0;
    }

    .panel-heading {
      height: 20px;

      .panel-title {
        line-height: 0;
      }
    }

    #statistics-panel-container {
      margin-top: 15px;
      width: 100%;
      float: none;
      #statistics-panel {
        #statistics-gauges-container {
          padding-top: 0;
          margin-top: 10px;
          margin-bottom: 10px;
          height: 405px;
          text-align: center;

          .dashboard-statistics-pie-chart {
            display: inline-block;
            .title {
              padding: 0;
              margin: 25px 0 0px 0;
              font-size: 12px;
            }

            height: 95px;
            width: 120px;
            padding: 0;

            svg {
              margin: 0 auto;
              padding: 0;
              height: 95px;
              width: 120px;
            }

            .chart {
              height: 95px;
              width: 120px;
            }
          }

        }
      }
    }

    #ratings-panel-container {
      #ratings-panel {
        height: 137px;

        #ratings-container {
          margin-top: -10px;
          text-align: center;
          .dashboard-statistics-rating {
            .title {
              display: inline-block;
              padding: 0;
              margin: 10px 0 0 0;
              font-size: 12px;
            }

            .flexible-stars {

              i {
                display: inline-block
              }
              [class^="sprite-"] {
                background: url(rating-stars-big.png) no-repeat top left;
              }

              .sprite-gold-star {
                background-position: 0 0;
                width: 29px;
                height: 28px;
              }
              .sprite-half-star {
                background-position: 0 -78px;
                width: 29px;
                height: 28px;
              }
              .sprite-silver-star {
                background-position: 0 -156px;
                width: 29px;
                height: 28px;
              }
            }
          }
        }
      }
    }

    #partner-info-main {
      input {
        margin-top: 15px;
        width: 180px;
        height: 28px;

        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        text-indent: 0;
        border: 1px solid #dcdcdc;
        background-color: rgb(17, 161, 16);
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        &:active {
          position: relative;
          top: 1px;
        }
      }
      text-align: left;

      h1 {
        display: inline-block;
        font-size: 26px;
        margin-left: 10%;
      }
      #partnership-button {

      }
      #negotiate-button {
        background-color: rgb(161, 21, 36);
        color: #ffffff;
      }
    }

    #partner-info-rating {
      margin-top: -20px;
      overflow-y: hidden;

      .panel {
        border: 0;
        overflow-y: hidden;
      }

      .panel-body {
        overflow-y: hidden;
      }

      #review-text {
        height: 90px;
        width: 100%;
        float: right;
      }

      #submit-rating {
        margin-top: 5px;
        width: 180px;
        height: 28px;

        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        text-indent: 0;
        border: 1px solid #dcdcdc;
        background-color: rgb(41, 97, 248);
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        &:active {
          position: relative;
          top: 1px;
        }
      }

      .flexible-stars {

        i {
          display: inline-block
        }
        [class^="sprite-"] {
          background: url(rating-stars-big.png) no-repeat top left;
        }

        .sprite-gold-star {
          background-position: 0 0;
          width: 29px;
          height: 28px;
        }
        .sprite-half-star {
          background-position: 0 -78px;
          width: 29px;
          height: 28px;
        }
        .sprite-silver-star {
          background-position: 0 -156px;
          width: 29px;
          height: 28px;
        }
      }
    }

    @media (min-width: 1400px) {
      padding-right: 10px;

      .container{
        padding: 0;
        margin: 40px 0 0 0;
      }

      #statistics-panel-container {
        margin-top: 15px;
        width: 100%;
        float: none;
        #statistics-panel {
          #statistics-gauges-container {
            padding-top: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 590px;
            text-align: center;

            .dashboard-statistics-pie-chart {
              display: inline-block;
              .title {
                padding: 0;
                margin: 25px 0 0px 0;
                font-size: 12px;
              }

              height: 120px;
              width: 130px;
              margin: 18px 0 20px 0;

              svg {
                margin: 0 auto;
                padding: 0;
                height: 120px;
                width: 130px;
              }

              .chart {
                height: 120px;
                width: 130px;
              }
            }

          }
        }
      }

      #ratings-panel-container {
        #ratings-panel {
          height: 167px;
          margin: 10px 0 0 0;
          #ratings-container {

            #dashboard-ratings-container {
              display: inline-block;
              margin: 0 0 0 0;
              width: 200px;
            }

            .dashboard-statistics-rating {
              .title {
                padding: 0;
                margin: 15px 0 0 0;
                font-size: 14px;
              }
            }
          }
        }
      }
      #partner-coverage-map-container {
        height: 580px;
        width: 98%;

        #partner-coverage-map {
          height: 100%;
          width: 100%;
          text-align: center;
          img {
            display: inline-block;
          }
        }
      }

      #partner-select-container {
        margin: 0 0 0 0;
        height: 95%;
        width: 100%;

        #partner-select {
          border: none;
          height: 825px;
          width: 100%;
        }
      }
    }

    @media (max-width: 991px) {
      .container{
        padding: 0;
        margin: 20px 0 0 0;
      }
      .col-sm-9 {
        margin: 0;
        padding: 0 0 0 5px;
      }

      .col-sm-3 {
        margin: 0;
        padding: 0 5px 0 0;
      }

      .col-sm-12 {
        width: 100%;
        height: 180px;
        padding: 0;
        margin: 0;
      }

      #statistics-panel-container {
        width: 74.5%;
        float: left;
        margin: 0 0 20px 0;
        text-align: center;
        #statistics-panel {
          display: inline-block;
          text-align: center;
          padding-bottom: 0;
          #statistics-gauges-container {
            display: inline-block;
            text-align: center;
            padding-top: 0;
            margin: -10px 0 10px 0;
            height: 102px;
            width: 300px;
            .dashboard-statistics-pie-chart {
              display: inline-block;
              height: 110px;
              width: 110px;
              margin: 0 18px 0 0;

              .title {
                padding: 0;
                margin: 10px 0 -10px 0;
                font-size: 12px;
              }

              svg {
                margin: 0 0 0 0;
                padding: 0;
                height: 110px;
                width: 110px;
              }

              .chart {
                height: 110px;
                width: 110px;
              }
            }
          }
        }
      }

      #ratings-panel-container {
        width: 24.5%;
        float: right;
        margin: 0 0 20px 0;
        height: 170px;
        text-align: center;
        #ratings-panel {
          text-align: center;
          display: inline-block;
          #ratings-container {
            text-align: center;
            display: inline-block;
            #dashboard-ratings-container {
              margin: 0 0 0 0;
              width: 160px;
              float: left;
            }
            .dashboard-statistics-rating {
              display: inline-block;
              .title {
                padding: 0;
                margin: 10px 0 0 0;
                font-size: 12px;
              }
              float: left;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {

      .col-xs-12 {
        padding-right: 0px;
        padding-left: 0px;
        height: 100% !important;
      }
      #statistics-panel-container {
        width: 100%;
        height: 180px;
        margin: 0;
        float: none;
        text-align: center;
        #statistics-panel {
          text-align: center;
          display: inline-block;
          width: 100%;
          margin: 0;
          #statistics-gauges-container {
            display: inline-block;
            text-align: center;
            padding: 0 0 0 0;
            margin: 0 0 10px -20px;
            width: 300px;

            .dashboard-statistics-pie-chart {
              display: inline-block;
              margin: 0 0 10px 0;
              height: 100px;
              width: 100px;
              .title {
                padding: 0;
                margin: 10px 0 -5px 0;
                font-size: 10px;
              }
              svg {
                margin: 0 auto;
                padding: 0;
                height: 100px;
                width: 100px;
              }

              .chart {
                height: 100px;
                width: 100px;
              }
            }

          }
        }
      }

      #ratings-panel-container {
        width: 100%;
        float: none;
        margin: 0;
        #ratings-panel {
          #ratings-container {
            .dashboard-statistics-rating {
              .title {
                padding: 0;
                margin: 5px 0 0 0;
                font-size: 12px;
              }

              float: left;
            }
          }
        }
      }

      #partner-select-container {
        margin: 0 0 10px 0;
        height: 95%;
        width: 100%;

        #partner-select {
          border: none;
          height: 250px;
        }
      }

      .col-md-3 {
        margin-bottom: 10px;
      }

      #partner-info {
        height: 300px;
      }
      #partner-info-main {
        height: 150px;
      }
    }

  }

  #report {
    .col-lg-4 {
      margin: 0 0 0 0;
      padding: 0 10px 0 0;
    }
    .panel-body-trips {
      .img {
        max-height: 50px;
        max-width: 50px;
        align-content: center;
      }
      max-height: 525px;
      border: none;
      overflow-y: scroll;
    }

    @media (min-width: 992px) {
      padding-left: 25px;
    }

    @media (min-width: 1400px) {
      padding-left: 0px;
      .panel-body-trips {
        max-height: 800px;
      }
    }
  }

  #money {
    .container {
      padding-top: 20px;
      height: 100%;
      width: 100%;
    }
    .panel {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .panel-footer {
      height: 90%;
      margin-bottom: 10px;
    }
    .col-sm-3 {
      //height: 600px;
      margin: 0 10px 0 0;
      padding: 0;
    }
    .panel-footer-trips {
      height: 540px;
      border: none;
      overflow-y: scroll;
      font-size: 12px;
    }
    .list-group-item {
      background: #ffffff;
    }
    #partner-select-container {
      width: 20%;
      #partners-select {
        border: none;
        height: 100%;
        width: 100%;
      }
    }
    #farmed-intervals-container {
      text-align: center;
      width: 100%;
      input {
        display: inline-block;
        margin: 0 0 1px 0;
        width: 30%;
        height: 28px;

        background-color: #ededed;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        text-indent: 0;
        border: 1px solid #dcdcdc;
        color: #888888;
        text-decoration: none;
        text-align: center;
        font-size: 12px;

        &:hover {
          background-color: rgb(255, 76, 63) !important;
          color: #ffffff;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }

      .active {
        background-color: rgb(255, 76, 63) !important;
        color: #ffffff !important;
      }

      .disabled {
        background-color: #ededed !important;
        color: #888888 !important;
        &:hover {
          background-color: #ededed !important;
          color: #888888 !important;
        }
      }

      #percentage-button {
        float: left;
      }

      #absolute-button {
        float: right;
      }
    }
    #farmed-in-container {
      width: 55%;
    }
    #farmed-out-container {
      width: 55%;
      overflow-x: hidden;
      overflow-y: hidden;
      .panel-footer{
        overflow-x: hidden;
      }
    }
    #balance-container {
      width: 21%;
      text-align: center;
      height: 250px;
      margin: 0;
      .imageGif {
        margin-top: 20px;
        height: 64px;
        width: 64px;
        display: inline-block;
        visibility: hidden;
      }
      #balanceDiv {
        background-color: #fff;
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
        height: 150px;
      }
    }

    @media (min-width: 1400px){
      .col-lg-3{
        height: 900px;
      }
      .panel-footer-trips {
        height: 840px;
        font-size: 14px;
      }
    }

    @media (max-width: 991px){
      #balance-container{
        height: 250px;
        h2{
          font-size: 25px;
        }
      }
      .panel-footer-trips {
        font-size: 10px;
      }
    }

    @media (max-width: 767px) {
      .col-xs-12{
        height: 300px;
        width: 100% !important;
        margin-bottom: 15px;
      }
      .panel-footer-trips {
        height: 242px;
        border: none;
        overflow-y: scroll;
        font-size: 12px;
      }
    }
  }
}


@keyframes move-right {
  100%  {
    transform: translateX(60px);
  }
}
@-webkit-keyframes move-right {
   100%  {
     -webkit-transform: translateX(60px);
   }
}
@-moz-keyframes move-right {
  100%  {
    -moz-transform: translateX(60px);
  }
}

@keyframes move-left {
  100%  {
    transform: translateX(-60px);
  }
}
@-webkit-keyframes move-left {
  100%  {
    -webkit-transform: translateX(-60px);
  }
}
@-moz-keyframes move-left {
  100%  {
    -moz-transform: translateX(-60px);
  }
}