// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions {
  height: 100%;
  #login_container {
    background: #545455;
    height: 100%;

    .container {
      margin-top: 50px;
      border-top: 50px solid #545455;
      width: 80%;
      height: 100%;
    }

    .login {
      background: #fff;
      padding-top: 100px;
      height: 100%;
    }

    .login_dialog {
      margin: 0 auto;
      width: 500px;
      background: #fff;
      text-align: center;
      border: 1px solid #DEDEDE;
    }
  }
}

@media (max-width: 991px) {
#sessions {
    #login_container {

      .container {
        width: 80%;
      }

      .login {
      }

      .login_dialog {
        width: 500px;
      }
    }
}
}

@media (max-width: 767px) {
#sessions {
  #login_container {

    .container {
      width: 100%;
    }

    .login {
    }

    .login_dialog {
      width: 80%;
      max-width: 500px;
    }
  }
}
}