#static_pages_home {

  #sec1 {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #fff;
    h1{
      font-weight: bold;
    }

    p {
      margin-top: 20px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  #slider {
    margin-top: 60px;
  }

  .flickerplate {
    height: 100%;
    .flicks li{
      height: 100%;
    }
  }
  .blurb {
    padding: 120px 0;
    min-height: 500px;
    background-color:#fefefe;
  }

  .blurb .panel {
    background-color: transparent;
  }


  .bright {
    background: #7fbbda url('home.jpg') no-repeat fixed;
    color:#fff;
  }

  .featurette {
    background: #545455;
    padding: 50px 0;
    color: #ffffff;
    min-height: 600px;
    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .container {

      width: 80%;
    }

    .featurette-item {
      padding-bottom: 30px;
      text-align: left;
      img{
        height: 64px;
        width: 64px;
      }
      .info{
        h4{
          font-weight: bold;
          margin-bottom: 8px;
        }
        min-height: 170px;
      }
    }
  }

  .callout {
    color: #ffffff;
    padding-top:7%;
    height: 100%;
    width: 100%;
    background: url('home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .gallery {
    padding: 50px 0;
  }

  .call-to-action {
    background: #eeeeee;
    padding: 50px 0;
  }

  .call-to-action .btn {
    margin: 10px;
  }
  #sec1 {
    margin-top: 320px;
    .text {
      margin-top: 5%;
    }
  }
  #sec2{
    color: #ffffff;
    p {
      color: #ffffff;
    }
  }

  #sec3 {
    background-color: #fbfeff;
  }

  #sec4 {
    background-color: #229247;
    min-height: 400px;

    button {
      background-color: #a1202a;
      border-color: #a1202a;
    }
  }

  #sec5 {
    min-height: 320px;
    height: 320px;
    background-color: #722a39;
    h1 {
      margin-top: 0px;
      margin-bottom: 50px;
    }

    .featurette-item {
      text-align: center;
      img {
        display: inline-block;
        width: auto;
      }
      #success-taxibeat {
        height: 35px;
        margin-top: 30px;
      }
      #success-gettaxi {
        height: 75px;
        margin-top: -15px;
      }
      #success-lecab {
        height: 41px;
        margin-top: 20px;
      }
      #success-easytaxi {
        height: 70px;
        margin-top: 5px;
      }
    }
    .featurette-item-detail {
      margin-top: -20px;
      .sequence {
        #stat {
          height: 15px;
        }
      }
    }
  }

  .flickerplate ul.flicks > li .flick-title span.flick-block-text, .flickerplate ul.flicks > li .flick-sub-text span.flick-block-text {
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
  }
  .flickerplate ul.flicks > li .flick-sub-text {
    color: rgb(255, 255, 255) !important;
    line-height: 1.5em;
    text-align: center;
    font-size: 2.1rem;
  }
  .flick-title{
    font-size: 35px;
  }
}

#static_pages_faq{
  .faq {
    background: #545455;
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .question {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

#static_pages_about{
  .about_section {
    background: #545455;
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .about {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

@media (min-width: 1400px) {
  #static_pages_home {
    .network-stats-slider {
      height: 22px;
      .stat {
        font-size: 16px;
      }
    }
    #sec5 {
      .featurette-item {
        #success-taxibeat {
          height: 50px;
          margin-top: 25px;
        }
        #success-gettaxi {
          height: 90px;
          margin-top: -20px;
        }
        #success-lecab {
          height: 56px;
          margin-top: 15px;
        }
        #success-easytaxi {
          height: 85px;
          margin-top: 0px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #static_pages_faq {
    .faq {
      .container {

        width: 80%;
      }
    }
  }

  #static_pages_about {
    .about_section {
      .container {
        width: 80%;
      }
    }
  }

  #static_pages_home {
    .featurette {
      .featurette-item {
        .info {
          min-height: 0;
        }
        .image-wrapper {
          margin-bottom: 10px;
        }
      }
    }
    #sec1 {
      margin-top: 0px;
    }
    #sec4 {
      h1{
        font-size: 3rem;
      }
    }
    #sec5 {
      height: auto;
      .featurette-item {
        img {
          margin-bottom: 20px;
        }
        #success-taxibeat {
          height: 40px;
          margin-top: 25px;
        }
        #success-gettaxi {
          height: 80px;
          margin-top: -20px;
        }
        #success-lecab {
          height: 46px;
          margin-top: 15px;
        }
        #success-easytaxi {
          height: 75px;
          margin-left: -5px;
        }
      }
    }
    .bright {
      background: #7fbbda url("home.jpg") no-repeat !important;
    }
  }
}

@media (max-width: 767px) {
  #static_pages_faq{
    .faq {
      .container {

        width: 100%;
      }
    }
  }

  #static_pages_about{
    .about_section {
      .container {
        width: 100%;
      }
    }
  }
  #static_pages_home {
    .featurette {
      .featurette-item {
        .info {
          min-height: 0;
        }
        .image-wrapper{
          margin-bottom: 10px;
        }
      }
    }
    #sec1 {
      p {
        font-size: 1.5rem !important;
      }
      h1{
        font-size: 3rem !important;
      }
      margin-top: 0px;
    }
    #sec4 {
      h1{
        font-size: 3rem;
      }
    }
    #sec5 {
      height: auto;
      .featurette-item {
        img {
          margin-bottom: 20px;
        }
        #success-taxibeat {
          height: 40px;
          margin-top: 25px;
        }
        #success-gettaxi {
          height: 80px;
          margin-top: -20px;
        }
        #success-lecab {
          height: 46px;
          margin-top: 15px;
        }
        #success-easytaxi {
          height: 75px;
          margin-left: -5px;
        }
      }
    }
    .bright{
      background: #7fbbda url("home.jpg") no-repeat !important;
    }
  }

  .featurette {

    h1{
      font-size: 3rem;
    }
    .featurette-item {
      .info{
        h4{
          font-size: 1.5rem !important;
        }
      }
    }
  }

  .flickerplate ul.flicks > li .flick-sub-text {
    font-size: 1.5rem !important;
  }
  .flick-title{
    font-size: 3rem !important;
  }

}

