#static_pages_home {

  #sec1 {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #fff;

    p {
      margin-top: 20px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .flickerplate {
    height: 90vh;
    .flicks li{
      height: 90vh !important;
    }
  }
  .blurb {
    padding: 120px 0;
    min-height: 500px;
    background-color:#fefefe;
  }

  .blurb .panel {
    background-color: transparent;
  }


  .bright {
    background: #7fbbda url('home.jpg') no-repeat fixed;
    color:#fff;
  }

  .featurette {
    background: #545455;
    padding: 50px 0;
    color: #ffffff;
    min-height: 600px;
    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 20px;
    }

    .container {

      width: 80%;
    }

    .featurette-item {
      padding-bottom: 30px;
      text-align: left;
      img{
        height: 64px;
        width: 64px;
      }
      .info{
        h4{
          font-weight: bold;
          margin-bottom: 8px;
        }
        min-height: 170px;
      }
    }
  }

  .callout {
    color: #ffffff;
    padding-top:7%;
    height: 100%;
    width: 100%;
    background: url('home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .gallery {
    padding: 50px 0;
  }

  .call-to-action {
    background: #eeeeee;
    padding: 50px 0;
  }

  .call-to-action .btn {
    margin: 10px;
  }
  #sec2{
    color: #ffffff;
    p {
      color: #ffffff;
    }
  }

  #sec3 {
    background-color: #fbfeff;
  }

  #sec4 {
    background-color: #229247;

    h1 {
      font-size: 50px;
    }

    button {
      background-color: #a1202a;
      border-color: #a1202a;
    }
  }

  .flickerplate ul.flicks > li .flick-title span.flick-block-text, .flickerplate ul.flicks > li .flick-sub-text span.flick-block-text {
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
  }
  .flickerplate ul.flicks > li .flick-sub-text {
    color: rgb(255, 255, 255) !important;
    line-height: 1.5em;
    text-align: center;
    font-size: 2.1rem;
  }
}

#static_pages_faq{
  .faq {
    background: #545455;
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .question {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

#static_pages_about{
  .about_section {
    background: #545455;
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .about {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

@media (max-width: 991px) {
  #static_pages_faq{
    .faq {
      .container {

        width: 80%;
      }
    }
  }

  #static_pages_about{
    .about_section {
      .container {
        width: 80%;
      }
    }
  }

  #static_pages_home {
      .featurette {
        .featurette-item {
          .info {
            min-height: 0;
          }
          .image-wrapper{
            margin-bottom: 10px;
          }
        }
      }
  }
}

@media (max-width: 767px) {
  #static_pages_faq{
    .faq {
      .container {

        width: 100%;
      }
    }
  }

  #static_pages_about{
    .about_section {
      .container {
        width: 100%;
      }
    }
  }
  #static_pages_home {
      .featurette {
        .featurette-item {
          .info {
            min-height: 0;
          }
          .image-wrapper{
            margin-bottom: 10px;
          }
        }
      }
  }
}

