#static_pages_home {

  #sec1 {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #fff;

    p {
      color: #ffffff;
    }
  }

  #sec2{
    color: #ffffff;
    p {
      color: #ffffff;
    }
  }

  #sec3 {
    background-color: #fbfeff;
  }

  #sec4 {
    background-color: #229247;

    h1 {
      font-size: 50px;
    }

    button {
      background-color: #a1202a;
      border-color: #a1202a;
    }
  }

  .flick-sub-text{
    font-weight: bold;
  }
}

#static_pages_faq{
  .faq {
    background: #545455;
    #background: rgb(60, 106, 221);
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .question {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

#static_pages_about{
  .about_section {
    background: #545455;
    #background: rgb(60, 106, 221);
    padding-bottom: 100px;
    min-height: 600px;

    .container {

      width: 80%;
    }

    .about {
      padding: 70px 0;
      background-color: #fefefe;
      margin-bottom: -150px;

      h1 {
        font-size: 30px;
        font-weight: 300;
      }

      .lead {
        font-size: 17px;
      }
    }
    .first{
      margin-top: 50px;
      border-top: 50px solid #545455;
    }
  }
}

@media (max-width: 991px) {
  #static_pages_faq{
    .faq {
      .container {

        width: 80%;
      }
    }
  }

  #static_pages_about{
    .about_section {
      .container {

        width: 80%;
      }
    }
  }
}

@media (max-width: 767px) {
  #static_pages_faq{
    .faq {
      .container {

        width: 100%;
      }
    }
  }

  #static_pages_about{
    .about_section {
      .container {

        width: 100%;
      }
    }
  }
}

